Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

Fix: default-user-data for stock to enable autologin in late-commands (#798)
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/stock/default-user-data
Due: Device Connectors

chore: remove redundant line
  server/src/testflinger/api/v1.py
Due: Server

fix: update checks to match latest changes from `main`
  server/tests/test_v1_secrets.py
Due: Server

test modifying OCI image in charmcraft.yaml
  .github/workflows/server-charm-release.yml
Due: none

feat: allow server charm release to use docker image built from branch
  .github/workflows/server-charm-release.yml
Due: none

chore: revert workflow change
  .github/workflows/server-charm-release.yml
Due: none

[CERTTF-440] Introduce an endpoint for storing secrets (#796)
  server/HACKING.md
  server/app.py
  server/devel/docker-compose.override.yml
  server/docker-compose.yml
  server/pyproject.toml
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/application.py
  server/src/testflinger/secrets/__init__.py
  server/src/testflinger/secrets/exceptions.py
  server/src/testflinger/secrets/store.py
  server/src/testflinger/secrets/vault.py
  server/testflinger.env
  server/tests/test_v1_secrets.py
  server/tests/test_vault_store.py
  server/uv.lock
Due: Server

Create new endpoint for multi agent submission of child jobs
  device-connectors/src/testflinger_device_connectors/devices/multi/multi.py
  device-connectors/src/testflinger_device_connectors/devices/multi/tfclient.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_v1_authorization.py
Due: Device Connectors, Server

ff
  server/src/testflinger/api/v1.py
  server/tests/test_v1_authorization.py
Due: Server

Formatting
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_v1_authorization.py
Due: Server

Linting errors
  device-connectors/src/testflinger_device_connectors/devices/multi/tfclient.py
Due: Device Connectors

chore: update charm libraries
  agent/charms/testflinger-agent-host-charm/lib/charms/grafana_agent/v0/cos_agent.py
  agent/charms/testflinger-agent-host-charm/lib/charms/operator_libs_linux/v0/apt.py
Due: Agent

feat: extend job submission endpoint to validate jobs with secrets
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1_secrets.py
Due: Server

feat: include resolved secrets when assigning job to agent
  server/src/testflinger/api/v1.py
  server/src/testflinger/secrets/store.py
  server/src/testflinger/secrets/vault.py
  server/tests/test_v1_secrets.py
Due: Server

fix: format and lint
  server/pyproject.toml
  server/src/testflinger/api/v1.py
  server/tests/test_v1_secrets.py
  server/tox.ini
  server/uv.lock
Due: Server

chore: remove accessibility method
  server/src/testflinger/secrets/store.py
  server/src/testflinger/secrets/vault.py
Due: Server

fix: disallow the use of dots in secrets paths
  server/src/testflinger/api/schemas.py
Due: Server

chore: remove leftover print statement
  server/src/testflinger/secrets/vault.py
Due: Server

chore: improve documentation
  server/src/testflinger/api/v1.py
Due: Server

feat(server): add oidc routes and sign in button
  server/devel/dex-config.yaml
  server/docker-compose.yml
  server/src/testflinger/application.py
  server/src/testflinger/oidc/__init__.py
  server/src/testflinger/oidc/views.py
  server/src/testflinger/templates/_header.html
Due: Server

chore: move tests
  cli/tests/__init__.py
  cli/tests/conftest.py
  cli/tests/test_admin_cli.py
  cli/tests/test_autocomplete.py
  cli/tests/test_cli.py
  cli/tests/test_cli_auth.py
  cli/tests/test_client.py
  cli/tests/test_helpers.py
  cli/tox.ini
Due: CLI

feat: add `secret` subcommand to add and remove secrets
  cli/testflinger_cli/__init__.py
  cli/tests/test_secret.py
Due: CLI

feat: add mongo-based secrets store (WIP)
  server/src/testflinger/secrets/__init__.py
  server/src/testflinger/secrets/mongo.py
Due: Server

feat: add encryption to the MongoStore
  server/pyproject.toml
  server/src/testflinger/secrets/__init__.py
  server/src/testflinger/secrets/mongo.py
Due: Server

chore: add tests for MongoStore
  server/tests/test_mongo_store.py
  server/tests/test_v1_secrets.py
Due: Server

feat(server): Add dropdown button with logout functionality
  server/devel/dex-config.yaml
  server/src/testflinger/oidc/views.py
  server/src/testflinger/static/assets/css/testflinger.css
  server/src/testflinger/static/assets/js/filter.js
  server/src/testflinger/templates/_header.html
Due: Server

feat(server): register or update web client upon login
  server/src/testflinger/database.py
  server/src/testflinger/oidc/views.py
Due: Server

docs: Update API.md
  server/API.md
Due: Server

Simplify the argparser setup in testflinger-cli
  cli/testflinger_cli/__init__.py
Due: CLI

Reduce sleeping required in agent unit tests
  agent/src/testflinger_agent/job.py
  agent/src/testflinger_agent/runner.py
  agent/tests/test_agent.py
  agent/tests/test_job.py
Due: Agent

Add reference docs for output_polling_interval config
  docs/reference/testflinger-agent-conf.rst
Due: none

chore: catch `FileNotFoundError` instead of using `Path.exists`
  cli/testflinger_cli/auth.py
Due: CLI

Add flag for full agent data JSON output
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

chore: improve exception handling and update tests accordingly
  cli/testflinger_cli/__init__.py
  cli/tests/test_secret.py
Due: CLI

[CERTTF-441][CERTTF-444] Server handling of job containing secrets (#801)
  server/API.md
  server/pyproject.toml
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1_secrets.py
  server/tox.ini
  server/uv.lock
Due: Server

nitpicks
  server/docker-compose.yml
  server/src/testflinger/database.py
  server/src/testflinger/oidc/__init__.py
  server/src/testflinger/oidc/views.py
  server/src/testflinger/templates/_header.html
Due: Server

chore: improve auth handling and update tests accordingly
  cli/testflinger_cli/__init__.py
  cli/tests/test_secret.py
Due: CLI

chore: merge tests into parametrized ones
  cli/tests/test_secret.py
Due: CLI

tests: add unit tests for new oidc logic
  server/pyproject.toml
  server/tests/conftest.py
  server/tests/test_oidc.py
  server/uv.lock
Due: Server

fix: authentication checks
  cli/testflinger_cli/__init__.py
Due: CLI
