Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

Update control_host and links to be stricter (requires both keys and values to be strings)
  agent/src/testflinger_agent/schema.py
Due: Agent

chore: update charm libraries (#1189)
  server/charm/lib/charms/data_platform_libs/v0/data_interfaces.py
  server/charm/lib/charms/grafana_k8s/v0/grafana_dashboard.py
  server/charm/lib/charms/prometheus_k8s/v0/prometheus_scrape.py
  server/charm/lib/charms/traefik_k8s/v2/ingress.py
Due: Server

chore: Update justfiles to modular layout (#1173)
  .github/workflows/agent-tox.yml
  .github/workflows/cli-tox.yml
  .github/workflows/common-tox.yml
  .github/workflows/device-tox.yml
  .github/workflows/server-tox.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  agent/.pre-commit-config.yaml
  agent/charms/testflinger-agent-host-charm/.pre-commit-config.yaml
  agent/charms/testflinger-agent-host-charm/Makefile
  agent/charms/testflinger-agent-host-charm/concierge.yaml
  agent/charms/testflinger-agent-host-charm/justfile
  agent/justfile
  cli/.pre-commit-config.yaml
  cli/justfile
  common/.pre-commit-config.yaml
  common/justfile
  device-connectors/.pre-commit-config.yaml
  device-connectors/justfile
  docs.just
  docs/.pre-commit-config.yaml
  docs/justfile
  justfile
  server/.pre-commit-config.yaml
  server/HACKING.md
  server/charm/.pre-commit-config.yaml
  server/charm/Makefile
  server/charm/justfile
  server/docker-compose.yml
  server/justfile
Due: Agent, CLI, Common, Device Connectors, Server

Fixed bad doc display.
  docs/reference/testflinger-agent-conf.rst
Due: none

Updated against main, tweaked the workshop actions and tested, also added workshop test file
  .workshop/dev.yaml
  .workshop/test_workshop_actions.py
  CONTRIBUTING.md
  server/justfile
Due: Server

Fixed lint issue.
  server/src/testflinger/templates/agent_detail.html
Due: Server

Updated agent conf example to include links
  agent/testflinger-agent.conf.example
Due: Agent

Add table of roles to reference documentation (#1172)
  docs/.sphinx/_static/swagger-custom.css
  docs/CONTRIBUTING.md
  docs/conf.py
  docs/reference/api-roles.rst
  docs/reference/index.rst
Due: none

Added links to AgentIn and AgentOut schema, and agent_detail.html updated to handle "links" being empty
  server/src/testflinger/api/schemas.py
  server/src/testflinger/templates/agent_detail.html
Due: Server

Updated schema.
  server/schemas/openapi.json
Due: Server

fix: do not allow adding secret to OIDC account
  server/src/testflinger/api/v1.py
  server/tests/test_v1_authorization.py
Due: Server

fix: add min length validation
  server/src/testflinger/api/schemas.py
  server/tests/test_owasp_logging.py
  server/tests/test_v1_authorization.py
  server/tests/test_v1_authorization_roles.py
Due: Server

update schema
  server/schemas/openapi.json
Due: Server

Revert "quick fix to update the default TTL from 7 days to 14 days (#1136)"
  server/src/testflinger/database.py
  server/tests/test_database.py
Due: Server

Revert "quick fix to update the default TTL from 7 days to 14 days (#1136)" (#1205)
  server/src/testflinger/database.py
  server/tests/test_database.py
Due: Server

feat: populate dev admin
  server/devel/create_dev_admin.py
  server/devel/create_sample_data.py
  server/justfile
Due: Server

nitpick
  server/devel/create_dev_admin.py
Due: Server

implement /metrics *only* on port 9090 and not also on port 5000
  server/docker-compose.yml
  server/src/testflinger/extensions.py
Due: Server

update HACKING.MD
  server/HACKING.md
Due: Server

feat(dev): create dev admin for development purposes (#1206)
  server/HACKING.md
  server/devel/create_dev_admin.py
  server/devel/create_sample_data.py
  server/justfile
Due: Server

fixed tests and schema
  server/schemas/openapi.json
  server/tests/test_app.py
Due: Server

security(server): add schema validation to missing endpoints (#1191)
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/test_owasp_logging.py
  server/tests/test_v1.py
  server/tests/test_v1_authorization.py
Due: Server

Update /metrics port to it's own port, port 9090, such that it can be… (#1188)
  server/charm/charmcraft.yaml
  server/charm/src/charm.py
  server/docker-compose.yml
  server/schemas/openapi.json
  server/src/testflinger/application.py
  server/src/testflinger/extensions.py
  server/src/testflinger/views.py
  server/tests/test_app.py
Due: Server

add missing formatting
  server/tests/test_v1_authorization.py
Due: Server

fix: do not allow adding client_secret to OIDC account (#1204)
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/test_owasp_logging.py
  server/tests/test_v1_authorization.py
  server/tests/test_v1_authorization_roles.py
Due: Server

Apply suggestions from code review
  CONTRIBUTING.md
  server/justfile
Due: Server

Point CLI auth warning at current Testflinger docs
  cli/testflinger_cli/__init__.py
Due: CLI

Fix shell command filter status in tutorial
  docs/tutorial/index.rst
Due: none

Updated schema to define str: str format
  server/src/testflinger/api/schemas.py
Due: Server

docs: update to new link replacement JS template
  docs/.sphinx/_static/overwrite_links.js
Due: none

docs: support versioning and update sitemap path
  docs/conf.py
Due: none

Add control_host base device connector with phases REST client
  device-connectors/src/testflinger_device_connectors/devices/control_host/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/control_host/tests/test_control_host.py
Due: Device Connectors

Add control_host_kvm thin connector
  device-connectors/src/testflinger_device_connectors/devices/control_host_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/control_host_kvm/tests/test_control_host_kvm.py
Due: Device Connectors

Add control_host_iot thin connector
  device-connectors/src/testflinger_device_connectors/devices/control_host_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/control_host_iot/tests/test_control_host_iot.py
Due: Device Connectors

Add control_host_oem thin connector
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/control_host_oem.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_control_host_oem.py
Due: Device Connectors

Replace disconnect_usb_stick with control host pre_provision phase
  device-connectors/src/testflinger_device_connectors/devices/maas2/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas_pre_provision.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_oem_autoinstall_connector.py
  device-connectors/src/testflinger_device_connectors/devices/oemscript/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oemscript/tests/test_oemscript_pre_provision.py
Due: Device Connectors

Register control_host connectors and add deprecated zapper aliases
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/tests/test_zapper_iot.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

Remove old zapper base and zapper_oem modules
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_zapper_oem.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/zapper_oem.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

Accept generic control_host_* provision_data keys in server schema
  server/src/testflinger/api/schemas.py
  server/tests/test_v1.py
Due: Server

Send whole device config in control host provision envelope
  device-connectors/src/testflinger_device_connectors/devices/control_host/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/control_host/tests/test_control_host.py
Due: Device Connectors

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
