Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

Fix typo
  .github/actions/queue-status/action.yaml
Due: none

refactor(devices): disable maas output unless in debug mode or error (#847)
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
  server/src/testflinger/api/schemas.py
Due: Device Connectors, Server

Create README.md for queue-status action
  .github/actions/queue-status/README.md
Due: none

address concern with concept of "advertised" queues
  server/devel/create_sample_data.py
  server/src/testflinger/views.py
Due: Server

reformat source with `djlint --reformat src`
  server/src/testflinger/templates/agent_detail.html
Due: Server

feat: add exclude_agents field to allow jobs to skip specific agents
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
  cli/tests/test_secret.py
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_v1.py
  server/tests/test_v1_authorization.py
  server/tests/test_v1_secrets.py
Due: CLI, Server

avoid cleanup in MAAS
  device-connectors/src/testflinger_device_connectors/devices/maas2/__init__.py
Due: Device Connectors

Updated documentation to describe exclude_agents
  docs/explanation/agents.rst
  docs/how-to/submit-job.rst
  docs/reference/job-schema.rst
Due: none

Remove debug print.
  server/tests/test_v1.py
Due: Server

add basic computing terms causing issues with doc spellcheck to the custom wordlist
  docs/.custom_wordlist.txt
Due: none

fix(cli): end polling if filtered by phase and phase completes
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/tests/test_cli.py
Due: CLI

feat(server): add Flask app entry for OpenAPI spec generation
  server/devel/openapi_app.py
  server/src/testflinger/application.py
Due: Server

feat(server): add OpenAPI spec validation in tox and CI workflow
  .github/workflows/server-tox.yml
  server/tox.ini
Due: Server

feat(server): add server OpenAPI json file
  server/openapi.json
Due: Server

docs(server): add OpenAPI reference with custom Swagger UI styling
  docs/.sphinx/_static/swagger-custom.css
  docs/conf.py
  docs/reference/index.rst
  docs/reference/openapi.rst
Due: none

docs: update sections in reference index
  docs/reference/device-connector-types.rst
  docs/reference/index.rst
  docs/reference/testflinger-agent-conf.rst
  docs/reference/testflinger-server-conf.rst
Due: none

docs: add API update guideline to contributing guide
  CONTRIBUTING.md
Due: none

chore(docs): spelling and formats
  docs/.custom_wordlist.txt
  docs/explanation/agents.rst
  docs/reference/device-connector-types.rst
  docs/reference/test-phases.rst
  docs/reuse/links.txt
Due: none

add suggestions made by reviewer
  cli/testflinger_cli/__init__.py
Due: CLI

fix test
  cli/tests/test_cli.py
Due: CLI

Use uv run without sourcing the venv
  CONTRIBUTING.md
  server/tox.ini
Due: Server

fix inconsistent filepath
  CONTRIBUTING.md
  server/devel/openapi_app.py
Due: Server

refactor: use script to retrieve and validate OpenAPI schema
  server/devel/openapi_app.py
  server/scripts/generate_openapi_schema.py
Due: Server

Update tox and CI check
  .github/workflows/server-tox.yml
  server/devel/openapi_app.py
  server/tox.ini
Due: Server

chore: update schema file path
  CONTRIBUTING.md
  docs/conf.py
  server/schemas/openapi.json
Due: Server

Update the instructions for starting docker compose (version 2.x), fixed the agent detail page, updated the queue description to match the display of the queue list page (blank when no description).
  server/HACKING.md
  server/src/testflinger/templates/agent_detail.html
  server/src/testflinger/views.py
Due: Server

move logic for acquiring the number of waiting/running jobs to database.py
  server/src/testflinger/database.py
  server/src/testflinger/views.py
Due: Server

same modifications as were made in many other PRs to get the checks to pass
  docs/.custom_wordlist.txt
Due: none

fix(agent): read serial file as binary if invalid characters
  agent/src/testflinger_agent/handlers.py
  agent/src/testflinger_agent/job.py
Due: Agent

add unit test for testing invalid characters
  agent/tests/test_handlers.py
Due: Agent

fix(cli): end polling if filtered by phase and phase completes (#851)
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/tests/test_cli.py
Due: CLI

Fix: zapper_iot must define test_data issue We default use test_data username/password, while test_data is not defined fallback to use provision_data username/password but just "ubunut"/"ubuntu"
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/tests/test_zapper_iot.py
Due: Device Connectors

fix: change default output to stdout and add short option
  server/scripts/generate_openapi_schema.py
Due: Server

wip: add example
  server/src/testflinger/api/v1.py
Due: Server

fix: non-utf-8 decode error
  agent/src/testflinger_agent/handlers.py
Due: Agent

feat(api): add apiflask doc for job endpoints and schema
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
Due: Server

feat(api): add apiflask doc for Result endpoints
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
Due: Server

feat(api): add doc for agent endpoints and schemas
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
Due: Server

feat(api): add api doc for Queues endpoints
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
Due: Server

feat(api): add docstring to OAuth2 token endpoints
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
Due: Server
