Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

fix(agent-charm): do not modify venv in place
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/defaults.py
  agent/charms/testflinger-agent-host-charm/src/testflinger_source.py
Due: Agent

modify order of operations
  agent/charms/testflinger-agent-host-charm/src/testflinger_source.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_source.py
Due: Agent

add missing dependency
  agent/charms/testflinger-agent-host-charm/pyproject.toml
  agent/charms/testflinger-agent-host-charm/uv.lock
Due: Agent

feat(agent-charm): modify approach for venv creation and deletion
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/defaults.py
  agent/charms/testflinger-agent-host-charm/src/testflinger_source.py
Due: Agent

tests: update testflinger source unit tests
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_source.py
Due: Agent

temporary test commit
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_source.py
Due: Agent

add unit tests
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_source.py
Due: Agent

nitpick
  agent/charms/testflinger-agent-host-charm/src/testflinger_source.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_source.py
Due: Agent

add formatting
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_source.py
Due: Agent

update the listing of roles to endpoints to include the new status url
  docs/reference/api-roles.rst
Due: none

add check for memory mapped files
  agent/charms/testflinger-agent-host-charm/src/testflinger_source.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_source.py
Due: Agent

handle first migration
  agent/charms/testflinger-agent-host-charm/src/defaults.py
  agent/charms/testflinger-agent-host-charm/src/testflinger_source.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_source.py
Due: Agent

fix doc compile issues
  docs/reference/api-roles.rst
Due: none

Update agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/agent.py
Due: Agent

Add client id (submitted by) to API endpoints. Also adjusts the database names for fields introduced by PR 1253
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/src/testflinger/templates/_agents_table.html
  server/src/testflinger/templates/agent_detail.html
  server/src/testflinger/templates/job_detail.html
  server/src/testflinger/templates/jobs.html
  server/src/testflinger/templates/queue_detail.html
  server/src/testflinger/views.py
  server/tests/test_v1.py
  server/tests/test_views.py
Due: Server

modify old venv deletion
  agent/charms/testflinger-agent-host-charm/src/testflinger_source.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_source.py
Due: Agent

small fix, don't add field that's already there
  server/src/testflinger/api/v1.py
Due: Server

since the submitted_by from the job is copied to the provision history log, we don't need to look it up dynamically
  server/src/testflinger/views.py
  server/tests/test_v1.py
  server/tests/test_views.py
Due: Server

format
  server/tests/test_v1.py
Due: Server

implement findings from review
  server/src/testflinger/database.py
  server/tests/test_views.py
Due: Server

Update agent to use pathlib for paths, addresses syntax/type warnings (#1286)
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/job.py
  agent/src/testflinger_agent/runner.py
  agent/tests/test_agent.py
Due: Agent

feat: add endpoint to return lightweight status information (#1285)
  agent/src/testflinger_agent/client.py
  agent/tests/test_agent.py
  cli/testflinger_cli/client.py
  cli/tests/test_cli.py
  docs/reference/api-roles.rst
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/permissions.json
  server/tests/test_results.py
Due: Agent, CLI, Server

Update server/src/testflinger/api/v1.py
  server/src/testflinger/api/v1.py
Due: Server

Update server/src/testflinger/database.py
  server/src/testflinger/database.py
Due: Server

modify sorting
  agent/charms/testflinger-agent-host-charm/src/testflinger_source.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_source.py
Due: Agent

refactor the agent's job record
  cli/testflinger_cli/__init__.py
  server/devel/create_sample_data.py
  server/devel/create_sample_users.py
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/src/testflinger/templates/_agents_table.html
  server/src/testflinger/templates/agent_detail.html
  server/src/testflinger/views.py
  server/tests/test_views.py
Due: CLI, Server

there shall be only one mongo to patch for testing, later more major refactor pending
  server/src/testflinger/views.py
  server/tests/test_views.py
Due: Server

add copilot suggestions
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/testflinger_source.py
Due: Agent

restore job_id for AgentOut
  cli/testflinger_cli/__init__.py
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
Due: CLI, Server

add capture of status change time
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_v1.py
Due: Server

preserve agent offline state on restart
  agent/src/testflinger_agent/agent.py
  agent/tests/test_agent.py
Due: Agent

use database module for mongo operations throughout
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/src/testflinger/views.py
  server/tests/test_views.py
Due: Server

Add client id (submitted by) to API endpoints. Also adjusts the data… (#1288)
  cli/testflinger_cli/__init__.py
  server/devel/create_sample_data.py
  server/devel/create_sample_users.py
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/src/testflinger/templates/_agents_table.html
  server/src/testflinger/templates/agent_detail.html
  server/src/testflinger/templates/job_detail.html
  server/src/testflinger/templates/jobs.html
  server/src/testflinger/templates/queue_detail.html
  server/src/testflinger/views.py
  server/tests/test_v1.py
  server/tests/test_views.py
Due: CLI, Server

feat(agent-charm): use flock to accurately determine used venvs
  agent/charms/testflinger-agent-host-charm/pyproject.toml
  agent/charms/testflinger-agent-host-charm/src/testflinger_source.py
  agent/charms/testflinger-agent-host-charm/src/tf-cmd-scripts/tf-allocate
  agent/charms/testflinger-agent-host-charm/src/tf-cmd-scripts/tf-cleanup
  agent/charms/testflinger-agent-host-charm/src/tf-cmd-scripts/tf-firmware-update
  agent/charms/testflinger-agent-host-charm/src/tf-cmd-scripts/tf-provision
  agent/charms/testflinger-agent-host-charm/src/tf-cmd-scripts/tf-reserve
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_source.py
  agent/charms/testflinger-agent-host-charm/uv.lock
Due: Agent

update integration tests
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
Due: Agent

add test to capture if there is a problem with posting before getting
  agent/tests/test_agent.py
Due: Agent

fix(server): fix pyyaml multiline display
  server/src/testflinger/views.py
  server/tests/test_views.py
Due: Server

fix(server): fix pyyaml multiline display (#1294)
  server/src/testflinger/views.py
  server/tests/test_views.py
Due: Server

feat(server): add backend changes for storing events
  common/src/testflinger_common/enums.py
  server/src/testflinger/api/events.py
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Common, Server

tests: add tests for database module
  server/tests/permissions.json
  server/tests/test_database.py
Due: Server
