Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

docs: add mermaid syntax to wordlist
  docs/.custom_wordlist.txt
Due: none

Apply suggestions from code review
  docs/explanation/authentication.rst
Due: none

docs: add endpoint references
  docs/explanation/authentication.rst
Due: none

feat(oem_autoinstall): prepare storage when DUT is in bootstrap mode
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/oem_autoinstall.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_oem_autoinstall.py
Due: Device Connectors

fix(cli): ignore second interrupt during status cleanup
  cli/testflinger_cli/status_line.py
  cli/tests/test_status_line.py
Due: CLI

chore: solve warnings related to jwt lenght
  server/tests/conftest.py
  server/tests/test_owasp_logging.py
  server/tests/test_v1_secrets.py
Due: Server

chore: filter canaille warnings
  server/pyproject.toml
Due: Server

chore: solve marshmallow warnings
  server/src/testflinger/api/schemas.py
Due: Server

use urlsafe
  server/tests/test_v1_secrets.py
Due: Server

updates to the permissions and existing tests
  agent/src/testflinger_agent/client.py
  common/src/testflinger_common/enums.py
  server/API.md
  server/schemas/openapi.json
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/conftest.py
  server/tests/test_logging.py
  server/tests/test_owasp_logging.py
  server/tests/test_results.py
  server/tests/test_v1.py
  server/tests/test_v1_authorization.py
  server/tests/test_v1_authorization_roles.py
  server/tests/test_v1_secrets.py
  server/tests/test_views.py
Due: Agent, Common, Server

slight formatting fixes
  server/src/testflinger/api/v1.py
  server/tests/test_v1_authorization.py
Due: Server

conftest needs the new utilities file
  server/tests/utilities.py
Due: Server

feat(agent): add custom AuthBase
  agent/src/testflinger_agent/client.py
Due: Agent

Add: `WEBHOOK_DOMAINS` to support multiple webhook domains.
  server/API.md
  server/src/testflinger/api/v1.py
  server/tests/test_v1.py
Due: Server

refactor(agent): add Authorization headers to all requests
  agent/src/testflinger_agent/client.py
Due: Agent

tests: update unit tests to match current behavior
  agent/tests/test_client.py
Due: Agent

chore(agent-charm): reduce token refresh to 3 days
  agent/charms/testflinger-agent-host-charm/src/testflinger_client.py
Due: Agent

refactor(cli): add custom AuthBase
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/client.py
Due: CLI

tests: update unit tests to match current behavior
  cli/tests/conftest.py
  cli/tests/test_admin_cli.py
  cli/tests/test_cli.py
  cli/tests/test_cli_auth.py
  cli/tests/test_client.py
  cli/tests/test_get_job_data.py
  cli/tests/test_secret.py
Due: CLI

chore(server): increase access token expiration to 10 minutes
  server/src/testflinger/api/auth.py
Due: Server

chore: add testflinger.code-worskpace
  testflinger.code-workspace
Due: none

chore: add testflinger.code-worskpace (#1166)
  testflinger.code-workspace
Due: none

tests: update charm tests to match new expiration
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_client.py
Due: Agent

tests: add unit tests for new code
  agent/tests/test_client.py
Due: Agent

add format
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
Due: CLI

add copilot recommendation
  agent/src/testflinger_agent/client.py
  agent/tests/test_client.py
Due: Agent

add missing format
  agent/src/testflinger_agent/client.py
Due: Agent

add unit test for new code
  cli/testflinger_cli/client.py
  cli/tests/test_client.py
Due: CLI

nitpick
  agent/src/testflinger_agent/client.py
Due: Agent

add copilot recommendations
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/client.py
Due: CLI

finalized the updated to the api+roles tests
  agent/src/testflinger_agent/client.py
  common/src/testflinger_common/enums.py
  server/src/testflinger/api/auth.py
  server/tests/conftest.py
  server/tests/permissions.json
  server/tests/test_v1.py
  server/tests/test_v1_authorization.py
  server/tests/test_v1_authorization_roles.py
  server/tests/test_v1_secrets.py
  server/tests/utilities.py
Due: Agent, Common, Server

all tests passing
  server/tests/test_v1_authorization_roles.py
Due: Server

linting
  server/tests/test_v1_authorization_roles.py
Due: Server

add exlanation of missing endpoints and a consistency check that guards against forgetting endpoints in the future as they are added.
  server/tests/test_v1_authorization_roles.py
Due: Server

Improve subcommand error help text, CERTTF-917
  cli/testflinger_cli/__init__.py
Due: CLI

add documentation updates, scripts to generate api schema and docs, builds on top of PR #1169
  .github/workflows/server-tox.yml
  CONTRIBUTING.md
  common/src/testflinger_common/enums.py
  justfile
  server/API.md
  server/schemas/openapi.json
  server/scripts/generate_api_md.py
  server/scripts/generate_openapi_schema.py
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/conftest.py
  server/tests/test_v1.py
  server/tests/test_v1_authorization_roles.py
  server/tox.ini
Due: Common, Server

fix errant debug-left-in-code; changed the secret used in testing to be dynamic
  server/tests/conftest.py
  server/tests/utilities.py
Due: Server

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
