Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

add restricted queues api
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_v1.py
Due: Server

update
  server/tests/test_v1.py
Due: Server

add serializers
  server/src/testflinger/api/serializers.py
Due: Server

udpate url
  server/src/testflinger/api/v1.py
Due: Server

chore: add additional action inputs
  .github/workflows/submit-action-tags.yml
Due: none

Added suggestion made by reviewer
  cli/testflinger_cli/auth.py
Due: CLI

Fix formatting error
  cli/testflinger_cli/auth.py
Due: CLI

feat(cli): Create CLI Auth Module (#727)
  cli/pyproject.toml
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/errors.py
  cli/testflinger_cli/tests/test_cli.py
  cli/uv.lock
Due: CLI

Created admin cli initial command.
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/client.py
Due: CLI

Added Unit Test for testing admin cli
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

Rebased and fix issues
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

feat: support authentication in submit action
  .github/actions/submit/action.yaml
Due: none

chore: document authentication in submit action
  .github/actions/submit/README.md
Due: none

fix: force quoting for SECRET_KEY and CLIENT_ID
  .github/actions/submit/action.yaml
Due: none

Included decorator to determine if user is authorised to perform admin cli action
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/errors.py
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

[CERTTF-568] feat: workflow for creating submit action tags (#738)
  .github/actions/submit/CONTRIBUTING.md
  .github/workflows/submit-action-tags.yml
Due: none

update check_job() to only accept restricted queues if any
  agent/src/testflinger_agent/client.py
  agent/tests/test_agent.py
  agent/tests/test_client.py
Due: Agent

update
  agent/tests/test_agent.py
Due: Agent

update
  agent/src/testflinger_agent/client.py
Due: Agent

Include carryforward flag to allow past result to not be deleted
  codecov.yaml
Due: none

Include carryforward flag to allow past result to not be deleted (#741)
  codecov.yaml
Due: none

feat: update agent's behavior to only accept restricted queues if any (#724)
  agent/src/testflinger_agent/client.py
  agent/tests/test_agent.py
  agent/tests/test_client.py
Due: Agent

fix: added carryforward under flag_management level
  codecov.yaml
Due: none

Included show carryforward in comment
  codecov.yaml
Due: none

chore: update charm libraries
  server/charm/lib/charms/data_platform_libs/v0/data_interfaces.py
Due: Server

Initial approach for agent status without tmp files
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/client.py
  agent/uv.lock
  common/pyproject.toml
  common/src/testflinger_common/enums.py
Due: Agent, Common

Included maintenance for offlining a device
  agent/src/testflinger_agent/agent.py
  agent/uv.lock
  common/pyproject.toml
Due: Agent, Common

Addressed linting issues
  agent/src/testflinger_agent/agent.py
Due: Agent

Remove all tmp files references
  agent/src/testflinger_agent/agent.py
Due: Agent

Fix initial batch of failing tests
  agent/src/testflinger_agent/client.py
  agent/tests/test_agent_process.py
Due: Agent

Fix second batch of failing tests
  agent/src/testflinger_agent/agent.py
  agent/tests/test_agent.py
Due: Agent

Fix third batch of failing tests
  agent/tests/test_agent.py
Due: Agent

Typo fix for agent status
  agent/src/testflinger_agent/agent.py
Due: Agent

Included comments when setting an agent state
  agent/src/testflinger_agent/agent.py
Due: Agent

Revert initial status of agent to waiting
  agent/src/testflinger_agent/agent.py
Due: Agent

Added restart handler to validate if agent is pending a restart.
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/handlers.py
Due: Agent

Add uv.lock file for common module
  common/uv.lock
Due: Common

Added RestartHandler in TestflingerAgent __init__
  agent/src/testflinger_agent/agent.py
  agent/tests/test_agent.py
Due: Agent

Typo fix in docstrings.
  agent/src/testflinger_agent/agent.py
Due: Agent

Generalize AgentStatusHandler to monitor if offline or restart is needed
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/handlers.py
Due: Agent

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
