Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

docs: adopt new home page structure (#1320)
  docs/index.rst
Due: none

change: Call prepare-storage.sh after iso and configs were verified. Make it best offer function, so that failure won't affect existing provision flow
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/oem_autoinstall.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_oem_autoinstall.py
Due: Device Connectors

fix: lint ut
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_oem_autoinstall.py
Due: Device Connectors

fix: chown mouted partition as test user in case old ubuntu fs leftovers
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/oem_autoinstall.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_oem_autoinstall.py
Due: Device Connectors

fix: lint
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/oem_autoinstall.py
Due: Device Connectors

fix: UT coverage
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_oem_autoinstall.py
Due: Device Connectors

add: Attempt mount existing partition if storage was already formatted
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/oem_autoinstall.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_oem_autoinstall.py
Due: Device Connectors

feat(oem_autoinstall): prepare storage when DUT is in bootstrap mode
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/oem_autoinstall.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_oem_autoinstall.py
Due: Device Connectors

feat(testflinger_agent): add recovery mechanism
  agent/src/testflinger_agent/job.py
  agent/src/testflinger_agent/runner.py
  agent/src/testflinger_agent/schema.py
  agent/src/testflinger_agent/stop_condition_checkers.py
  server/src/testflinger/api/schemas.py
Due: Agent, Server

feat(server): add backend changes to store job events (#1297)
  common/src/testflinger_common/enums.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/src/testflinger/events.py
  server/tests/test_database.py
  server/tests/test_events.py
  server/tests/test_results.py
Due: Common, Server

remove started from available events
  server/tests/test_v1.py
Due: Server

tests: add unit tests for job events GET
  server/tests/permissions.json
  server/tests/test_v1.py
Due: Server

add new endpoint to role table
  docs/reference/api-roles-table.txt
Due: none

use marshmallow datetime
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
Due: Server

feat(server): add API endpoint to retrieve job events
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

add copilot suggestion
  server/src/testflinger/database.py
Due: Server

feat(server): add an endpoint to retrieve job events (#1298)
  docs/reference/api-roles-table.txt
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/permissions.json
  server/tests/test_v1.py
Due: Server

refactor(server): preserve status code on event if any
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/events.py
Due: Server

update unit test as per review feedback
  server/tests/test_views.py
Due: Server

feat(server): add job activity (events) to job detail view
  server/src/testflinger/templates/_job_activity.html
  server/src/testflinger/templates/job_detail.html
  server/src/testflinger/views.py
Due: Server

add copilot suggestions
  server/src/testflinger/events.py
  server/tests/test_views.py
Due: Server

tests: add unit tests for views
  server/tests/test_views.py
Due: Server

feat(server): add tabular visualization for job events in the UI (#1299)
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/events.py
  server/src/testflinger/templates/_job_activity.html
  server/src/testflinger/templates/job_detail.html
  server/src/testflinger/views.py
  server/tests/test_views.py
Due: Server

allow for common to be editable with respect to the agent; added missing docstrings
  agent/pyproject.toml
  agent/uv.lock
  common/src/testflinger_common/enums.py
Due: Agent, Common

get the tests passing for the bottom of the stack
  agent/pyproject.toml
  agent/uv.lock
  server/tests/test_enums.py
Due: Agent, Server

use an approach consistent with the existing code
  server/schemas/openapi.json
  server/src/testflinger/database.py
  server/tests/test_v1.py
Due: Server

get the tests passing again
  server/tests/test_v1.py
Due: Server

consolidate the samle users into one python file and generate the rest of out testing data
  server/devel/dex-config.yaml
  server/devel/generate_sample_users.py
  server/devel/sample_users.py
  server/justfile
  server/src/testflinger/dev_signin.py
  server/src/testflinger/dev_signin_identities.py
  server/src/testflinger/static/assets/css/testflinger.css
  server/tests/test_dev_signin.py
Due: Server

add timestamps to lightweight /status api endpoint
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/test_results.py
Due: Server

Update server/schemas/openapi.json
  server/schemas/openapi.json
Due: Server

add the env var to the docker compose file to expose the dev users menu
  server/docker-compose.yml
  server/src/testflinger/dev_signin_identities.py
Due: Server

feat(server): agent mode UI — chips, modal, admin controls, demo seed
  server/devel/create_sample_data.py
  server/src/testflinger/static/assets/css/testflinger.css
  server/src/testflinger/templates/_agent_state_modal.html
  server/src/testflinger/templates/_agents_table.html
  server/src/testflinger/templates/_macros.html
  server/src/testflinger/templates/_modal.html
  server/src/testflinger/templates/agent_detail.html
  server/src/testflinger/templates/agents.html
  server/src/testflinger/templates/job_detail.html
  server/src/testflinger/templates/jobs.html
  server/src/testflinger/templates/queue_detail.html
  server/src/testflinger/views.py
  server/tests/test_views.py
Due: Server

remove unrelated breaking changes
  agent/src/testflinger_agent/client.py
  agent/tests/test_client.py
Due: Agent

regenerate openapi schema
  server/schemas/openapi.json
Due: Server

move mongo use into database module
  server/src/testflinger/database.py
  server/src/testflinger/templates/_agent_state_modal.html
  server/src/testflinger/templates/_macros.html
  server/src/testflinger/templates/_modal.html
  server/src/testflinger/views.py
  server/tests/test_views.py
Due: Server

add capture of status change time (#1293)
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_database.py
  server/tests/test_results.py
  server/tests/test_v1.py
Due: Server

fix(workshop): make LXD tunnel endpoints asymmetric so external access works
  .workshop/dev.yaml
Due: none

update to offer multiple choices: local and exposed to the world
  .workshop/dev.yaml
  .workshop/justfile
  CONTRIBUTING.md
Due: none

chore(workshop): add project-docker-gc SDK (BuildKit GC + userland-proxy=false)
  .workshop/dev.yaml
  .workshop/docker-gc/hooks/setup-base
  .workshop/docker-gc/sdk.yaml
Due: none

feat(server): dev auto sign-in blueprint (TF_DEV_AUTO_SIGNIN)
  server/devel/create_sample_data.py
  server/devel/create_sample_users.py
  server/devel/sample_users.py
  server/docker-compose.yml
  server/src/testflinger/application.py
  server/src/testflinger/dev_signin.py
  server/src/testflinger/oidc/views.py
  server/src/testflinger/static/assets/css/testflinger.css
  server/src/testflinger/templates/_header.html
  server/tests/test_dev_signin.py
Due: Server

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
