Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

update the one occurance of improper raw string with escape sequences that was found by the bandit scan
  .github/workflows/device-connectors-scan.yml
  agent/src/testflinger_agent/masking.py
Due: Agent

add --exit-zero to allow for upload of the artifactfollowing the scan.
  .github/workflows/device-connectors-scan.yml
Due: none

rename file to reflect that it isn't just the device connectors being scanned
  .github/workflows/bandit-scan.yml
Due: none

skip testing development tools and tests
  .github/workflows/bandit-scan.yml
Due: none

Name the job
  .github/workflows/bandit-scan.yml
Due: none

breaking(server): only allow agents to get jobs
  server/pyproject.toml
  server/src/testflinger/api/v1.py
  server/uv.lock
Due: Server

tests: fix server unit tests to match agent restriction
  server/tests/conftest.py
  server/tests/test_v1.py
  server/tests/test_v1_authorization.py
  server/tests/test_v1_secrets.py
Due: Server

Update tox ini and workflows to permit conditionally providing sarif output when run in the context of GH workflows.
  .github/workflows/agent-tox.yml
  .github/workflows/bandit-scan.yml
  .github/workflows/cli-tox.yml
  .github/workflows/common-tox.yml
  .github/workflows/device-tox.yml
  .github/workflows/server-tox.yml
  agent/tox.ini
  cli/tox.ini
  common/tox.ini
  device-connectors/tox.ini
  server/tox.ini
Due: Agent, CLI, Common, Device Connectors, Server

Update .github/workflows/agent-tox.yml
  .github/workflows/agent-tox.yml
Due: none

docs: add secrets how-to, reference and explanation
  docs/explanation/index.rst
  docs/explanation/secrets.rst
  docs/how-to/authentication.rst
  docs/how-to/index.rst
  docs/how-to/use-secrets.rst
  docs/reference/index.rst
  docs/reference/secrets.rst
Due: none

add directories to sarif results paths
  .github/workflows/cli-tox.yml
  .github/workflows/common-tox.yml
  .github/workflows/device-tox.yml
  .github/workflows/server-tox.yml
Due: none

fix doc issue
  docs/explanation/secrets.rst
Due: none

fixed, paths, enabled ruff preview
  .github/workflows/agent-tox.yml
  .github/workflows/cli-tox.yml
  .github/workflows/common-tox.yml
  .github/workflows/device-tox.yml
  .github/workflows/server-tox.yml
Due: none

remove the --preview arg (RUFF_PREVIEW) and add a comment that ruff check must be last in the tox.ini file for the purpose of results.sarif generation
  .github/workflows/agent-tox.yml
  .github/workflows/cli-tox.yml
  .github/workflows/common-tox.yml
  .github/workflows/device-tox.yml
  .github/workflows/server-tox.yml
  agent/tox.ini
  cli/tox.ini
  common/tox.ini
  device-connectors/tox.ini
  server/tox.ini
Due: Agent, CLI, Common, Device Connectors, Server

[New] send SSH keys as a dedicated argument
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

change: migrate from rpyc to rest APIs
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

fix: use separate connection and read timeouts for SSE streaming
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
Due: Device Connectors

fix: log unexpected non-data SSE lines instead of silently discarding them
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
Due: Device Connectors

fix: handle malformed JSON in SSE data lines gracefully
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
Due: Device Connectors

fix: normalize SSE log level with .upper() and handle missing/invalid levels
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
Due: Device Connectors

fix: handle missing message key in SSE data by falling back to raw line
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
Due: Device Connectors

fix: improve default provisioning error message to indicate unknown reason
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
Due: Device Connectors

test: add robust tests for SSE streaming edge cases in _run
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

ruff
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

fix: use /health endpoint instead of /addons for REST API availability check
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

SSE format explained
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
Due: Device Connectors

add suggestions made by reviewer
  docs/explanation/secrets.rst
  docs/how-to/use-secrets.rst
  docs/reference/secrets.rst
Due: none

removed rpyc
  device-connectors/pyproject.toml
  device-connectors/src/testflinger_device_connectors/devices/muxpi/muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
  device-connectors/uv.lock
Due: Device Connectors

add security-events permission so that results can be uploaded properly
  .github/workflows/agent-tox.yml
  .github/workflows/cli-tox.yml
  .github/workflows/common-tox.yml
  .github/workflows/device-tox.yml
  .github/workflows/server-tox.yml
Due: none

fix: reconnect to SSE stream if provisioning job is still running but connection dropped
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

addressed copilot comments
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

fix: updated agent lock file
  agent/uv.lock
Due: Agent

add clarifications made by reviewer
  docs/explanation/secrets.rst
  docs/how-to/use-secrets.rst
  docs/reference/secrets.rst
Due: none

added status line
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/status_line.py
Due: CLI

Update README.md for testing
  README.md
Due: none

code clean up and implement better status reporting for the status line
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/helpers.py
  cli/testflinger_cli/status_line.py
Due: CLI

add header and check on invalid log level
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

fix: health API endpoint
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

move the reservation status output updates to the device connector code
  cli/testflinger_cli/__init__.py
Due: CLI

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
