Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

Change: oem_autoinstall efi script location in default user-data (#791)
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/default-user-data
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/stock/default-user-data
Due: Device Connectors

add logging to heartbeat signal
  agent/src/testflinger_agent/handlers.py
  agent/tests/test_status_handler.py
Due: Agent

add modification suggested by reviewer
  agent/src/testflinger_agent/handlers.py
Due: Agent

chore: update charm libraries
  server/charm/lib/charms/data_platform_libs/v0/data_interfaces.py
  server/charm/lib/charms/observability_libs/v0/juju_topology.py
  server/charm/lib/charms/prometheus_k8s/v0/prometheus_scrape.py
Due: Server

add refresh token and mechanism of refresh and revoke
  server/API.md
  server/pyproject.toml
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_v1_authorization.py
  server/uv.lock
Due: Server

add test cases
  server/tests/test_v1_authorization.py
Due: Server

chore: update charm libraries
  agent/charms/testflinger-agent-host-charm/lib/charms/grafana_agent/v0/cos_agent.py
  agent/charms/testflinger-agent-host-charm/lib/charms/operator_libs_linux/v0/apt.py
Due: Agent

fix(agent): include MongoDB date instance type
  agent/src/testflinger_agent/handlers.py
  agent/tests/test_status_handler.py
Due: Agent

modify datetime formatting as per reviewer suggestion
  agent/src/testflinger_agent/handlers.py
Due: Agent

Revert "modify datetime formatting as per reviewer suggestion"
  agent/src/testflinger_agent/handlers.py
Due: Agent

docs: Small tutorial update (#755)
  docs/how-to/index.rst
  docs/how-to/reserve-job.rst
  docs/how-to/submit-job.rst
  docs/tutorial/index.rst
Due: none

fix(agent): send a heartbeat to server to prevent database TTL (#789)
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/handlers.py
  agent/tests/test_status_handler.py
Due: Agent

update
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1_authorization.py
Due: Server

format check
  server/src/testflinger/api/auth.py
Due: Server

remove unused import
  server/src/testflinger/api/v1.py
Due: Server

feat: first attempt at PUT endpoint for secrets
  server/app.py
  server/pyproject.toml
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/application.py
  server/src/testflinger/secrets/__init__.py
  server/src/testflinger/secrets/store.py
  server/src/testflinger/secrets/vault.py
  server/tests/conftest.py
  server/tests/test_v1.py
Due: Server

add TTL and test case
  server/src/testflinger/api/auth.py
  server/src/testflinger/database.py
  server/tests/test_v1_authorization.py
Due: Server

chore: update and refine endpoint and tests
  server/pyproject.toml
  server/src/testflinger/api/v1.py
  server/src/testflinger/application.py
  server/src/testflinger/secrets/__init__.py
  server/src/testflinger/secrets/store.py
  server/src/testflinger/secrets/vault.py
  server/tests/conftest.py
  server/tests/test_v1.py
Due: Server

chore: add copyright headers and rudimentary module docstrings
  server/pyproject.toml
  server/src/testflinger/api/v1.py
  server/src/testflinger/secrets/__init__.py
  server/src/testflinger/secrets/store.py
  server/src/testflinger/secrets/vault.py
Due: Server

feat: add tests
  server/tests/test_v1_secrets.py
  server/tests/test_vault_store.py
Due: Server

fix: add secrets exceptions module
  server/src/testflinger/secrets/exceptions.py
Due: Server

docs: update HACKING.md documentation
  server/HACKING.md
  server/devel/docker-compose.override.yml
  server/docker-compose.yml
  server/testflinger.env
Due: Server

feat(cli): add client permissions commands to cli (#779)
  cli/pyproject.toml
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/consts.py
  cli/testflinger_cli/tests/test_admin_cli.py
  cli/testflinger_cli/tests/test_cli.py
  cli/uv.lock
  docs/how-to/index.rst
  docs/how-to/manage-client-permissions.rst
Due: CLI

reformat(cli): modify authentication to match new oauth2
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/consts.py
  cli/testflinger_cli/errors.py
Due: CLI

fix: Modify unit test to match new authentication return
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/consts.py
  cli/testflinger_cli/tests/test_admin_cli.py
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

feat: add DELETE endpoint for secrets
  server/src/testflinger/api/v1.py
  server/src/testflinger/secrets/vault.py
  server/tests/test_v1_secrets.py
  server/tests/test_vault_store.py
Due: Server

fix: remove commented-out lines
  server/docker-compose.yml
Due: Server

fix: update uv lock file
  server/uv.lock
Due: Server

fix: appease ruff
  server/src/testflinger/secrets/vault.py
  server/tests/test_v1_secrets.py
  server/tests/test_vault_store.py
Due: Server

feat(cli): add login command for persistent authentication
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/consts.py
Due: CLI

tests: modify all unit tests to use conftest for auth fixtures
  cli/testflinger_cli/tests/conftest.py
  cli/testflinger_cli/tests/test_admin_cli.py
  cli/testflinger_cli/tests/test_cli.py
  cli/testflinger_cli/tests/test_cli_auth.py
Due: CLI

tests: add unit tests for new login functionality
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/tests/test_cli_auth.py
Due: CLI

fix: solve permissions error while writing to SNAP accesible location
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/consts.py
  cli/testflinger_cli/tests/conftest.py
Due: CLI

docs: include reference for login command in authentication related pages
  docs/explanation/authentication.rst
  docs/how-to/authentication.rst
Due: none

fix typos
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/tests/conftest.py
Due: CLI

feat: add OAuth2 refresh and revoke token endpoints (#792)
  server/API.md
  server/pyproject.toml
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_v1_authorization.py
  server/uv.lock
Due: Server

feat(cli): add persistent login for extended authentication (#797)
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/errors.py
  cli/testflinger_cli/tests/conftest.py
  cli/testflinger_cli/tests/test_admin_cli.py
  cli/testflinger_cli/tests/test_cli.py
  cli/testflinger_cli/tests/test_cli_auth.py
  docs/explanation/authentication.rst
  docs/how-to/authentication.rst
Due: CLI

Fix: default-user-data for stock to enable autologin in late-commands
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/stock/default-user-data
Due: Device Connectors

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
