Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

feat(server): display new log format in job view
  server/src/testflinger/api/v1.py
  server/src/testflinger/logs.py
  server/src/testflinger/views.py
Due: Server

fix(agent): handle None response from retry exhaustion to prevent crashes
  agent/src/testflinger_agent/client.py
  agent/tests/test_client.py
Due: Agent

tests: add unit tests for job view
  server/src/testflinger/logs.py
  server/tests/test_views.py
Due: Server

feat(server): add tab view for job detail
  server/src/testflinger/static/assets/js/tabs.js
  server/src/testflinger/templates/base.html
  server/src/testflinger/templates/job_detail.html
Due: Server

bump testflinger server version
  server/pyproject.toml
  server/uv.lock
Due: Server

bug fix and add suggestions made by reviewer
  server/src/testflinger/templates/job_detail.html
  server/src/testflinger/views.py
Due: Server

temporary bump the server version for staging
  server/pyproject.toml
Due: Server

sync uv
  server/uv.lock
Due: Server

add icons to tabs
  server/src/testflinger/templates/job_detail.html
Due: Server

add anchor and remove live output
  server/pyproject.toml
  server/src/testflinger/templates/job_detail.html
  server/uv.lock
Due: Server

add suggestions made by reviewer
  server/src/testflinger/logs.py
  server/src/testflinger/templates/job_detail.html
Due: Server

feat(server): display new log format in job view (#839)
  server/pyproject.toml
  server/src/testflinger/api/v1.py
  server/src/testflinger/logs.py
  server/src/testflinger/static/assets/js/tabs.js
  server/src/testflinger/templates/base.html
  server/src/testflinger/templates/job_detail.html
  server/src/testflinger/views.py
  server/tests/test_views.py
  server/uv.lock
Due: Server

fix(server): add default value for secrets master key to not be required
  server/terraform/variables.tf
Due: Server

fix(server): add default value for secrets master key to not be required (#840)
  server/terraform/variables.tf
Due: Server

hotfix: add indexing to new logs collection
  server/src/testflinger/database.py
Due: Server

hotfix: add indexing to new logs collection (#841)
  server/src/testflinger/database.py
Due: Server

refactor(server): modify log handler to reduce db calls
  server/src/testflinger/logs.py
Due: Server

refactor(server): modify log handler to reduce db calls (#842)
  server/src/testflinger/logs.py
Due: Server

feat(agent): add additional metrics for monitoring
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/metrics.py
Due: Agent

add agent_id as label to simplify Prometheus query
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/metrics.py
Due: Agent

Update .gitignore for PyCharm
  .gitignore
Due: none

update readme for cli to demonstrate typical use of --poll argument
  cli/README.md
Due: CLI

tests: modify metrics tests to match new label and add additional test
  agent/tests/test_agent.py
Due: Agent

Update cli/README.md
  cli/README.md
Due: CLI

feat(agent): expose additional metrics for testflinger agent monitoring (#843)
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/metrics.py
  agent/tests/test_agent.py
Due: Agent

feat(agent): send phase status update after phase completion
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/job.py
Due: Agent

tests: add and modify tests to match new behavior
  agent/tests/test_agent.py
  agent/tests/test_job.py
Due: Agent

fix: modify send and store order
  agent/src/testflinger_agent/job.py
  agent/tests/test_job.py
Due: Agent

add pop to ensure remove logs during retransmission
  agent/src/testflinger_agent/client.py
  agent/tests/test_job.py
Due: Agent

minor nitpick
  agent/src/testflinger_agent/job.py
Due: Agent

feat(agent): send phase status code upon phase completion (#846)
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/job.py
  agent/tests/test_agent.py
  agent/tests/test_job.py
Due: Agent

refactor(devices): default maas device connector to not write output during release
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
Due: Device Connectors

remove also output from set_flat_storage_layout
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
Due: Device Connectors

Create queue-status action
  .github/actions/queue-status/action.yaml
Due: none

add retry method while releasing
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
  server/src/testflinger/api/schemas.py
Due: Device Connectors, Server

modify logger during debug mode
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
Due: Device Connectors

server ut fix
  server/src/testflinger/api/schemas.py
Due: Server

updated agent_detail view to provide information about how many jobs exist across all agent queues
  server/devel/create_sample_data.py
  server/src/testflinger/templates/agent_detail.html
  server/src/testflinger/views.py
Due: Server

Fix typo
  .github/actions/queue-status/action.yaml
Due: none

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
