Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

Update device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
Due: Device Connectors

Change handling of autoinstall config
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
Due: Device Connectors

Update test
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

Add url and assert it
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

Add preset support to KVM provisioning (#826)
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

Refactor agent output handlers
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/handlers.py
  agent/src/testflinger_agent/job.py
  agent/tests/test_agent.py
  agent/tests/test_handlers.py
  agent/tests/test_job.py
  common/src/testflinger_common/enums.py
Due: Agent, Common

Added logging handlers and changed logging endpoints for the server
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/application.py
  server/src/testflinger/logs.py
  server/tests/test_logging.py
  server/tests/test_v1.py
  server/uv.lock
Due: Server

Refactor agent to send combined log fragments as results
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/handlers.py
  agent/src/testflinger_agent/job.py
  agent/tests/test_agent.py
  agent/tests/test_handlers.py
  agent/tests/test_job.py
  agent/tests/test_runner.py
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/test_logging.py
  server/tests/test_results.py
  server/tests/test_v1.py
Due: Agent, Server

Modify CLI to support new logging scheme
  agent/src/testflinger_agent/job.py
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/enums.py
  cli/tests/test_cli.py
  cli/tests/test_client.py
  cli/uv.lock
  common/src/testflinger_common/enums.py
Due: Agent, CLI, Common

Rename Result schema to ResultGet
  server/pyproject.toml
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/uv.lock
Due: Server

Add database functions to add results
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

Added logging redesign documentation
  docs/.custom_wordlist.txt
  docs/how-to/index.rst
  docs/how-to/retrieve-logs.rst
  docs/reference/test-phases.rst
  server/API.md
Due: Server

Fix formatting in common
  common/src/testflinger_common/enums.py
Due: Common

Change insert one semantics
  server/src/testflinger/logs.py
Due: Server

Add database functions to add results
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/src/testflinger/logs.py
Due: Server

Fix job schema link in README.md
  .github/actions/submit/README.md
Due: none

Add new schema for zapper kvm with presets
  server/src/testflinger/api/schemas.py
Due: Server

Reorder schemas
  server/src/testflinger/api/schemas.py
Due: Server

ruff
  server/src/testflinger/api/schemas.py
Due: Server

sort schemas
  server/src/testflinger/api/schemas.py
Due: Server

Add optional fields
  server/src/testflinger/api/schemas.py
Due: Server

new: Schema with presets (#832)
  server/src/testflinger/api/schemas.py
Due: Server

Add reservation phase to device connectors
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/multi/multi.py
  device-connectors/src/testflinger_device_connectors/devices/multi/tests/test_multi.py
  device-connectors/src/testflinger_device_connectors/devices/tests/test_devices.py
Due: Device Connectors

Create new endpoint for multi agent submission of child jobs
  device-connectors/src/testflinger_device_connectors/devices/multi/multi.py
  device-connectors/src/testflinger_device_connectors/devices/multi/tests/test_multi.py
  device-connectors/src/testflinger_device_connectors/devices/multi/tfclient.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_v1_authorization.py
Due: Device Connectors, Server

Added multi device agent documentation
  docs/how-to/index.rst
  docs/how-to/multi-device-jobs.rst
  docs/reference/device-connector-types.rst
  docs/reference/job-schema.rst
  server/API.md
Due: Server

fix(server): Install rustc from snap to support cargo lock file v4
  server/charm/charmcraft.yaml
Due: Server

add newline at the end of file
  server/charm/charmcraft.yaml
Due: Server

fix(agent): include rustc also in agent charm
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
Due: Agent

chore(github): add concurrency to missing workflows
  .github/workflows/agent-host-charm-release.yml
  .github/workflows/agent-tox.yml
  .github/workflows/build-testflinger-testenv-container.yml
  .github/workflows/charm-promote.yml
  .github/workflows/charm-update-libs.yml
  .github/workflows/cli-publish-snap.yml
  .github/workflows/cli-tox.yml
  .github/workflows/common-tox.yml
  .github/workflows/device-tox.yml
  .github/workflows/server-charm-check-libs.yml
  .github/workflows/server-charm-release.yml
  .github/workflows/server-tox.yml
  .github/workflows/snap-promote.yml
  .github/workflows/submit-action-tags.yml
  .github/workflows/validate-workflows.yml
Due: none

fix: remove charmcraft from dependencies to use snap instead
  agent/pyproject.toml
  agent/uv.lock
Due: Agent

fix(server/agent): Install rustc from snap to support cargo lock file v4 (#834)
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  agent/pyproject.toml
  agent/uv.lock
  server/charm/charmcraft.yaml
Due: Agent, Server

chore(github): add concurrency to missing workflows (#835)
  .github/workflows/agent-host-charm-release.yml
  .github/workflows/agent-tox.yml
  .github/workflows/build-testflinger-testenv-container.yml
  .github/workflows/charm-promote.yml
  .github/workflows/charm-update-libs.yml
  .github/workflows/cli-publish-snap.yml
  .github/workflows/cli-tox.yml
  .github/workflows/common-tox.yml
  .github/workflows/device-tox.yml
  .github/workflows/server-charm-check-libs.yml
  .github/workflows/server-charm-release.yml
  .github/workflows/server-tox.yml
  .github/workflows/snap-promote.yml
  .github/workflows/submit-action-tags.yml
  .github/workflows/validate-workflows.yml
Due: none
