Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

docs/tutorial: Change jammy to noble
  docs/tutorial/index.rst
Due: none

docs/tutorial: Add reference to `poll` and the website
  docs/tutorial/index.rst
Due: none

docs/tutorial: Add a "Reserve job" section
  docs/.wordlist.txt
  docs/tutorial/index.rst
Due: none

docs/how-to: Add a "Reserve a device" guide
  docs/how-to/index.rst
  docs/how-to/reserve-job.rst
Due: none

docs/how-to: Fix typo in submit-job.rst
  docs/how-to/submit-job.rst
Due: none

docs/how-to: Improve submit-job.rst
  docs/how-to/submit-job.rst
Due: none

add restricted queues api
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_v1.py
Due: Server

update authenticate
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1.py
  server/tests/test_v1_authorization.py
Due: Server

update
  server/src/testflinger/api/v1.py
  server/tests/test_v1_authorization.py
Due: Server

udpate tests
  server/tests/conftest.py
  server/tests/test_v1_authorization.py
Due: Server

Refactor agent output handlers
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/handlers.py
  agent/src/testflinger_agent/job.py
  agent/tests/test_agent.py
  agent/tests/test_handlers.py
  agent/tests/test_job.py
  common/src/testflinger_common/enums.py
Due: Agent, Common

Added logging handlers and changed logging endpoints for the server
  server/pyproject.toml
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/application.py
  server/src/testflinger/logs.py
  server/tests/test_logging.py
  server/tests/test_v1.py
  server/uv.lock
Due: Server

Refactor agent to send combined log fragments as results
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/handlers.py
  agent/src/testflinger_agent/job.py
  agent/tests/test_agent.py
  agent/tests/test_handlers.py
  agent/tests/test_job.py
  server/pyproject.toml
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/test_logging.py
  server/tests/test_results.py
  server/tests/test_v1.py
  server/uv.lock
Due: Agent, Server

Add database functions to add results
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

Keep port for existing agents and assign available port for new agents
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_data/agent1.conf
  agent/charms/testflinger-agent-host-charm/tests/unit/test_data/agent2.conf
  agent/charms/testflinger-agent-host-charm/tests/unit/test_data/agent_no_port.conf
  agent/charms/testflinger-agent-host-charm/tests/unit/test_port_validation.py
Due: Agent

Rename Result schema to ResultGet
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
Due: Server

feat(server): add enhancements to client_credentials_admin script (#750)
  server/src/testflinger/tools/client_credentials_admin.py
Due: Server

docs: Add LaunchPad to .wordlist.txt
  docs/.wordlist.txt
Due: none

feat(cli): Add Admin module (#744)
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/errors.py
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

doc: added reference for agent status handling with CLI
  docs/explanation/agents.rst
  docs/how-to/authentication.rst
Due: none

doc: added reference for agent status handling with CLI (#758)
  docs/explanation/agents.rst
  docs/how-to/authentication.rst
Due: none

fix: typo in agent status doc
  docs/explanation/agents.rst
Due: none

fix: exempt logo images from LFS
  docs/.gitattributes
  docs/.sphinx/_static/favicon.png
  docs/.sphinx/_static/tag.png
Due: none

add git-lfs to docs Makefile as dependency
  docs/Makefile
Due: none

update RTD build config to support lfs and move dir
  docs/.readthedocs.yaml
Due: none

enable fail_on_warning during doc build
  docs/.readthedocs.yaml
  docs/Makefile
Due: none

improve Makefile commands for doc build
  docs/Makefile
Due: none

add auth bearer logic
  server/src/testflinger/api/auth.py
Due: Server

oem_autoinstall: Skip copy ssh keys to dut because they are not attached anymore
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/provision-image.sh
Due: Device Connectors

Add: preset kwargs to let the user add machine-level customization
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/tests/test_zapper_iot.py
  server/src/testflinger/api/schemas.py
Due: Device Connectors, Server

Add: preset kwargs to let the user add machine-level customization (#734)
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/tests/test_zapper_iot.py
  server/src/testflinger/api/schemas.py
Due: Device Connectors, Server

change: make serial-logger log and error only the first time
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
Due: Device Connectors
