Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

Rename Result schema to ResultGet
  server/pyproject.toml
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/uv.lock
Due: Server

Modify CLI to support new logging scheme
  agent/src/testflinger_agent/job.py
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/enums.py
  cli/tests/test_cli.py
  cli/tests/test_client.py
  cli/uv.lock
  common/src/testflinger_common/enums.py
Due: Agent, CLI, Common

Fix formatting in common
  common/src/testflinger_common/enums.py
Due: Common

Added logging redesign documentation
  docs/.custom_wordlist.txt
  docs/how-to/index.rst
  docs/how-to/retrieve-logs.rst
  docs/reference/test-phases.rst
  server/API.md
Due: Server

chore: modify docstrings, typehints and HTTPError request to be aligned with current code
  server/src/testflinger/api/v1.py
Due: Server

feat: add legacy output endpoints for backwards compatibility
  agent/src/testflinger_agent/client.py
  agent/uv.lock
  common/pyproject.toml
  server/src/testflinger/api/v1.py
Due: Agent, Common, Server

sync changes from common to server
  server/uv.lock
Due: Server

add build-essential as build package
  server/charm/charmcraft.yaml
Due: Server

add polymorphic Schema for results backward compatibility
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
Due: Server

fix new schema validation
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
Due: Server

add TTL and CLI nitpick
  cli/testflinger_cli/__init__.py
  server/src/testflinger/database.py
Due: CLI, Server

uv sync common
  common/uv.lock
Due: Common

Reboot control_host before provisioning if it's not reachable
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
Due: Device Connectors

Change: adapt all connectors to run the pre-provisioning hook first
  device-connectors/src/testflinger_device_connectors/devices/cm3/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/dell_oemscript/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/dragonboard/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/fake_connector/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/hp_oemscript/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/lenovo_oemscript/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/multi/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/netboot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/noprovision/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oemrecovery/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oemscript/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
Due: Device Connectors

fixup! Reboot control_host before provisioning if it's not reachable
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
Due: Device Connectors

Re-arranged in functions for clarity
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
Due: Device Connectors

ruff
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
Due: Device Connectors

fixed coverage issue
  agent/tests/test_client.py
Due: Agent

feat(server): add GrafanaDashboardProvider to testflinger server charm
  server/charm/charmcraft.yaml
  server/charm/lib/charms/grafana_k8s/v0/grafana_dashboard.py
  server/charm/src/charm.py
Due: Server

feat(server): add COS information to README
  server/charm/README.md
  server/charm/charmcraft.yaml
Due: Server

typo fix
  server/charm/README.md
Due: Server

address pr comments
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
Due: Device Connectors

better name
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
Due: Device Connectors

Fix job schema link in README.md (#831)
  .github/actions/submit/README.md
Due: none

Logging Redesign (#666)
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/handlers.py
  agent/src/testflinger_agent/job.py
  agent/tests/test_agent.py
  agent/tests/test_handlers.py
  agent/tests/test_job.py
  agent/tests/test_runner.py
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/enums.py
  cli/tests/test_cli.py
  cli/tests/test_client.py
  cli/uv.lock
  common/src/testflinger_common/enums.py
  docs/.custom_wordlist.txt
  docs/how-to/index.rst
  docs/how-to/retrieve-logs.rst
  docs/reference/test-phases.rst
  server/API.md
  server/pyproject.toml
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/application.py
  server/src/testflinger/database.py
  server/src/testflinger/logs.py
  server/tests/test_logging.py
  server/tests/test_results.py
  server/tests/test_v1.py
  server/uv.lock
Due: Agent, CLI, Common, Server

feat(server): Add GrafanaDasboardProvider to Charm (#838)
  server/charm/README.md
  server/charm/charmcraft.yaml
  server/charm/lib/charms/grafana_k8s/v0/grafana_dashboard.py
  server/charm/src/charm.py
Due: Server

tests: add unit tests to improve coverage
  cli/tests/test_cli.py
  server/tests/test_results.py
Due: CLI, Server

fix long line
  cli/tests/test_cli.py
Due: CLI

typo fix and more tests
  server/src/testflinger/api/v1.py
  server/tests/test_results.py
Due: Server

add suggestions made by reviewer
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
  server/src/testflinger/api/v1.py
Due: CLI, Server

add suggestions made by reviewer2
  agent/src/testflinger_agent/client.py
Due: Agent

feat: implement legacy endpoints for non breaking logging (#836)
  agent/src/testflinger_agent/client.py
  agent/uv.lock
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
  common/pyproject.toml
  common/uv.lock
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_results.py
  server/uv.lock
Due: Agent, CLI, Common, Server
