Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

docs: add maintain section to server
  docs/how-to/administer-server/index.rst
  docs/how-to/administer-server/maintain-testflinger-server.rst
Due: none

feat(server): enable authentication to webhook endpoint (#1015)
  server/charm/charmcraft.yaml
  server/charm/pyproject.toml
  server/charm/src/charm.py
  server/charm/src/config.py
  server/charm/tests/unit/test_config.py
  server/charm/uv.lock
  server/schemas/openapi.json
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_v1.py
Due: Server

feat(server): allow charm to provide oidc variables
  server/charm/charmcraft.yaml
  server/charm/src/charm.py
  server/charm/src/config.py
  server/charm/tests/unit/test_charm.py
  server/charm/tests/unit/test_config.py
Due: Server

fix(server): tell flask is behind a proxy
  server/src/testflinger/application.py
Due: Server

docs: add copilot suggestions
  docs/how-to/administer-server/deploy-testflinger-server.rst
Due: none

refactor: make ProxyFix conditional
  server/charm/charmcraft.yaml
  server/charm/src/charm.py
  server/charm/src/config.py
  server/src/testflinger/application.py
  server/tests/test_app.py
Due: Server

mongodb hotfix
  server/src/testflinger/database.py
Due: Server

add reviewer suggestions on diagram
  docs/images/testflinger_architecture.svg
Due: none

add reviewer suggestions
  docs/explanation/architecture.rst
  docs/explanation/index.rst
  docs/how-to/administer-server/deploy-testflinger-server.rst
Due: none

chore: Use pytest jubilant for charm integration tests (#1053)
  .github/workflows/agent-tox.yml
  .github/workflows/server-tox.yml
  agent/charms/testflinger-agent-host-charm/pyproject.toml
  agent/charms/testflinger-agent-host-charm/tests/integration/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
  agent/charms/testflinger-agent-host-charm/uv.lock
  server/charm/pyproject.toml
  server/charm/tests/integration/conftest.py
  server/charm/tests/integration/test_charm.py
  server/charm/tests/integration/test_nginx_ingress.py
  server/charm/tests/integration/test_traefik_ingress.py
  server/charm/uv.lock
Due: Agent, Server

add suggestions made by reviewer
  docs/explanation/architecture.rst
  docs/how-to/administer-server/deploy-testflinger-server.rst
Due: none

tests: add unit tests for gridfs
  server/tests/test_database.py
Due: Server

add copilot suggestions
  server/tests/test_database.py
Due: Server

fix(server): pymongo gridfs attribute error (#1118)
  server/src/testflinger/database.py
  server/tests/test_database.py
Due: Server

fix(ci): zizmor ref-version-mismatch
  .github/workflows/agent-tox.yml
  .github/workflows/build-testflinger-testenv-container.yml
  .github/workflows/cli-tox.yml
  .github/workflows/device-tox.yml
  .github/workflows/server-charm-release.yml
  .github/workflows/server-tox.yml
Due: none

add copilot suggestions
  server/charm/src/config.py
  server/charm/tests/unit/test_config.py
Due: Server

add formatting
  server/charm/tests/unit/test_config.py
Due: Server

feat: add homepage
  server/devel/dex-config.yaml
  server/src/testflinger/templates/_footer.html
  server/src/testflinger/templates/homepage.html
  server/src/testflinger/views.py
Due: Server

feat: make header conditional on oidc or user.session
  server/src/testflinger/templates/_header.html
  server/src/testflinger/templates/_nav_bar.html
  server/src/testflinger/templates/homepage.html
Due: Server

tests: fix home test
  server/tests/test_v1.py
Due: Server

add copilot suggestions
  server/src/testflinger/templates/_header.html
  server/tests/test_v1.py
Due: Server

add reviewer suggestions
  server/src/testflinger/templates/_nav_bar.html
  server/src/testflinger/templates/homepage.html
Due: Server

include reviewer suggestions
  docs/how-to/administer-server/deploy-testflinger-server.rst
Due: none

feat(server): add testflinger homepage (#1119)
  server/devel/dex-config.yaml
  server/src/testflinger/templates/_footer.html
  server/src/testflinger/templates/_header.html
  server/src/testflinger/templates/_nav_bar.html
  server/src/testflinger/templates/homepage.html
  server/src/testflinger/views.py
  server/tests/test_v1.py
Due: Server

fix(ci): zizmor ref-version-mismatch (#1116)
  .github/workflows/agent-tox.yml
  .github/workflows/build-testflinger-testenv-container.yml
  .github/workflows/cli-tox.yml
  .github/workflows/device-tox.yml
  .github/workflows/server-charm-release.yml
  .github/workflows/server-tox.yml
Due: none

add notes based on reviewer suggestions
  docs/how-to/administer-server/deploy-testflinger-server.rst
Due: none

docs: include server deployment in public documentation (#1109)
  docs/explanation/architecture.rst
  docs/explanation/index.rst
  docs/how-to/administer-server/deploy-testflinger-server.rst
  docs/how-to/administer-server/index.rst
  docs/how-to/administer-server/maintain-testflinger-server.rst
  docs/how-to/index.rst
  docs/images/testflinger_architecture.svg
  docs/reuse/links.txt
Due: none

chore(deps): update remaining component
  agent/uv.lock
  cli/uv.lock
  device-connectors/uv.lock
Due: Agent, CLI, Device Connectors

include comments suggested by reviewer
  server/charm/tests/unit/test_config.py
  server/src/testflinger/application.py
Due: Server

docs: migrate docs hosting site to ubuntu.com/docs
  docs/.sphinx/_static/overwrite_links.js
  docs/conf.py
Due: none

chore: rename behind_proxy to enable_proxyfix
  server/charm/charmcraft.yaml
  server/charm/src/charm.py
  server/charm/src/config.py
  server/src/testflinger/application.py
  server/tests/test_app.py
Due: Server

fix(user-data): In 26.04 remove 00-*.yaml netplan config to let 01-*.yaml to handle network in provisioned os
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/default-user-data
Due: Device Connectors

feat(docs): enable Google Analytics cookie banner in html templates
  docs/.sphinx/_templates/footer.html
  docs/.sphinx/_templates/header.html
  docs/conf.py
Due: none

feat(server-charm): add configuration options to set OIDC (#1111)
  server/charm/charmcraft.yaml
  server/charm/src/charm.py
  server/charm/src/config.py
  server/charm/tests/unit/test_charm.py
  server/charm/tests/unit/test_config.py
  server/src/testflinger/application.py
  server/tests/test_app.py
Due: Server

feat(server-charm): replace traefik route with ingress configurator
  server/charm/charmcraft.yaml
  server/charm/lib/charms/traefik_k8s/v0/traefik_route.py
  server/charm/lib/charms/traefik_k8s/v2/ingress.py
  server/charm/src/charm.py
Due: Server

tests: update unit tests
  server/charm/tests/integration/helpers.py
  server/charm/tests/integration/test_ingress_configurator.py
  server/charm/tests/unit/test_charm.py
Due: Server

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
