Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

Fix: Update string concatenations to use f-strings throughout (#893)
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/job.py
  agent/src/testflinger_agent/tarfile_patch.py
  agent/tests/test_agent.py
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/tests/test_admin_cli.py
  cli/tests/test_cli.py
  cli/tests/test_cli_auth.py
  server/tests/test_results.py
Due: Agent, CLI, Server

implement findings from review
  cli/tests/test_cli.py
Due: CLI

fix: busy loop using wrong command
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
Due: Device Connectors

fix: busy loop using wrong command (#895)
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
Due: Device Connectors

add-tics-workflow
  .github/workflows/tics.yml
  agent/src/testflinger_agent/client.py
Due: Agent

add-tics-workflow (#884)
  .github/workflows/tics.yml
  agent/src/testflinger_agent/client.py
Due: Agent

feat:add traefik ingress provider to charm
  server/charm/charmcraft.yaml
  server/charm/lib/charms/traefik_k8s/v2/ingress.py
  server/charm/src/charm.py
Due: Server

tests: add unit tests for ingress
  server/charm/tests/unit/test_charm.py
Due: Server

tests: move ingress test to nginx_ingress
  server/charm/tests/integration/test_nginx_ingress.py
Due: Server

tests: add integration tests for traefik
  server/charm/tests/integration/test_traefik_ingress.py
Due: Server

tests: add copyright notice to integration tests fixtures
  server/charm/tests/integration/conftest.py
Due: Server

fix: explicitely use endpoint for relations
  server/charm/tests/integration/test_nginx_ingress.py
  server/charm/tests/integration/test_traefik_ingress.py
Due: Server

replace ingress with traefik-route
  server/charm/charmcraft.yaml
  server/charm/lib/charms/traefik_k8s/v0/traefik_route.py
  server/charm/lib/charms/traefik_k8s/v2/ingress.py
  server/charm/src/charm.py
  server/charm/tests/integration/test_traefik_ingress.py
  server/charm/tests/unit/test_charm.py
Due: Server

test: add additional unit test for non leader submit
  server/charm/tests/unit/test_charm.py
Due: Server

add relation broken handler
  server/charm/src/charm.py
Due: Server

test retrieving Ip from K8s
  server/charm/src/charm.py
  server/charm/tests/integration/helpers.py
  server/charm/tests/integration/test_traefik_ingress.py
  server/pyproject.toml
  server/uv.lock
Due: Server

typo fix
  server/charm/tests/integration/helpers.py
Due: Server

add reviewer suggestions
  server/charm/charmcraft.yaml
  server/charm/tests/integration/helpers.py
  server/charm/tests/integration/test_nginx_ingress.py
  server/charm/tests/integration/test_traefik_ingress.py
  server/pyproject.toml
  server/uv.lock
Due: Server

typo fix
  server/charm/tests/integration/test_traefik_ingress.py
Due: Server

Resolves [CERTTF-648]: `jobs --status` stops iterating if one job has bad data (#890)
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/errors.py
  cli/tests/test_cli.py
Due: CLI

re-use zapper logic in muxpi
  device-connectors/src/testflinger_device_connectors/devices/muxpi/muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

unplug the USB stick when provisioning MAAS, OEM-22/24
  device-connectors/src/testflinger_device_connectors/devices/maas2/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_zapper_oem.py
  device-connectors/src/testflinger_device_connectors/devices/oemscript/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

format
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_zapper_oem.py
Due: Device Connectors

wait_ready function
  device-connectors/src/testflinger_device_connectors/devices/maas2/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_zapper_oem.py
  device-connectors/src/testflinger_device_connectors/devices/oemscript/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

fix: don't touch usb in oem_autoinstall with zapper involved
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_zapper_oem.py
Due: Device Connectors

fix: format
  device-connectors/src/testflinger_device_connectors/devices/maas2/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oemscript/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

tmi
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/__init__.py
Due: Device Connectors

add unit test to validate broken relation
  server/charm/src/charm.py
  server/charm/tests/unit/test_charm.py
Due: Server

feat(server): add traefik route to charm (#896)
  server/charm/charmcraft.yaml
  server/charm/lib/charms/traefik_k8s/v0/traefik_route.py
  server/charm/src/charm.py
  server/charm/tests/integration/conftest.py
  server/charm/tests/integration/helpers.py
  server/charm/tests/integration/test_nginx_ingress.py
  server/charm/tests/integration/test_traefik_ingress.py
  server/charm/tests/unit/test_charm.py
Due: Server

Add debug output and fix Python package installation for jammy migration
  server/HACKING.md
  server/devel/testflinger.yaml
Due: Server

Fix pip install conflict with system packages - add --force-reinstall and --no-cache-dir
  HANDOFF.md
  server/devel/testflinger.yaml
Due: Server

To support runtime autoinstall gen method
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/zapper_oem.py
Due: Device Connectors

chore(agent): add charmlibs to requirements.txt
  agent/charms/testflinger-agent-host-charm/requirements.txt
Due: Agent

chore(agent): add charmlibs to charm dependency group
  agent/pyproject.toml
  agent/uv.lock
Due: Agent

chore(agent): use charmlibs instead of operator_libs_linux
  agent/charms/testflinger-agent-host-charm/src/charm.py
Due: Agent

chore(agent): remove operator_libs_linux
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  agent/charms/testflinger-agent-host-charm/lib/charms/operator_libs_linux/v0/apt.py
  agent/charms/testflinger-agent-host-charm/lib/charms/operator_libs_linux/v0/passwd.py
  agent/charms/testflinger-agent-host-charm/lib/charms/operator_libs_linux/v1/systemd.py
Due: Agent

chore(agent): Replace operator_libs_linux with charmlibs (#899)
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  agent/charms/testflinger-agent-host-charm/lib/charms/operator_libs_linux/v0/apt.py
  agent/charms/testflinger-agent-host-charm/lib/charms/operator_libs_linux/v0/passwd.py
  agent/charms/testflinger-agent-host-charm/lib/charms/operator_libs_linux/v1/systemd.py
  agent/charms/testflinger-agent-host-charm/requirements.txt
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/pyproject.toml
  agent/uv.lock
Due: Agent

Fix zapper_oem minimum_validation and full_validation
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_zapper_oem.py
Due: Device Connectors

breaking(agent): Require authentication on agent charm
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/common.py
  agent/charms/testflinger-agent-host-charm/src/defaults.py
  agent/charms/testflinger-agent-host-charm/src/testflinger_client.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_common.py
Due: Agent

chore: bump ops and add requests as charm requirement
  agent/charms/testflinger-agent-host-charm/requirements.txt
Due: Agent
