Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

test: integration test to validate ingress end to end
  server/charm/tests/integration/consts.py
  server/charm/tests/integration/helpers.py
  server/charm/tests/integration/test_charm.py
  server/charm/tests/integration/test_ingress_configurator.py
  server/charm/tests/integration/test_nginx_ingress.py
Due: Server

ci: modify server-tox to support bootstraping lxd
  .github/workflows/server-tox.yml
  server/charm/concierge.yaml
  server/charm/tests/integration/conftest.py
  server/charm/tests/integration/test_charm.py
  server/charm/tests/integration/test_ingress_configurator.py
  server/charm/tests/integration/test_nginx_ingress.py
  server/charm/tox.ini
Due: Server

review: add copilot suggestions
  .github/workflows/server-tox.yml
  server/charm/src/charm.py
  server/charm/tests/integration/conftest.py
  server/charm/tests/integration/test_ingress_configurator.py
Due: Server

tests: update integration tests
  server/charm/tests/integration/helpers.py
  server/charm/tests/integration/test_ingress_configurator.py
Due: Server

add coverage and add fix
  server/charm/tests/integration/test_ingress_configurator.py
  server/charm/tests/unit/test_charm.py
Due: Server

fix juju cli
  server/charm/tests/integration/test_ingress_configurator.py
Due: Server

collect juju logs as artifact
  .github/workflows/server-tox.yml
  server/charm/tests/integration/conftest.py
  server/charm/tox.ini
Due: Server

fix integration
  server/charm/tests/integration/test_ingress_configurator.py
Due: Server

resolve merge conflicts
  server/charm/tests/unit/test_charm.py
Due: Server

feat(server-charm): support ingress interface and remove traefik_route (#1123)
  .github/workflows/server-tox.yml
  server/charm/charmcraft.yaml
  server/charm/concierge.yaml
  server/charm/lib/charms/traefik_k8s/v0/traefik_route.py
  server/charm/lib/charms/traefik_k8s/v2/ingress.py
  server/charm/src/charm.py
  server/charm/tests/integration/conftest.py
  server/charm/tests/integration/consts.py
  server/charm/tests/integration/helpers.py
  server/charm/tests/integration/test_charm.py
  server/charm/tests/integration/test_ingress_configurator.py
  server/charm/tests/integration/test_nginx_ingress.py
  server/charm/tests/integration/test_traefik_ingress.py
  server/charm/tests/unit/test_charm.py
  server/charm/tox.ini
Due: Server

update maas device connector to more quickly, clearly and concisely determine if a DUT has come online correctly and provides more information when there are issues.
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
Due: Device Connectors

feat(device-connectors): configure control host power cycle
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/tests/test_zapper_iot.py
  device-connectors/tests/test_devices.py
Due: Device Connectors

change: keep the DUT off while the control_host is being rebooted
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
  device-connectors/tests/test_devices.py
Due: Device Connectors

docs: update tutorial status filter
  docs/tutorial/index.rst
Due: none

quick fix to update the default TTL from 7 days to 14 days to prevent agents and jobs from disappearing within a given reservation time
  server/src/testflinger/database.py
Due: Server

make it opt-in
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
  device-connectors/tests/test_devices.py
Due: Device Connectors

fix bug with running in parallel
  device-connectors/tests/test_cmd.py
Due: Device Connectors

chore(deps): update pytest-jubilant to latest version
  server/charm/uv.lock
Due: Server

tests: update integration tests to use Juju Factory
  .github/workflows/server-tox.yml
  server/charm/tests/integration/conftest.py
Due: Server

feat(server): restrict views if OIDC enabled
  server/src/testflinger/templates/401_unauthorized.html
  server/src/testflinger/views.py
Due: Server

tests: add unit tests for views restriction
  server/tests/test_views.py
Due: Server

replace Flask Blueprint with apiflask APIBlueprint
  server/src/testflinger/views.py
Due: Server

chore: replace Flask Blueprint with apiflask APIBlueprint
  server/src/testflinger/oidc/views.py
Due: Server

chore(deps): update pytest-jubilant to fix bug
  server/charm/uv.lock
Due: Server

tests and utility
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/tests/test_devices.py
Due: Device Connectors

documentation update
  docs/reference/device-connector-conf.rst
Due: none

Fix: zapper_iot must define test_data issue We default use test_data username/password, while test_data is not defined fallback to use provision_data username/password but just "ubunut"/"ubuntu"
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/tests/test_zapper_iot.py
Due: Device Connectors

Add warning message when the username password different to test_username and test_password
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
Due: Device Connectors

Fix: IoT provisioning must define test_data issue (#1126)
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/tests/test_zapper_iot.py
Due: Device Connectors

fix: only muxpi and iot shoudl power cycle the dut
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/tests/test_zapper_iot.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

don't log in case script is null
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/tests/test_devices.py
Due: Device Connectors

feat(server): add "Copy job YAML" button to dashboard job detail
  server/devel/create_sample_data.py
  server/docker-compose.yml
  server/src/testflinger/application.py
  server/src/testflinger/static/assets/css/testflinger.css
  server/src/testflinger/static/assets/js/clipboard.js
  server/src/testflinger/templates/base.html
  server/src/testflinger/templates/job_detail.html
  server/src/testflinger/views.py
  server/tests/test_views.py
Due: Server

docs: add HANDOFF.md session handoff notes
  HANDOFF.md
Due: none

Slightly better documentation
  docs/reference/device-connector-conf.rst
Due: none

better null handling
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
Due: Device Connectors

makes sense to clean them up together
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
Due: Device Connectors

fix(agent-charm): flaky integration tests
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
Due: Agent

feat(server): move Copy job YAML button onto the tabs row
  server/src/testflinger/static/assets/css/testflinger.css
  server/src/testflinger/templates/job_detail.html
Due: Server

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
