Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

add reviewer suggestions
  docs/how-to/use-secrets.rst
  docs/reference/secrets.rst
  server/src/testflinger/api/schemas.py
  server/src/testflinger/secrets/mongo.py
Due: Server

push schema changes
  server/schemas/openapi.json
  server/src/testflinger/secrets/mongo.py
Due: Server

Apply suggestions from code review
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/oidc/views.py
Due: Server

change how _id is handled so that there is something to include in the OWASP log
  server/src/testflinger/api/auth.py
  server/src/testflinger/database.py
Due: Server

fix: resolve mypy type errors in cli/testflinger_cli/auth.py (#1030)
  cli/testflinger_cli/auth.py
Due: CLI

Apply suggestion from @rene-oromtz
  server/src/testflinger/api/auth.py
Due: Server

fix(agent): handle None response from retry exhaustion to prevent crashes
  agent/src/testflinger_agent/client.py
  agent/tests/test_client.py
Due: Agent

test(agent): add status_code branch tests and use @patch decorators
  agent/tests/test_client.py
Due: Agent

fix(cli): drop trailing blank line from `jobs` output (#1042)
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
Due: CLI

fix the defects that rene found it.
  server/src/testflinger/database.py
Due: Server

chore: allow parallelization in unit tests
  cli/.gitignore
  cli/pyproject.toml
  cli/tox.ini
  cli/uv.lock
  device-connectors/pyproject.toml
  device-connectors/tox.ini
  device-connectors/uv.lock
  server/pyproject.toml
  server/tox.ini
  server/uv.lock
Due: CLI, Device Connectors, Server

Add output polling interval to CommandRunner
  agent/src/testflinger_agent/job.py
Due: Agent

chore: include missing coverage lines
  cli/tox.ini
  device-connectors/tox.ini
  server/tox.ini
Due: CLI, Device Connectors, Server

Apply suggestion from @rene-oromtz
  cli/.gitignore
Due: CLI

fix: run uv sync on agent
  agent/uv.lock
Due: Agent

Update agent/src/testflinger_agent/job.py
  agent/src/testflinger_agent/job.py
Due: Agent

doc fix
  docs/reference/secrets.rst
Due: none

modify toplevel gitignore
  .gitignore
  cli/.gitignore
Due: CLI

Apply suggestion from @ajzobro
  agent/tests/test_job.py
Due: Agent

new: allow providing the image over attachment for IoT (#1026)
  device-connectors/pyproject.toml
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
  server/src/testflinger/api/schemas.py
  server/tests/test_v1.py
Due: Device Connectors, Server

chore: allow pytest parallelization (#1044)
  .gitignore
  agent/uv.lock
  cli/pyproject.toml
  cli/tox.ini
  cli/uv.lock
  device-connectors/pyproject.toml
  device-connectors/tox.ini
  device-connectors/uv.lock
  server/pyproject.toml
  server/tox.ini
  server/uv.lock
Due: Agent, CLI, Device Connectors, Server

feat(server/cli): include an option for secrets TTL (#1037)
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/consts.py
  cli/tests/test_secret.py
  docs/how-to/use-secrets.rst
  docs/reference/secrets.rst
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/secrets/mongo.py
  server/src/testflinger/secrets/store.py
  server/src/testflinger/secrets/vault.py
  server/tests/test_mongo_store.py
  server/tests/test_v1_secrets.py
  server/tests/test_vault_store.py
Due: CLI, Server

feat(server): add webhook charm options with typed config
  server/charm/charmcraft.yaml
  server/charm/pyproject.toml
  server/charm/src/charm.py
  server/charm/src/config.py
  server/charm/uv.lock
Due: Server

feat(server): update server API with webhook authentication
  server/schemas/openapi.json
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

tests: add charm unit tests for typed config
  server/charm/tests/unit/test_config.py
Due: Server

tests: add server tests for webhook authentication
  server/tests/test_v1.py
Due: Server

tests: add missing tests based on copilot review
  server/src/testflinger/api/v1.py
  server/tests/test_v1.py
Due: Server

feature: Add OWASP Logging (#1029)
  cli/tests/test_cli.py
  common/src/testflinger_common/enums.py
  server/pyproject.toml
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/application.py
  server/src/testflinger/database.py
  server/src/testflinger/oidc/views.py
  server/src/testflinger/owasp/__init__.py
  server/src/testflinger/secrets/__init__.py
  server/tests/conftest.py
  server/tests/test_owasp_logging.py
  server/tests/test_results.py
  server/tests/test_v1.py
  server/tests/test_v1_authorization.py
  server/tests/test_v1_secrets.py
  server/uv.lock
Due: CLI, Common, Server

docs: add an example on ephemeral deployments
  docs/reference/job-schema.rst
Due: none

docs: add an example on ephemeral deployments (#1045)
  docs/reference/job-schema.rst
Due: none

fix(cli): drop trailing blank line from `jobs` output (#1042) (#1043)
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
Due: CLI

refactor(agent): migrate charm to uv plugin
  agent/charms/testflinger-agent-host-charm/CONTRIBUTING.md
  agent/charms/testflinger-agent-host-charm/README.md
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  agent/charms/testflinger-agent-host-charm/pyproject.toml
  agent/charms/testflinger-agent-host-charm/requirements-dev.txt
  agent/charms/testflinger-agent-host-charm/requirements.txt
  agent/charms/testflinger-agent-host-charm/tox.ini
  agent/charms/testflinger-agent-host-charm/uv.lock
  agent/pyproject.toml
  agent/tox.ini
  agent/uv.lock
Due: Agent

ci: update workflows with new charm setup
  .github/workflows/agent-tox.yml
  .github/workflows/tics.yml
Due: none

fix: use correct path for templates
  agent/charms/testflinger-agent-host-charm/src/charm.py
Due: Agent

chore: run formatting and linting for charm code
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/charm_utils.py
  agent/charms/testflinger-agent-host-charm/src/common.py
  agent/charms/testflinger-agent-host-charm/src/testflinger_client.py
  agent/charms/testflinger-agent-host-charm/src/testflinger_source.py
  agent/charms/testflinger-agent-host-charm/tests/integration/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
  agent/charms/testflinger-agent-host-charm/tests/unit/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm_utils.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_config.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_supervisord.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_client.py
Due: Agent

add suggestions made by reviewer
  agent/charms/testflinger-agent-host-charm/.python-version
  agent/charms/testflinger-agent-host-charm/files/ssh-config
  agent/charms/testflinger-agent-host-charm/run_tests
Due: Agent

fix: add part for copying templates
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
Due: Agent

bump gitpython
  agent/charms/testflinger-agent-host-charm/pyproject.toml
  agent/charms/testflinger-agent-host-charm/uv.lock
Due: Agent

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
