Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

oem_autoinstalL: Add default autoinstall configs for Stock ubuntu
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/stock/default-grub.cfg
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/stock/default-meta-data
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/stock/default-user-data
Due: Device Connectors

oem_autoinstall: Send default stock configs by zapper_oem
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/zapper_oem.py
Due: Device Connectors

update
  server/src/testflinger/api/serializers.py
  server/src/testflinger/api/v1.py
Due: Server

update
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/serializers.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1.py
Due: Server

update
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

feat(submit): support authentication in submit action (#746)
  .github/actions/submit/README.md
  .github/actions/submit/action.yaml
Due: none

Added suggestions made by reviewer
  server/src/testflinger/api/auth.py
  server/src/testflinger/database.py
Due: Server

refactor(server): Moved all auth logic from v1.py to new module auth.py (#747)
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

Added decorator for api authentication (optional)
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1_authorization.py
Due: Server

Added decorator for requiring role in endpoint
  server/src/testflinger/api/auth.py
Due: Server

chore: update charm libraries
  server/charm/lib/charms/data_platform_libs/v0/data_interfaces.py
Due: Server

Added role for client_id
  server/src/testflinger/tools/client_credentials_admin.py
Due: Server

Add show option in script
  server/src/testflinger/tools/client_credentials_admin.py
Due: Server

Handled KeyboardInterrupt
  server/src/testflinger/tools/client_credentials_admin.py
Due: Server

fix Ruff format errors
  server/src/testflinger/tools/client_credentials_admin.py
Due: Server

Added enum suggested by reviewer
  server/pyproject.toml
  server/src/testflinger/api/auth.py
  server/src/testflinger/enums.py
  server/uv.lock
Due: Server

style: ruff fix
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/zapper_oem.py
Due: Device Connectors

fix: Update UT to verify base64 args
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_zapper_oem.py
Due: Device Connectors

feat(server): Added logic for enforcing endpoint restriction (#749)
  server/pyproject.toml
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/enums.py
  server/tests/test_v1_authorization.py
  server/uv.lock
Due: Server

Initial approach for agent status without tmp files
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/client.py
Due: Agent

Included maintenance for offlining a device
  agent/src/testflinger_agent/agent.py
Due: Agent

Included comments when setting an agent state
  agent/src/testflinger_agent/agent.py
Due: Agent

Remove all tmp files references
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/client.py
  agent/tests/test_agent.py
  agent/tests/test_agent_process.py
Due: Agent

Added RestartHandler
  agent/src/testflinger_agent/agent.py
  agent/tests/test_agent.py
Due: Agent

Added restart handler to validate if agent is pending a restart.
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/handlers.py
Due: Agent

Modified Unit Tests to include additional calls to endpoint
  agent/src/testflinger_agent/client.py
  agent/tests/test_agent.py
Due: Agent

Generalize AgentStatusHandler to monitor if offline or restart is needed
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/handlers.py
Due: Agent

fix: disable offline flag after changing status to allow recovery
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/handlers.py
Due: Agent

Modify unit tests
  agent/tests/test_agent.py
  agent/tests/test_agent_process.py
Due: Agent

Added Unit Test for admin status handling
  agent/tests/test_agent.py
  agent/tests/test_status_handler.py
Due: Agent

chore: update charm libraries
  server/charm/lib/charms/data_platform_libs/v0/data_interfaces.py
  server/charm/lib/charms/observability_libs/v0/juju_topology.py
Due: Server

Added additional unit tests
  agent/tests/test_agent.py
  agent/tests/test_status_handler.py
Due: Agent

chore: update charm libraries
  agent/charms/testflinger-agent-host-charm/lib/charms/operator_libs_linux/v0/apt.py
Due: Agent

Added suggestions made by reviewer
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/handlers.py
  agent/tests/test_status_handler.py
Due: Agent

Modify restart behavior to not clear offline flag
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/handlers.py
Due: Agent

Bug fix for setting offline after job completion
  agent/src/testflinger_agent/agent.py
Due: Agent

Replaced agent state in test for its enums
  agent/tests/test_agent.py
  agent/tests/test_status_handler.py
Due: Agent

docs/tutorial: Clean up
  docs/tutorial/index.rst
Due: none
