Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

tests: add additional unit tests
  server/tests/test_v1.py
Due: Server

update server code to use webhook_url
  server/src/testflinger/api/helpers.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1.py
Due: Server

Apply suggestions from code review
  docs/how-to/administer-agent-hosts/maintain-testflinger-agent-host.rst
Due: none

tests: add test for validating ephemeral behaviour
  cli/tests/test_cli.py
Due: CLI

docs: update to include maas new key
  docs/how-to/reserve-job.rst
  docs/reference/device-connector-types.rst
Due: none

feat(cli): add ephemeral to reserve command
  cli/testflinger_cli/__init__.py
Due: CLI

remvoe extra underline
  docs/how-to/administer-agent-hosts/maintain-testflinger-agent-host.rst
Due: none

add copilot suggestions
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
  docs/how-to/reserve-job.rst
  docs/reference/device-connector-types.rst
Due: CLI

add reviewer suggestions
  .github/actions/queue-status/action.yaml
  .github/actions/submit/action.yaml
Due: none

fix(agent): pin charmlibs-apt to a known version
  agent/charms/testflinger-agent-host-charm/requirements.txt
Due: Agent

chore: configure renovate minimumReleaseAge
  renovate.json5
Due: none

fix(cli): get client_id from auth module
  cli/testflinger_cli/__init__.py
Due: CLI

update tests for leading slash
  cli/tests/test_secret.py
Due: CLI

feat(cli): validate user defined path for secret write
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/helpers.py
  cli/tests/test_secret.py
Due: CLI

fix: jammy preset is not handling alloem
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

moved things around for clarity
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
Due: Device Connectors

feat(cli): modify the path pattern and include tests
  cli/testflinger_cli/helpers.py
  cli/tests/test_secret.py
Due: CLI

CLI: fix broken URL in the 401 error message resolves #1022 (BugFix)
  cli/testflinger_cli/__init__.py
Due: CLI

first draft, tests won't pass though
  server/pyproject.toml
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/application.py
  server/src/testflinger/owasp/__init__.py
  server/src/testflinger/owasp/views.py
  server/src/testflinger/secrets/__init__.py
  server/tests/test_owasp_logging.py
  server/uv.lock
Due: Server

docs: add additional consideration for secrets path
  docs/reference/secrets.rst
Due: none

docs: add reviewer recommendations
  cli/testflinger_cli/helpers.py
  cli/tests/test_secret.py
Due: CLI

feat(server): add path validation
  server/src/testflinger/api/helpers.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1_secrets.py
Due: Server

Add always to the job completion waiting (#1025)
  .github/actions/submit/action.yaml
Due: none

feat(server): update abstract class to accept expiration
  server/src/testflinger/secrets/store.py
Due: Server

feat(server): update schema and api to accept expiration fields
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
Due: Server

feat(server): update Vault signature without TTL support
  server/src/testflinger/secrets/vault.py
Due: Server

feat(server): update MongoDB store to handle TTL
  server/src/testflinger/secrets/mongo.py
Due: Server

add formatting and update tests and schema
  server/schemas/openapi.json
  server/src/testflinger/api/v1.py
  server/src/testflinger/secrets/store.py
  server/tests/test_mongo_store.py
  server/tests/test_v1_secrets.py
Due: Server

tests: add unit tests for new code
  server/tests/test_mongo_store.py
Due: Server

allow providing the image over attachment
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/tests/test_zapper_iot.py
  server/src/testflinger/api/schemas.py
  server/tests/test_v1.py
Due: Device Connectors, Server

ruff it
  device-connectors/pyproject.toml
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
Due: Device Connectors

Fix: TF Agent host charm rebuilds COS scrape jobs based on supervisor config.
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/supervisord.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_supervisord.py
Due: Agent

Fix: TF Agent host charm rebuilds COS scrape jobs based on supervisor config. (#1027)
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/supervisord.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_supervisord.py
Due: Agent

feat(cli): add TTL to secret write command
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/consts.py
Due: CLI

tests: update cli tests and add for new code
  cli/testflinger_cli/consts.py
  cli/tests/test_secret.py
Due: CLI

fix: make read timezone aware
  server/src/testflinger/secrets/mongo.py
Due: Server

feat(server): update secret store to accept expiration
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/secrets/mongo.py
  server/src/testflinger/secrets/store.py
  server/src/testflinger/secrets/vault.py
Due: Server

tests: update and add unit tests for new code
  server/schemas/openapi.json
  server/src/testflinger/api/v1.py
  server/src/testflinger/secrets/mongo.py
  server/src/testflinger/secrets/store.py
  server/tests/test_mongo_store.py
  server/tests/test_v1_secrets.py
Due: Server

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
