Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

use config file
  .github/workflows/charm-update-libs.yml
  .github/workflows/validate-workflows.yml
  .github/zizmor.yml
  justfile
Due: none

also update stale
  .github/zizmor.yml
Due: none

fix(ci): address zizmor findings (#1361)
  .github/workflows/charm-update-libs.yml
  .github/workflows/cli-publish-snap.yml
  .github/workflows/validate-workflows.yml
  .github/zizmor.yml
  justfile
Due: none

feat(server): add UTC Datetime schema for naive UTC
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/database.py
  server/tests/test_v1.py
Due: Server

update docstring for UTCDatetime
  server/src/testflinger/api/schemas.py
Due: Server

feat(server): add job statistics on job POST (#1327)
  docs/reference/api-roles-table.txt
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/conftest.py
  server/tests/permissions.json
  server/tests/test_database.py
  server/tests/test_v1.py
Due: Server

feat(cli): add job-events command
  cli/pyproject.toml
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/consts.py
  cli/testflinger_cli/helpers.py
  cli/uv.lock
Due: CLI

tests: add unit tests for new command
  cli/tests/test_helpers.py
  cli/tests/test_job_events.py
Due: CLI

feat(cli): allow specifying fields to display
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/consts.py
Due: CLI

feat(server): allow server to also expose the phase as a key
  server/src/testflinger/api/schemas.py
  server/src/testflinger/events.py
Due: Server

refactor: event use exit_code instead of status
  cli/testflinger_cli/consts.py
  cli/tests/test_job_events.py
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/events.py
  server/src/testflinger/templates/_job_activity.html
Due: CLI, Server

use rich instead of tabulate
  cli/pyproject.toml
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/helpers.py
  cli/uv.lock
  server/src/testflinger/api/schemas.py
Due: CLI, Server

remove tabulate
  cli/pyproject.toml
  cli/testflinger_cli/helpers.py
  cli/tests/test_helpers.py
  cli/uv.lock
Due: CLI

format
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/consts.py
  cli/testflinger_cli/helpers.py
Due: CLI

nitpicks
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/helpers.py
Due: CLI

tests: add additional unit tests
  cli/testflinger_cli/__init__.py
  cli/tests/test_job_events.py
  server/src/testflinger/events.py
  server/tests/test_events.py
  server/tests/test_v1.py
  server/tests/test_views.py
Due: CLI, Server

format
  cli/testflinger_cli/helpers.py
Due: CLI

fix schema
  server/schemas/openapi.json
Due: Server

replace queue with queue_name to match the rest of the api endpoints
  server/scripts/generate_permissions.py
  server/tests/permissions.json
Due: Server

Generate Permissions JSON Script (#1358)
  .github/workflows/server-tox.yml
  server/justfile
  server/scripts/generate_permissions.py
  server/tests/permissions.json
  server/tests/test_v1_authorization_roles.py
  server/tox.ini
Due: Server

fix(device-connectors): MAAS - add timeout for efi calls
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
Due: Device Connectors

chore: remove redundant cmd definition
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
Due: Device Connectors

add copilot suggestions
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
Due: Device Connectors

bump orchestrator sorting role
  common/src/testflinger_common/enums.py
  server/schemas/openapi.json
  server/tests/conftest.py
Due: Common, Server

nitpicks on other orchestrator sorting
  cli/testflinger_cli/enums.py
  server/src/testflinger/tools/client_credentials_admin.py
Due: CLI, Server

fix roles checks
  docs/reference/api-roles-table.txt
Due: none

format common
  common/src/testflinger_common/enums.py
Due: Common

add integration timeout as a constant
  server/charm/tests/integration/consts.py
  server/charm/tests/integration/test_charm.py
  server/charm/tests/integration/test_ingress_configurator.py
  server/charm/tests/integration/test_nginx_ingress.py
Due: Server

chore: bump urllib3 while we are here
  agent/uv.lock
  device-connectors/uv.lock
Due: Agent, Device Connectors

feat(agent): Added a new links field the agent schema
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/schema.py
  agent/tests/test_agent.py
  agent/tests/test_client.py
Due: Agent

feat(server): Added the external links on the server side to display on the webapp
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/templates/agent_detail.html
Due: Server

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
