Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

feat(cli): add logic for create/edit client_ids from cli
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/client.py
Due: CLI

tests: moved all admin related commands to its own module
  cli/pyproject.toml
  cli/testflinger_cli/tests/test_admin_cli.py
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

tests: created fixtures for common authentication for admin commands
  cli/testflinger_cli/tests/test_admin_cli.py
Due: CLI

tests: added unit test for cli new commands
  cli/pyproject.toml
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/tests/test_admin_cli.py
Due: CLI

modify print statement
  cli/testflinger_cli/admin.py
Due: CLI

bug fix
  cli/testflinger_cli/admin.py
Due: CLI

docs: include reference for new commands
  docs/how-to/index.rst
  docs/how-to/manage-client-permissions.rst
Due: none

feat(cli): add job status information to queue-status command
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/tests/test_cli.py
  docs/tutorial/index.rst
Due: CLI

Update device connector configuration options
  docs/reference/device-connector-conf.rst
Due: none

change(oem_autoinstall): Change location of set usb boot script to /usr/local/bin
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/default-user-data
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/stock/default-user-data
Due: Device Connectors

Update device connector configuration options (#785)
  docs/reference/device-connector-conf.rst
Due: none

chore: update charm libraries
  agent/charms/testflinger-agent-host-charm/lib/charms/grafana_agent/v0/cos_agent.py
  agent/charms/testflinger-agent-host-charm/lib/charms/operator_libs_linux/v0/apt.py
Due: Agent

chore: update charm libraries
  server/charm/lib/charms/data_platform_libs/v0/data_interfaces.py
  server/charm/lib/charms/observability_libs/v0/juju_topology.py
  server/charm/lib/charms/prometheus_k8s/v0/prometheus_scrape.py
Due: Server

fix(devices): prioritize ipv4 successfully booted devices (#784)
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
Due: Device Connectors

feat: add human-readable duration format support for reservation timeout (#772)
  agent/uv.lock
  common/pyproject.toml
  common/src/testflinger_common/duration.py
  common/tests/__init__.py
  common/tests/test_duration.py
  common/uv.lock
  docs/reference/test-phases.rst
  server/pyproject.toml
  server/src/testflinger/api/schemas.py
  server/tests/test_v1.py
  server/uv.lock
Due: Agent, Common, Server

update doc string and type
  server/src/testflinger/database.py
Due: Server

update doc string and type (#788)
  server/src/testflinger/database.py
Due: Server

feat(cli): add job status information to queue-status command
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/helpers.py
  cli/testflinger_cli/tests/test_cli.py
  docs/tutorial/index.rst
Due: CLI

fix(agent): send a heartbeat to server at least once per day
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/handlers.py
Due: Agent

fix(oem_autoinstall): Default stock default-user-data to match raid storage (#786)
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/default-user-data
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/stock/default-user-data
Due: Device Connectors

modify docstring for agent heartbeat handler
  agent/src/testflinger_agent/handlers.py
Due: Agent

tests: added unit tests for new handler
  agent/src/testflinger_agent/handlers.py
  agent/tests/test_status_handler.py
Due: Agent

tests: modify refresh test to verify POST
  agent/tests/test_status_handler.py
Due: Agent

feat(cli): add job status information to queue-status command (#774)
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/helpers.py
  cli/testflinger_cli/tests/test_cli.py
  docs/tutorial/index.rst
Due: CLI

feat(cli): initial commit for client-permissions
  cli/pyproject.toml
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/client.py
Due: CLI

feat(cli): add delete command for deleting client permissions
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/client.py
Due: CLI

feat(cli): add get client_permissions command
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/client.py
Due: CLI

added suggestions made by reviewer
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/tests/test_admin_cli.py
Due: CLI

add enum for roles and replace string for Enum
  cli/pyproject.toml
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/consts.py
  cli/testflinger_cli/tests/test_admin_cli.py
  cli/uv.lock
Due: CLI

Create new endpoint for multi agent submission of child jobs
  device-connectors/src/testflinger_device_connectors/devices/multi/multi.py
  device-connectors/src/testflinger_device_connectors/devices/multi/tfclient.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_v1_authorization.py
Due: Device Connectors, Server

Add: oem_autoinstall to support dummyefi type
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/zapper_oem.py
Due: Device Connectors

Add: oem_autoinstall to support dummyefi type (#790)
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/zapper_oem.py
Due: Device Connectors

Change: oem_autoinstall efi script location in default user-data
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/default-user-data
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/stock/default-user-data
Due: Device Connectors

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
