Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

Reformatted file
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
Due: Device Connectors

Fixed unit tests
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

Remove retries for alloem script (#934)
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

refactor(agent-charm): move methods to charm utilities
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/charm_utils.py
  agent/charms/testflinger-agent-host-charm/src/config.py
  agent/charms/testflinger-agent-host-charm/tests/unit/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm_utils.py
Due: Agent

breaking(server): only allow agents to get jobs
  server/pyproject.toml
  server/src/testflinger/api/v1.py
  server/uv.lock
Due: Server

tests: fix server unit tests to match agent restriction
  server/tests/conftest.py
  server/tests/test_v1.py
  server/tests/test_v1_authorization.py
  server/tests/test_v1_secrets.py
Due: Server

tmp remove
  agent/terraform/dev/main.tf
Due: Agent

Create queue-status action
  .github/actions/queue-status/action.yaml
Due: none

Fix typo
  .github/actions/queue-status/action.yaml
Due: none

Create README.md for queue-status action
  .github/actions/queue-status/README.md
Due: none

temp remove
  agent/terraform/dev/main.tf
Due: Agent

add reviewers suggestions
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/charm_utils.py
  agent/charms/testflinger-agent-host-charm/src/config.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm_utils.py
Due: Agent

use testflinger-submit action
  .github/actions/queue-status/action.yaml
Due: none

Apply suggestions from code review
  .github/actions/queue-status/README.md
  .github/actions/queue-status/action.yaml
Due: none

Add `queue-status` Action (#849)
  .github/actions/queue-status/README.md
  .github/actions/queue-status/action.yaml
Due: none

WIP: fix-reserve - addresses agent reservation timeout issues
  AGENTS.md
  ISSUE.md
  ISSUE_WRITEUP.md
  cli/staging_interactive.yaml
  cli/testflinger_cli/__init__.py
Due: CLI

feat(agent): add a pid management module
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/agent_pid.py
  agent/src/testflinger_agent/cmd.py
Due: Agent

tests: added unit test for new module
  agent/tests/conftest.py
  agent/tests/test_agent_pid.py
Due: Agent

tests: add unit tests for entrypoint module
  agent/tests/test_cmd.py
Due: Agent

refactor: extract vanilla framework version
  server/src/testflinger/application.py
  server/src/testflinger/templates/base.html
Due: Server

chore(deps): bump vanilla-framework to 4.43.0
  server/src/testflinger/application.py
  server/src/testflinger/templates/base.html
Due: Server

ci: add renovate vanilla-framework config
  renovate.json5
Due: none

add reviewer suggestions
  agent/terraform/README.md
  agent/terraform/locals.tf
  agent/terraform/main.tf
  agent/terraform/outputs.tf
Due: Agent

update another resource
  agent/terraform/outputs.tf
Due: Agent

modify resource namings
  agent/terraform/dev/main.tf
  agent/terraform/main.tf
  agent/terraform/outputs.tf
Due: Agent

typo fixes
  agent/terraform/dev/main.tf
Due: Agent

dev: point to local dir for testing
  agent/terraform/dev/main.tf
Due: Agent

chore(deps): Add Vanilla Framework Renovate configuration (#941)
  renovate.json5
  server/src/testflinger/application.py
  server/src/testflinger/templates/base.html
Due: Server

chore: update charm libraries
  agent/charms/testflinger-agent-host-charm/lib/charms/grafana_agent/v0/cos_agent.py
Due: Agent

chore: update charm libraries
  server/charm/lib/charms/data_platform_libs/v0/data_interfaces.py
  server/charm/lib/charms/grafana_k8s/v0/grafana_dashboard.py
  server/charm/lib/charms/observability_libs/v0/juju_topology.py
  server/charm/lib/charms/prometheus_k8s/v0/prometheus_scrape.py
  server/charm/lib/charms/traefik_k8s/v0/traefik_route.py
Due: Server

add(oem_autoinstall): user-data to setup rdp service in provisioned dut
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/default-user-data
Due: Device Connectors

fix(docs): sitemap requires unshallow clone on readthedocs
  .readthedocs.yaml
Due: none

fix(docs): sitemap requires unshallow clone on readthedocs (#950)
  .readthedocs.yaml
Due: none

fix(agent): remove writing to old endpoint to address BSON limit
  agent/src/testflinger_agent/client.py
Due: Agent

test: add unit test for post logs
  agent/tests/test_client.py
Due: Agent

fix(agent): remove writing to old endpoint to address BSON limit (#951)
  agent/src/testflinger_agent/client.py
  agent/tests/test_client.py
Due: Agent

refactor(submit): modify phase polling to match CLI
  .github/actions/submit/action.yaml
Due: none
