Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

refactor: rename buckets to daily in UI
  server/src/testflinger/templates/_job_daily_table.html
  server/src/testflinger/templates/statistics_jobs.html
  server/src/testflinger/views.py
  server/tests/test_views.py
Due: Server

feat: add clear all filters button
  server/src/testflinger/static/assets/css/testflinger.css
  server/src/testflinger/static/assets/js/tag_input.js
  server/src/testflinger/templates/statistics_jobs.html
Due: Server

feat(server): agent mode UI — chips, modal, admin controls, demo seed
  server/devel/create_sample_data.py
  server/src/testflinger/static/assets/css/testflinger.css
  server/src/testflinger/templates/_agent_state_modal.html
  server/src/testflinger/templates/_agents_table.html
  server/src/testflinger/templates/_macros.html
  server/src/testflinger/templates/_modal.html
  server/src/testflinger/templates/agent_detail.html
  server/src/testflinger/templates/agents.html
  server/src/testflinger/templates/job_detail.html
  server/src/testflinger/templates/jobs.html
  server/src/testflinger/templates/queue_detail.html
  server/src/testflinger/views.py
  server/tests/test_views.py
Due: Server

feat(cli): `admin set agent-status --status maintenance`
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/client.py
  cli/tests/test_admin_cli.py
Due: CLI

feat(agent): maintenance mode + InfluxDB removal
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/handlers.py
  agent/tests/test_agent.py
  agent/tests/test_init.py
  agent/tests/test_status_handler.py
Due: Agent

finally change the enums now that the code supports it.
  common/src/testflinger_common/enums.py
Due: Common

feat(oem_autoinstall): prepare storage when DUT is in bootstrap mode (#1164)
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/oem_autoinstall.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_oem_autoinstall.py
Due: Device Connectors

Add s390x support for the testflinger-agent-host charm
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
Due: Agent

tmp test s390x
  .github/workflows/agent-tox.yml
Due: none

change runner
  .github/workflows/agent-tox.yml
Due: none

nitpicks
  server/src/testflinger/database.py
Due: Server

fix(cli): raise on job submission error instead of exit with error
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/errors.py
Due: CLI

tests: update raise and assertions
  cli/tests/test_cli.py
Due: CLI

chore(workshop): add project-docker-gc SDK (BuildKit GC + userland-proxy=false) (#1309)
  .workshop/dev.yaml
  .workshop/docker-gc/hooks/setup-base
  .workshop/docker-gc/sdk.yaml
Due: none

feat(ci): add multi arch support for docker image
  .github/workflows/build-testflinger-testenv-container.yml
Due: none

copilot review: make export not fatal
  .github/workflows/build-testflinger-testenv-container.yml
Due: none

feat(ci): add multi arch support for docker image (#1332)
  .github/workflows/build-testflinger-testenv-container.yml
Due: none

feat(agent-host-charm): add noble base as supported
  .github/workflows/agent-host-charm-release.yml
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
Due: Agent

refactor(ci): update security weekly security scan workflow
  .github/workflows/agent-host-charm-sec-scan.yml
Due: none

feat(ci): update agent host integration teststo test both charms
  .github/workflows/agent-tox.yml
  agent/charms/testflinger-agent-host-charm/justfile
Due: Agent

fix(ci): update release
  .github/workflows/agent-host-charm-release.yml
  agent/charms/testflinger-agent-host-charm/justfile
Due: Agent

fix(ci): update release
  agent/charms/testflinger-agent-host-charm/justfile
Due: Agent

fix: do not glob
  .github/workflows/agent-host-charm-release.yml
Due: none

relative to charm path
  .github/workflows/agent-host-charm-release.yml
Due: none

fix: zizmor
  .github/workflows/agent-host-charm-release.yml
  .github/workflows/agent-host-charm-sec-scan.yml
Due: none

do not parallelize
  .github/workflows/agent-host-charm-release.yml
  agent/charms/testflinger-agent-host-charm/justfile
Due: Agent

try release with LXD
  .github/workflows/agent-host-charm-release.yml
Due: none

chore: repo-wide `clean` recipes + ruff config for common (#1310)
  agent/charms/testflinger-agent-host-charm/justfile
  agent/justfile
  agent/pyproject.toml
  agent/uv.lock
  cli/justfile
  common/justfile
  common/pyproject.toml
  common/src/testflinger_common/enums.py
  common/tests/test_duration.py
  device-connectors/justfile
  justfile
  server/charm/justfile
  server/justfile
  server/src/testflinger/application.py
Due: Agent, CLI, Common, Device Connectors, Server

fix(workshop): make LXD tunnel endpoints asymmetric so external access works (#1308)
  .workshop/dev.yaml
  .workshop/justfile
  CONTRIBUTING.md
Due: none

fix integration test
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
Due: Agent

feat(agent-host-charm): add support for amd64 with 24.04 base (#1333)
  .github/workflows/agent-host-charm-release.yml
  .github/workflows/agent-host-charm-sec-scan.yml
  .github/workflows/agent-tox.yml
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  agent/charms/testflinger-agent-host-charm/justfile
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
Due: Agent

change: remove redundant error message
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/oem_autoinstall.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_oem_autoinstall.py
Due: Device Connectors

fix(oem_autoinstall): default-user-data to generate efibootmgr script in stock
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/stock/default-user-data
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_oem_autoinstall.py
Due: Device Connectors

remove: comment
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/default-user-data
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/stock/default-user-data
Due: Device Connectors

fix(oem_autoinstall): default-user-data to generate efibootmgr script in Ubuntu Stock (#1336)
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/default-user-data
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/stock/default-user-data
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_oem_autoinstall.py
Due: Device Connectors

Update device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/provision-image.sh
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/provision-image.sh
Due: Device Connectors

move some of the stdout to stderr so that errors are clearly distinquished from success
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
Due: CLI

move some of the stdout to stderr so that errors are clearly distinquished from success (#1337)
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
Due: CLI

settled on using the word expose rather than the past tense
  .workshop/justfile
  server/docker-compose.expose.yml
  server/justfile
Due: Server

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
