Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

fix bug with running in parallel (#1145)
  device-connectors/tests/test_cmd.py
Due: Device Connectors

fix: include client_id in payload
  server/src/testflinger/oidc/api.py
  server/src/testflinger/oidc/helpers.py
Due: Server

add reviewer suggestions
  server/src/testflinger/templates/401_unauthorized.html
  server/tests/test_views.py
Due: Server

first batch of review suggestions
  cli/testflinger_cli/client.py
  cli/tests/test_cli_auth.py
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/oidc/api.py
Due: CLI, Server

fix: retry control_host commands
  device-connectors/src/testflinger_device_connectors/devices/muxpi/muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
Due: Device Connectors

fix: retry control_host commands (#1156)
  device-connectors/src/testflinger_device_connectors/devices/muxpi/muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
Due: Device Connectors

new: forward power scripts to control host
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

Rename input to retries and make applicable to setup and provision
  .github/actions/submit/README.md
  .github/actions/submit/action.yaml
Due: none

Rename step
  .github/actions/submit/action.yaml
Due: none

More copilot review fixes
  .github/actions/submit/README.md
  .github/actions/submit/action.yaml
Due: none

Revert input description
  .github/actions/submit/README.md
  .github/actions/submit/action.yaml
Due: none

remove ai.yaml as we don't neeed this for development
  .workshop/ai.yaml
Due: none

Update server/pyproject.toml
  server/pyproject.toml
Due: Server

refactor(cli): modify auth order
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/errors.py
  cli/tests/test_cli_auth.py
  cli/tests/test_secret.py
Due: CLI

breaking(server): remove admin and manager undefined expiration
  server/src/testflinger/api/auth.py
  server/tests/test_v1_authorization.py
Due: Server

fix: failing unit tests
  cli/tests/test_secret.py
Due: CLI

nitpick
  server/tests/test_oidc_api.py
Due: Server

add mermaid diagrams for auth flows
  docs/conf.py
  docs/explanation/authentication.rst
Due: none

Add control_host_kvm thin connector
  device-connectors/src/testflinger_device_connectors/devices/control_host_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/control_host_kvm/tests/test_control_host_kvm.py
Due: Device Connectors

Add control_host base device connector with phases REST client
  device-connectors/src/testflinger_device_connectors/devices/control_host/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/control_host/tests/test_control_host.py
Due: Device Connectors

Add control_host_iot thin connector
  device-connectors/src/testflinger_device_connectors/devices/control_host_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/control_host_iot/tests/test_control_host_iot.py
Due: Device Connectors

Add control_host_oem thin connector
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/control_host_oem.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_control_host_oem.py
Due: Device Connectors

Replace disconnect_usb_stick with control host pre_provision phase
  device-connectors/src/testflinger_device_connectors/devices/maas2/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas_pre_provision.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_oem_autoinstall_connector.py
  device-connectors/src/testflinger_device_connectors/devices/oemscript/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oemscript/tests/test_oemscript_pre_provision.py
Due: Device Connectors

Register control_host connectors and add deprecated zapper aliases
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/tests/test_zapper_iot.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

Remove old zapper base and zapper_oem modules
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_zapper_oem.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/zapper_oem.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

Accept generic control_host_* provision_data keys in server schema
  server/src/testflinger/api/schemas.py
  server/tests/test_v1.py
Due: Server

fix(cli): ignore broken pipe during status line cleanup
  cli/testflinger_cli/status_line.py
  cli/tests/test_status_line.py
Due: CLI

new: forward power scripts to control host (#1157)
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

feat(server): restrict UI views if OIDC is enabled (#1140)
  server/src/testflinger/oidc/views.py
  server/src/testflinger/templates/401_unauthorized.html
  server/src/testflinger/views.py
  server/tests/test_views.py
Due: Server

fix(server-charm): add pydantic validation to CSFLE master key (#1154)
  server/charm/src/charm.py
  server/charm/src/config.py
  server/charm/tests/unit/test_charm.py
  server/charm/tests/unit/test_config.py
Due: Server

chore(deps): update idna transient dependency to 3.18 [security]
  agent/charms/testflinger-agent-host-charm/uv.lock
  agent/uv.lock
  cli/uv.lock
  device-connectors/uv.lock
  server/charm/uv.lock
  server/uv.lock
Due: Agent, CLI, Device Connectors, Server

update: reboot DUT before provisioning when reachable.
  device-connectors/src/testflinger_device_connectors/devices/oemscript/oemscript.py
Due: Device Connectors

Add: add unit test for oemscript.
  device-connectors/src/testflinger_device_connectors/devices/oemscript/tests/test_oemscript.py
Due: Device Connectors

update: fix format to pass ruff check.
  device-connectors/src/testflinger_device_connectors/devices/oemscript/tests/test_oemscript.py
Due: Device Connectors

docs/
  docs/.custom_wordlist.txt
  docs/explanation/authentication.rst
Due: none

feat(server/cli): add IDP authentication via Device Authentication Flow (#1152)
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/errors.py
  cli/tests/conftest.py
  cli/tests/test_cli_auth.py
  cli/tests/test_secret.py
  server/charm/src/config.py
  server/charm/tests/unit/test_config.py
  server/devel/dex-config.yaml
  server/devel/openapi_app.py
  server/docker-compose.yml
  server/schemas/openapi.json
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/application.py
  server/src/testflinger/database.py
  server/src/testflinger/oidc/__init__.py
  server/src/testflinger/oidc/api.py
  server/src/testflinger/oidc/helpers.py
  server/src/testflinger/oidc/views.py
  server/tests/conftest.py
  server/tests/test_oidc.py
  server/tests/test_oidc_api.py
  server/tests/test_v1_authorization.py
Due: CLI, Server

docs: reorganize authentication section
  docs/explanation/authentication.rst
Due: none

docs: add authorisation section
  docs/explanation/authentication.rst
Due: none

docs: update authentication how-to
  docs/how-to/authentication.rst
Due: none
