Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

add documentation for how to run the reserve subcommand
  docs/how-to/reserve-job.rst
Due: none

fix tests to use patch decorators instead of monkeypatch
  cli/tests/test_cli.py
  cli/tests/test_helpers.py
Due: CLI

sync with fix-reserve branch, update copyright/license header
  cli/testflinger_cli/status_line.py
  cli/tests/test_cli.py
  cli/tests/test_helpers.py
Due: CLI

docs: add security documentation in public documentation
  docs/explanation/agents.rst
  docs/explanation/authentication.rst
  docs/explanation/extended-reservation.rst
  docs/explanation/index.rst
  docs/explanation/job-priority.rst
  docs/explanation/queues.rst
  docs/explanation/restricted-queues.rst
  docs/explanation/security.rst
  docs/reuse/links.txt
Due: none

add secrets reference
  docs/explanation/index.rst
  docs/explanation/secrets.rst
Due: none

Apply suggestions from code review
  cli/testflinger_cli/__init__.py
Due: CLI

sync with PR #983
  cli/testflinger_cli/__init__.py
Due: CLI

Apply suggestions from code review
  cli/testflinger_cli/status_line.py
  cli/tests/conftest.py
  cli/tests/test_get_job_data.py
  cli/tests/test_status_line.py
Due: CLI

fix the copyright/licesnsing to match the standard
  cli/testflinger_cli/status_line.py
  cli/tests/conftest.py
  cli/tests/test_get_job_data.py
  cli/tests/test_status_line.py
Due: CLI

Implemented changes per review, cleaned up test
  agent/tests/test_init.py
  agent/tests/test_main_loop.py
Due: Agent

Updated --filter-status to accept a comma separated list of statuses with negated statuses, e.g. --filter-status online,^waiting
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
Due: CLI

style
  cli/testflinger_cli/__init__.py
Due: CLI

add typing
  cli/testflinger_cli/__init__.py
Due: CLI

fix the multi-line help text display
  cli/testflinger_cli/__init__.py
Due: CLI

change: migrate from rpyc to rest APIs
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

fix: use separate connection and read timeouts for SSE streaming
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
Due: Device Connectors

fix: handle malformed JSON in SSE data lines gracefully
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
Due: Device Connectors

fix: log unexpected non-data SSE lines instead of silently discarding them
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
Due: Device Connectors

fix: normalize SSE log level with .upper() and handle missing/invalid levels
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
Due: Device Connectors

fix: handle missing message key in SSE data by falling back to raw line
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
Due: Device Connectors

test: add robust tests for SSE streaming edge cases in _run
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

ruff
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

fix: improve default provisioning error message to indicate unknown reason
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
Due: Device Connectors

fix: use /health endpoint instead of /addons for REST API availability check
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

SSE format explained
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
Due: Device Connectors

removed rpyc
  device-connectors/pyproject.toml
  device-connectors/src/testflinger_device_connectors/devices/muxpi/muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
  device-connectors/uv.lock
Due: Device Connectors

addressed copilot comments
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

fix: reconnect to SSE stream if provisioning job is still running but connection dropped
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

add header and check on invalid log level
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

fix: updated agent lock file
  agent/uv.lock
Due: Agent

fix: health API endpoint
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

Apply suggestions from code review
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/status_line.py
  cli/tests/test_cli.py
  docs/how-to/reserve-job.rst
Due: CLI

add reviewers suggestions
  docs/explanation/index.rst
  docs/explanation/security.rst
  docs/index.rst
  docs/reuse/links.txt
Due: none

addressed defects from PR review
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/status_line.py
  cli/tests/test_cli.py
Due: CLI

[BugFix] skip sshpass-based ssh-copy-id if key-based already works
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

fix: formatting
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
Due: Device Connectors

Update command and updated tests to test it as well
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
Due: CLI

updates to resolve reveiw changes, including using the proper job state of , updating the documentation and moving enums to to and adding the default reserve timeout as a constant
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/consts.py
  cli/testflinger_cli/enums.py
  cli/tests/test_admin_cli.py
  cli/tests/test_cli.py
  cli/tests/test_cli_auth.py
  cli/tests/test_secret.py
  docs/how-to/reserve-job.rst
Due: CLI

feat(devices): [maas] add support for ephemeral deployments
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
  server/src/testflinger/api/schemas.py
Due: Device Connectors, Server

tests: add unit tests for ephemeral deployments
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/conftest.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
Due: Device Connectors

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
