Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

refactor(server): normalize email users in MongoDB secret store
  server/src/testflinger/secrets/mongo.py
  server/tests/test_mongo_store.py
Due: Server

add reviewer feedback
  server/src/testflinger/secrets/mongo.py
  server/tests/test_mongo_store.py
Due: Server

fix(server): normalize email users in MongoDB secret store (#1225)
  server/src/testflinger/secrets/mongo.py
  server/tests/test_mongo_store.py
Due: Server

docs: restructure home page
  docs/index.rst
Due: none

fix(docs): sitemap url pattern
  docs/conf.py
Due: none

Add labeled links to agents
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/schema.py
  agent/tests/test_agent.py
  agent/tests/test_config.py
  docs/reference/testflinger-agent-conf.rst
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/templates/agent_detail.html
  server/tests/test_v1.py
  server/tests/test_views.py
Due: Agent, Server

chore: update charm libraries
  server/charm/lib/charms/prometheus_k8s/v0/prometheus_scrape.py
Due: Server

Fixed zapper_kvm connector
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

added changes to zapper device connector
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

add indices to common lookups
  server/src/testflinger/database.py
Due: Server

fix: add indices to common lookups (#1243)
  server/src/testflinger/database.py
Due: Server

fixed formatting
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
Due: Device Connectors

Addressed copilot comments
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

Update device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
Due: Device Connectors

Fix default values kvm connector (#1242)
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

ci: use github-hosted runners (#1175)
  .github/workflows/agent-host-charm-check-libs.yml
  .github/workflows/agent-host-charm-release.yml
  .github/workflows/agent-tox.yml
  .github/workflows/server-charm-check-libs.yml
  .github/workflows/server-charm-release.yml
  .github/workflows/server-tox.yml
Due: none

fix(ci): fix the ubuntu runner version
  .github/workflows/agent-host-charm-release.yml
  .github/workflows/server-charm-release.yml
Due: none

fix(ci): fix the ubuntu runner version (#1245)
  .github/workflows/agent-host-charm-release.yml
  .github/workflows/server-charm-release.yml
Due: none

Add control_host_iot/_kvm connectors as copies of zapper_*
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/control_host_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/control_host_iot/parser.py
  device-connectors/src/testflinger_device_connectors/devices/control_host_iot/tests/test_control_host_iot.py
  device-connectors/src/testflinger_device_connectors/devices/control_host_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/control_host_kvm/tests/test_control_host_kvm.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
Due: Device Connectors

Replace TypeC MUX addon calls with control host setup/provisioning API
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oemscript/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/tests/test_devices.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

Add pre-test hook that sets up the control host for the test phase
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/tests/test_devices.py
Due: Device Connectors

Rename Zapper device connectors to control host
  .github/CODEOWNERS
  device-connectors/src/testflinger_device_connectors/data/control_host_kvm/user-data-oem
  device-connectors/src/testflinger_device_connectors/devices/control_host/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/control_host/tests/test_control_host.py
  device-connectors/src/testflinger_device_connectors/devices/control_host_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/control_host_iot/tests/test_control_host_iot.py
  device-connectors/src/testflinger_device_connectors/devices/control_host_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/control_host_kvm/tests/test_control_host_kvm.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/control_host_oem.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_control_host_oem.py
  device-connectors/src/testflinger_device_connectors/devices/tests/test_devices.py
  device-connectors/tests/test_devices.py
Due: Device Connectors

Let connectors send setup/provisioning args; oemrecovery sends usb=DUT
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oemrecovery/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/tests/test_devices.py
Due: Device Connectors

Rename Zapper provision_data schemas to control host
  server/src/testflinger/api/schemas.py
Due: Server

fix test
  device-connectors/src/testflinger_device_connectors/devices/control_host_kvm/__init__.py
Due: Device Connectors

Drop deprecated zapper provision schema IDs
  server/src/testflinger/api/schemas.py
Due: Server

Drop deprecated zapper provision keys from schemas
  server/src/testflinger/api/schemas.py
Due: Server

Apply suggestions from code review
  .workshop/dev.yaml
  CONTRIBUTING.md
Due: none

updated contributing.md and the workshop integration test
  .workshop/justfile
  .workshop/test_workshop_actions.py
  CONTRIBUTING.md
  server/justfile
Due: Server

fix api endpoint for testing setup
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/tests/test_devices.py
Due: Device Connectors

Apply suggestions from code review
  .workshop/test_workshop_actions.py
  CONTRIBUTING.md
Due: none

Potential fix for pull request finding
  .workshop/test_workshop_actions.py
Due: none

Apply suggestions from code review
  .workshop/justfile
  .workshop/test_workshop_actions.py
Due: none

minor tweaks from code review
  .workshop/justfile
  CONTRIBUTING.md
  server/docker-compose.yml
Due: Server

update .gitignore for .workshop.lock and errant additional entries
  .gitignore
Due: none

.workshop/test_workshop_actions.py
  .workshop/test_workshop_actions.py
Due: none

added sort to table headers on web
  server/src/testflinger/static/assets/js/filter.js
  server/src/testflinger/templates/_agents_table.html
  server/src/testflinger/templates/agent_detail.html
  server/src/testflinger/templates/jobs.html
  server/src/testflinger/templates/queue_detail.html
  server/src/testflinger/templates/queues.html
Due: Server

Potential fix for pull request finding
  docs/tutorial/index.rst
Due: none

add client_id to web
  server/devel/create_dev_admin.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/templates/_agents_table.html
  server/src/testflinger/templates/agent_detail.html
  server/src/testflinger/templates/job_detail.html
  server/src/testflinger/templates/jobs.html
  server/src/testflinger/templates/queue_detail.html
  server/src/testflinger/views.py
  server/tests/test_v1.py
  server/tests/test_views.py
Due: Server

more commit
  server/src/testflinger/views.py
  server/tests/test_views.py
Due: Server
