Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

fix timeout issues
  agent/charms/testflinger-agent-host-charm/tests/integration/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
Due: Agent

since the client has access to the agent_id we can move where the re-registration happens
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/client.py
Due: Agent

added test for the main loop of the agent for deeper coverage of the whole loop
  agent/tests/test_main_loop.py
Due: Agent

restored cleanup action
  agent/charms/testflinger-agent-host-charm/src/tf-cmd-scripts/tf-cleanup
Due: Agent

change: include robot_retries to schema
  server/src/testflinger/api/schemas.py
Due: Server

change: don't log docker error when removing container at setup (#882)
  agent/charms/testflinger-agent-host-charm/src/tf-cmd-scripts/tf-setup
Due: Agent

remove unused dependencies
  agent/pyproject.toml
  agent/uv.lock
Due: Agent

tests: migrate agent integration tests from pytest to jubilant (#883)
  .github/workflows/agent-tox.yml
  agent/charms/testflinger-agent-host-charm/tests/integration/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
  agent/pyproject.toml
  agent/tox.ini
  agent/uv.lock
Due: Agent

change: include robot_retries to schema (#885)
  server/src/testflinger/api/schemas.py
Due: Server

refactor(agent): restructure agent charm code to use modules for non event based functions
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/common.py
  agent/charms/testflinger-agent-host-charm/src/supervisord.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_common.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_port_validation.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_supervisord.py
  agent/uv.lock
Due: Agent

fix unit test
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
Due: Agent

address reviewer comments
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/supervisord.py
Due: Agent

remove self from restart_agents()
  agent/charms/testflinger-agent-host-charm/src/supervisord.py
Due: Agent

add missing default and other typhints missing
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/common.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_common.py
Due: Agent

fix formatting error
  agent/charms/testflinger-agent-host-charm/tests/unit/test_common.py
Due: Agent

rebase and fix changes
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/pyproject.toml
  agent/uv.lock
Due: Agent

refactor(agent): restructure agent charm code for charm unit tests (#879)
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/common.py
  agent/charms/testflinger-agent-host-charm/src/supervisord.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_common.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_port_validation.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_supervisord.py
  agent/pyproject.toml
  agent/uv.lock
Due: Agent

tests: modify server charm unit tests to use ops.testing instead of harness
  server/charm/tests/unit/test_charm.py
  server/pyproject.toml
  server/uv.lock
Due: Server

rework failing tests due to change in where we implemented the re-registration logic
  agent/tests/test_agent.py
  agent/tests/test_client.py
Due: Agent

fix linting issues
  agent/tests/test_agent.py
  agent/tests/test_client.py
Due: Agent

simple fix
  agent/src/testflinger_agent/agent.py
Due: Agent

[CERTTF-697]: Feature: adds exclude_agents field to job data to allow jobs to avoid specific agents (#850)
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/client.py
  agent/tests/test_agent.py
  agent/tests/test_client.py
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
  cli/tests/test_client.py
  cli/tests/test_secret.py
  docs/explanation/agents.rst
  docs/how-to/submit-job.rst
  docs/reference/job-schema.rst
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_v1.py
  server/tests/test_v1_authorization.py
  server/tests/test_v1_secrets.py
Due: Agent, CLI, Server

revised tests to verify proper baseline behavior for poll and poll-serial; updated code to restore original behavior for polling functions
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
Due: CLI

tests: include integration tests for server charm
  .github/workflows/server-tox.yml
  server/charm/tests/integration/conftest.py
  server/charm/tests/integration/test_charm_integration.py
  server/pyproject.toml
  server/tox.ini
  server/uv.lock
Due: Server

resolved all remaining HTTPStatus issues in the codebase
  agent/tests/test_agent.py
  agent/tests/test_client.py
  agent/tests/test_job.py
  cli/tests/test_cli.py
  cli/tests/test_cli_auth.py
  cli/tests/test_client.py
  server/src/testflinger/views.py
  server/tests/test_v1.py
Due: Agent, CLI, Server

formatting/linting
  agent/tests/test_agent.py
Due: Agent

update string concatenations to use f-strings
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/job.py
  agent/src/testflinger_agent/tarfile_patch.py
  agent/tests/test_agent.py
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/tests/test_admin_cli.py
  cli/tests/test_cli.py
  cli/tests/test_cli_auth.py
  server/tests/test_results.py
Due: Agent, CLI, Server

add unit test fixtures
  server/charm/tests/unit/conftest.py
  server/charm/tests/unit/test_charm.py
Due: Server

add integration tests to validate app status
  server/charm/tests/integration/__init__.py
  server/charm/tests/integration/helpers.py
  server/charm/tests/integration/test_charm.py
  server/charm/tests/integration/test_ingress.py
Due: Server

fix failing tests
  server/charm/tests/integration/test_charm.py
  server/charm/tests/integration/test_ingress.py
Due: Server

fix ingress issues
  server/charm/tests/integration/helpers.py
Due: Server

enable ingress addon in CI
  .github/workflows/server-tox.yml
Due: none

add a regex to find the ingress IP in app message
  server/charm/tests/integration/test_ingress.py
Due: Server

typo fix
  server/charm/tests/integration/test_ingress.py
Due: Server

add header to DNSResolver
  server/charm/tests/integration/helpers.py
Due: Server

tests: update server charm unit tests and include integration tests (#891)
  .github/workflows/server-tox.yml
  server/charm/tests/integration/__init__.py
  server/charm/tests/integration/conftest.py
  server/charm/tests/integration/helpers.py
  server/charm/tests/integration/test_charm.py
  server/charm/tests/integration/test_ingress.py
  server/charm/tests/unit/conftest.py
  server/charm/tests/unit/test_charm.py
  server/pyproject.toml
  server/tox.ini
  server/uv.lock
Due: Server

Fix: Update code and tests to use HTTPStatus enumerations throughout instead of magic numeric constants (#892)
  agent/tests/test_agent.py
  agent/tests/test_client.py
  agent/tests/test_job.py
  cli/tests/test_cli.py
  cli/tests/test_cli_auth.py
  cli/tests/test_client.py
  server/src/testflinger/views.py
  server/tests/test_v1.py
Due: Agent, CLI, Server

Implement suggestions from review.
  server/tests/test_results.py
Due: Server

Revert unnecessary and unexpected changes
  agent/pyproject.toml
  cli/tests/test_cli.py
  common/pyproject.toml
  device-connectors/pyproject.toml
  server/pyproject.toml
Due: Agent, CLI, Common, Device Connectors, Server

avoid cleanup in MAAS
  device-connectors/src/testflinger_device_connectors/devices/maas2/__init__.py
Due: Device Connectors

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
