Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

chore: add missing docstrings through all charm code
  agent/charms/testflinger-agent-host-charm/pyproject.toml
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/charm_utils.py
  agent/charms/testflinger-agent-host-charm/src/common.py
  agent/charms/testflinger-agent-host-charm/src/config.py
  agent/charms/testflinger-agent-host-charm/src/defaults.py
  agent/charms/testflinger-agent-host-charm/src/supervisord.py
  agent/charms/testflinger-agent-host-charm/src/testflinger_client.py
  agent/charms/testflinger-agent-host-charm/src/testflinger_source.py
  agent/charms/testflinger-agent-host-charm/tests/__init__.py
  agent/charms/testflinger-agent-host-charm/tests/integration/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
  agent/charms/testflinger-agent-host-charm/tests/unit/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm_utils.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_common.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_supervisord.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_client.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_source.py
Due: Agent

add uncommited change
  agent/uv.lock
Due: Agent

feat(server): add webhook charm options with typed config
  server/charm/charmcraft.yaml
  server/charm/pyproject.toml
  server/charm/src/charm.py
  server/charm/src/config.py
  server/charm/uv.lock
Due: Server

tests: add charm unit tests for typed config
  server/charm/tests/unit/test_config.py
Due: Server

feat(server): update server API with webhook authentication
  server/schemas/openapi.json
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

tests: add missing tests based on copilot review
  server/src/testflinger/api/v1.py
  server/tests/test_v1.py
Due: Server

tests: add server tests for webhook authentication
  server/tests/test_v1.py
Due: Server

feat(server): allow charm to provide oidc variables
  server/charm/charmcraft.yaml
  server/charm/src/charm.py
  server/charm/src/config.py
  server/charm/tests/unit/test_charm.py
  server/charm/tests/unit/test_config.py
Due: Server

fix(server): tell flask is behind a proxy
  server/src/testflinger/application.py
Due: Server

chore: update charm libraries (#731)
  server/charm/lib/charms/data_platform_libs/v0/data_interfaces.py
  server/charm/lib/charms/grafana_k8s/v0/grafana_dashboard.py
  server/charm/lib/charms/observability_libs/v0/juju_topology.py
  server/charm/lib/charms/prometheus_k8s/v0/prometheus_scrape.py
  server/charm/lib/charms/traefik_k8s/v0/traefik_route.py
Due: Server

chore: remove maturin dependency as no longer needed
  agent/charms/testflinger-agent-host-charm/pyproject.toml
  agent/charms/testflinger-agent-host-charm/uv.lock
Due: Agent

bump charmlibs to 1.0.1
  agent/charms/testflinger-agent-host-charm/pyproject.toml
  agent/charms/testflinger-agent-host-charm/uv.lock
Due: Agent

refactor(agent): migrate charm to uv plugin (#1039)
  .github/workflows/agent-tox.yml
  .github/workflows/tics.yml
  agent/charms/testflinger-agent-host-charm/.python-version
  agent/charms/testflinger-agent-host-charm/CONTRIBUTING.md
  agent/charms/testflinger-agent-host-charm/README.md
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  agent/charms/testflinger-agent-host-charm/files/ssh-config
  agent/charms/testflinger-agent-host-charm/pyproject.toml
  agent/charms/testflinger-agent-host-charm/requirements-dev.txt
  agent/charms/testflinger-agent-host-charm/requirements.txt
  agent/charms/testflinger-agent-host-charm/run_tests
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/charm_utils.py
  agent/charms/testflinger-agent-host-charm/src/common.py
  agent/charms/testflinger-agent-host-charm/src/config.py
  agent/charms/testflinger-agent-host-charm/src/defaults.py
  agent/charms/testflinger-agent-host-charm/src/supervisord.py
  agent/charms/testflinger-agent-host-charm/src/testflinger_client.py
  agent/charms/testflinger-agent-host-charm/src/testflinger_source.py
  agent/charms/testflinger-agent-host-charm/tests/__init__.py
  agent/charms/testflinger-agent-host-charm/tests/integration/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
  agent/charms/testflinger-agent-host-charm/tests/unit/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm_utils.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_common.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_config.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_supervisord.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_client.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_source.py
  agent/charms/testflinger-agent-host-charm/tox.ini
  agent/charms/testflinger-agent-host-charm/uv.lock
  agent/pyproject.toml
  agent/tox.ini
  agent/uv.lock
Due: Agent

chore: remove unused juju topology library
  server/charm/charmcraft.yaml
  server/charm/lib/charms/observability_libs/v0/juju_topology.py
Due: Server

fix: vanilla framework hotlink uses dots now
  server/src/testflinger/application.py
  server/src/testflinger/templates/base.html
Due: Server

chore: remove unused juju topology library (#1050)
  server/charm/charmcraft.yaml
  server/charm/lib/charms/observability_libs/v0/juju_topology.py
Due: Server

fix(deps): update server charm integration deps
  server/charm/pyproject.toml
  server/charm/uv.lock
Due: Server

refactor(server): use pytest-jubilant in integration tests
  server/charm/tests/integration/conftest.py
  server/charm/tests/integration/test_charm.py
  server/charm/tests/integration/test_nginx_ingress.py
  server/charm/tests/integration/test_traefik_ingress.py
Due: Server

refactor(agent): use pytest-jubilant in integration tests
  agent/charms/testflinger-agent-host-charm/tests/integration/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
Due: Agent

fix(deps): add pytest-jubilant to agent host charm integration deps
  agent/charms/testflinger-agent-host-charm/pyproject.toml
  agent/charms/testflinger-agent-host-charm/uv.lock
Due: Agent

ci: dump juju logs as artifacts
  .github/workflows/agent-tox.yml
  .github/workflows/server-tox.yml
Due: none

feat(dev): introduce just to monorepo
  docs.just
  justfile
Due: none

docs: update contributing guides with just usage
  CONTRIBUTING.md
Due: none

add copilot suggestions
  CONTRIBUTING.md
  docs.just
Due: none

add reviewer suggestions
  CONTRIBUTING.md
  docs.just
Due: none

chore: update charm libraries (#753)
  agent/charms/testflinger-agent-host-charm/lib/charms/grafana_agent/v0/cos_agent.py
Due: Agent

add clue for users to refer to docs help
  justfile
Due: none

add reviewer recommendations
  server/charm/src/config.py
  server/charm/tests/unit/test_config.py
  server/src/testflinger/api/v1.py
Due: Server

fix: correct occured typo in agent install error log
  agent/charms/testflinger-agent-host-charm/src/charm.py
Due: Agent

chore: update charm libraries
  server/charm/lib/charms/grafana_k8s/v0/grafana_dashboard.py
  server/charm/lib/charms/prometheus_k8s/v0/prometheus_scrape.py
  server/charm/lib/charms/traefik_k8s/v0/traefik_route.py
Due: Server

add reviewer suggestion
  docs.just
Due: none

add unit-all
  justfile
Due: none

docs: include server deployment in public documentation
  docs/how-to/administer-server/deploy-testflinger-server.rst
  docs/how-to/administer-server/index.rst
  docs/how-to/index.rst
  docs/images/testflinger_architecture.png
  docs/reuse/links.txt
Due: none

docs: update based on sanity check
  docs/how-to/administer-server/deploy-testflinger-server.rst
  docs/images/testflinger_architecture.png
  docs/images/testflinger_architecture.svg
  docs/reuse/links.txt
Due: none

feat(dev): introduce just to monorepo (#1055)
  CONTRIBUTING.md
  docs.just
  justfile
Due: none

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
