Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

see PR #1171 for the addition of roles to the schema
  server/schemas/openapi.json
Due: Server

add page to documentation about roles and API access
  docs/.sphinx/_static/table-roles.css
  docs/CONTRIBUTING.md
  docs/conf.py
  docs/reference/api-roles.rst
  docs/reference/index.rst
  server/schemas/openapi.json
Due: Server

builds on PR #1169 and PR #1171 if we want to keep API.md around
  .github/workflows/server-tox.yml
  CONTRIBUTING.md
  common/src/testflinger_common/enums.py
  justfile
  server/API.md
  server/schemas/openapi.json
  server/scripts/generate_api_md.py
  server/scripts/generate_openapi_schema.py
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/conftest.py
  server/tests/permissions.json
  server/tests/test_logging.py
  server/tests/test_owasp_logging.py
  server/tests/test_results.py
  server/tests/test_v1.py
  server/tests/test_v1_authorization.py
  server/tests/test_v1_authorization_roles.py
  server/tests/test_v1_secrets.py
  server/tests/test_views.py
  server/tests/utilities.py
  server/tox.ini
Due: Common, Server

removed API.md and associated logic (available in docs/just-api-md if desired); synced with feature/api-lockdown-when-oidc-enabled PR #1169
  .github/workflows/server-tox.yml
  CONTRIBUTING.md
  agent/src/testflinger_agent/client.py
  justfile
  server/API.md
  server/README.md
  server/schemas/openapi.json
  server/scripts/generate_api_md.py
  server/src/testflinger/api/v1.py
  server/tests/conftest.py
  server/tests/permissions.json
  server/tests/test_v1_authorization.py
  server/tests/test_v1_authorization_roles.py
  server/tests/test_v1_secrets.py
  server/tests/utilities.py
  server/tox.ini
Due: Agent, Server

revert stuff that is from another branch
  docs/CONTRIBUTING.md
  server/schemas/openapi.json
Due: Server

Apply suggestions from code review
  server/tests/conftest.py
  server/tests/test_v1_authorization_roles.py
Due: Server

Update server/src/testflinger/api/v1.py
  server/src/testflinger/api/v1.py
Due: Server

updates per findings in PR #1169
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
Due: Server

add reviewer suggestions
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/client.py
  cli/tests/test_cli_auth.py
  cli/tests/test_client.py
Due: CLI

fixed lines too long
  server/src/testflinger/api/v1.py
Due: Server

small enhancement to the syntax for required roles where all roles allowed; updated schema
  server/schemas/openapi.json
  server/src/testflinger/api/v1.py
Due: Server

refactor(agent): add authorization headers to all requests. (#1167)
  agent/charms/testflinger-agent-host-charm/src/testflinger_client.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_client.py
  agent/src/testflinger_agent/client.py
  agent/tests/test_client.py
Due: Agent

breaking+feature/api lockdown when OIDC enabled (#1169)
  common/src/testflinger_common/enums.py
  server/API.md
  server/schemas/openapi.json
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/conftest.py
  server/tests/permissions.json
  server/tests/test_logging.py
  server/tests/test_owasp_logging.py
  server/tests/test_results.py
  server/tests/test_v1.py
  server/tests/test_v1_authorization.py
  server/tests/test_v1_authorization_roles.py
  server/tests/test_v1_secrets.py
  server/tests/test_views.py
  server/tests/utilities.py
Due: Common, Server

refactor(cli): add authorization headers to all requests (#1168)
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/client.py
  cli/tests/conftest.py
  cli/tests/test_admin_cli.py
  cli/tests/test_cli.py
  cli/tests/test_cli_auth.py
  cli/tests/test_client.py
  cli/tests/test_get_job_data.py
  cli/tests/test_secret.py
  server/src/testflinger/api/auth.py
Due: CLI, Server

feat(server): add an owner to non OIDC client-id
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
Due: Server

feat (cli): add owner argument to set permissions
  cli/testflinger_cli/admin.py
Due: CLI

replace all owner with email
  cli/testflinger_cli/admin.py
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
Due: CLI, Server

fix(server): add dex to testflinger compose service deps
  server/docker-compose.yml
Due: Server

chore(agent): add concierge.yaml for agent host
  agent/charms/testflinger-agent-host-charm/concierge.yaml
Due: Agent

docs(server): add just recipes to contribution guide
  server/HACKING.md
Due: Server

docs: update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: update justfiles to modular layout
  agent/charms/testflinger-agent-host-charm/justfile
  agent/justfile
  cli/justfile
  common/justfile
  device-connectors/justfile
  docs.just
  docs/justfile
  justfile
  server/charm/justfile
  server/justfile
Due: Agent, CLI, Common, Device Connectors, Server

ci: use just in workflows
  .github/workflows/agent-tox.yml
  .github/workflows/cli-tox.yml
  .github/workflows/common-tox.yml
  .github/workflows/device-tox.yml
  .github/workflows/server-tox.yml
Due: none

docs: add pre-commit setup to contribution guide
  CONTRIBUTING.md
Due: none

chore: convert charm makefiles to just recipes
  agent/charms/testflinger-agent-host-charm/Makefile
  agent/charms/testflinger-agent-host-charm/justfile
  server/charm/Makefile
  server/charm/justfile
Due: Agent, Server

chore: add pre-commit hooks
  .pre-commit-config.yaml
  agent/.pre-commit-config.yaml
  agent/charms/testflinger-agent-host-charm/.pre-commit-config.yaml
  cli/.pre-commit-config.yaml
  common/.pre-commit-config.yaml
  device-connectors/.pre-commit-config.yaml
  docs/.pre-commit-config.yaml
  justfile
  server/.pre-commit-config.yaml
  server/charm/.pre-commit-config.yaml
Due: Agent, CLI, Common, Device Connectors, Server

fix: apply copilot suggestions
  .github/workflows/server-tox.yml
  CONTRIBUTING.md
  docs/.pre-commit-config.yaml
  docs/justfile
  server/HACKING.md
Due: Server

fix(agent): update agent host charm concierge
  agent/charms/testflinger-agent-host-charm/concierge.yaml
Due: Agent

ci: use github-hosted runners
  .github/workflows/agent-host-charm-check-libs.yml
  .github/workflows/agent-host-charm-release.yml
  .github/workflows/agent-tox.yml
  .github/workflows/server-charm-check-libs.yml
  .github/workflows/server-charm-release.yml
  .github/workflows/server-tox.yml
Due: none

tests: add unit tests for new code
  cli/tests/test_admin_cli.py
  server/tests/test_v1_authorization.py
Due: CLI, Server

schema: update with new email
  server/schemas/openapi.json
Due: Server

add format
  server/tests/test_v1_authorization.py
Due: Server

fix(server-charm): reauthenticate if secret changed
  agent/charms/testflinger-agent-host-charm/src/charm.py
Due: Agent

tests: add unit tests for new code
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
Due: Agent

copilot: add suggestion from review
  server/src/testflinger/api/schemas.py
Due: Server

add config changed to refresh auth
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
Due: Agent

update schema
  server/schemas/openapi.json
Due: Server

fix: make write_file atomic
  agent/charms/testflinger-agent-host-charm/src/common.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_common.py
Due: Agent

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
