Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

remove started from available events
  server/tests/test_v1.py
Due: Server

tests: add unit tests for views
  server/tests/test_views.py
Due: Server

refactor(server): preserve status code on event if any
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/events.py
Due: Server

feat(server): add job activity (events) to job detail view
  server/src/testflinger/templates/_job_activity.html
  server/src/testflinger/templates/job_detail.html
  server/src/testflinger/views.py
Due: Server

add copilot suggestions
  server/src/testflinger/events.py
  server/tests/test_views.py
Due: Server

Feat/agent restart keep state (#1291)
  agent/src/testflinger_agent/agent.py
  agent/tests/test_agent.py
Due: Agent

feat(device-connector): add authentication mechanism for multi-device
  device-connectors/src/testflinger_device_connectors/devices/multi/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/multi/tfclient.py
Due: Device Connectors

feat(server): add a new role for multi device connectors
  common/src/testflinger_common/enums.py
  server/schemas/openapi.json
  server/src/testflinger/api/v1.py
  server/src/testflinger/tools/client_credentials_admin.py
  server/tests/permissions.json
Due: Common, Server

chore(cli): add new multidevice enum
  cli/testflinger_cli/enums.py
Due: CLI

tests: fix server unit tests
  server/tests/conftest.py
  server/tests/permissions.json
Due: Server

tests: add unit tests for device connector tfclient
  device-connectors/src/testflinger_device_connectors/devices/multi/tests/test_tfclient.py
Due: Device Connectors

remove the addition of UTC TZ awareness for mongo
  server/src/testflinger/database.py
  server/src/testflinger/providers.py
  server/tests/conftest.py
  server/tests/test_v1.py
Due: Server

change to the mocked and more comments to help understand how we got here and why it's important
  server/src/testflinger/database.py
  server/tests/test_v1.py
Due: Server

further small tweaks
  server/src/testflinger/api/schemas.py
  server/src/testflinger/database.py
  server/tests/test_v1.py
Due: Server

fix(agent): set valid enum during restart for allowing to came back online
  agent/src/testflinger_agent/agent.py
Due: Agent

fix(agent): set valid enum during restart for allowing to came back online (#1304)
  agent/src/testflinger_agent/agent.py
Due: Agent

temporary namespaced file
  device-connectors/src/testflinger_device_connectors/devices/multi/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/multi/multi.py
Due: Device Connectors

minor fix
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
Due: Device Connectors

chore: formatting fix as per review comment
  docs/reference/api-roles.rst
  server/scripts/generate_api_roles.py
Due: Server

fix: Fail TF job status when DUT failed to reboot
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/provision-image.sh
Due: Device Connectors

avoid regression to agent displaying job info
  server/src/testflinger/views.py
  server/tests/test_views.py
Due: Server

fix(workshop): make LXD tunnel endpoints asymmetric so external access works
  .workshop/dev.yaml
Due: none

chore(workshop): add project-docker-gc SDK (BuildKit GC + userland-proxy=false)
  .workshop/dev.yaml
  .workshop/docker-gc/hooks/setup-base
  .workshop/docker-gc/sdk.yaml
Due: none

chore: repo-wide `clean` recipes + ruff config for common
  agent/charms/testflinger-agent-host-charm/justfile
  agent/justfile
  cli/justfile
  common/justfile
  common/pyproject.toml
  common/tests/test_duration.py
  device-connectors/justfile
  justfile
  server/charm/justfile
  server/justfile
  server/src/testflinger/application.py
Due: Agent, CLI, Common, Device Connectors, Server

feat(server): dev auto sign-in blueprint (TF_DEV_AUTO_SIGNIN)
  server/devel/create_sample_data.py
  server/devel/create_sample_users.py
  server/devel/sample_users.py
  server/docker-compose.yml
  server/src/testflinger/application.py
  server/src/testflinger/dev_signin.py
  server/src/testflinger/oidc/views.py
  server/src/testflinger/static/assets/css/testflinger.css
  server/src/testflinger/templates/_header.html
  server/tests/test_dev_signin.py
Due: Server

chore(server): docker-compose override + `serve-exposed` for shared testing
  .workshop/justfile
  server/docker-compose.expose.yml
  server/justfile
Due: Server

update to offer multiple choices: local and exposed to the world
  .workshop/dev.yaml
  .workshop/justfile
  CONTRIBUTING.md
Due: none

fix(device-connector): allow test phase to read job_list JSON file
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/multi/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/multi/multi.py
Due: Device Connectors

refactor(ci): use GH self-repository syntax
  .github/actions/queue-status/action.yaml
  .github/actions/submit/action.yaml
Due: none

chore(common): add AgentMode enum, deduplicate AgentState/JobState via TestPhase
  common/src/testflinger_common/enums.py
  server/tests/test_enums.py
Due: Common, Server

feat(server): agent mode/state API with v1 backward compatibility
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1.py
Due: Server

feat(server): agent mode UI — chips, modal, admin controls, demo seed
  server/devel/create_sample_data.py
  server/src/testflinger/static/assets/css/testflinger.css
  server/src/testflinger/templates/_agent_state_modal.html
  server/src/testflinger/templates/_agents_table.html
  server/src/testflinger/templates/_macros.html
  server/src/testflinger/templates/_modal.html
  server/src/testflinger/templates/agent_detail.html
  server/src/testflinger/templates/agents.html
  server/src/testflinger/templates/job_detail.html
  server/src/testflinger/templates/jobs.html
  server/src/testflinger/templates/queue_detail.html
  server/src/testflinger/views.py
  server/tests/test_views.py
Due: Server

feat(cli): `admin set agent-status --status maintenance`
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/client.py
  cli/tests/test_admin_cli.py
Due: CLI

feat(agent): maintenance mode + InfluxDB removal
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/handlers.py
  agent/tests/test_agent.py
  agent/tests/test_init.py
  agent/tests/test_status_handler.py
Due: Agent

Clarify OIDC behavior in server start documentation
  .workshop/justfile
Due: none

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
