Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

redirect stderr
  .github/actions/submit/action.yaml
Due: none

fix: missing typing-extension dependency
  device-connectors/pyproject.toml
  device-connectors/uv.lock
Due: Device Connectors

fix: uv.lock in agent/ is not up-to-date
  agent/uv.lock
Due: Agent

fix: missing typing-extension dependency (#925)
  agent/uv.lock
  device-connectors/pyproject.toml
  device-connectors/uv.lock
Due: Agent, Device Connectors

refactor(submit): extract testflinger CLI setup to its own action (#923)
  .github/actions/submit/CONTRIBUTING.md
  .github/actions/submit/README.md
  .github/actions/submit/action.yaml
  .github/actions/testflinger-setup/README.md
  .github/actions/testflinger-setup/action.yaml
  .github/workflows/submit-action-tags.yml
Due: none

add reviewer suggestions
  agent/charms/testflinger-agent-host-charm/src/charm.py
Due: Agent

breaking(agent): Add authentication for getting jobs (#921)
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  agent/charms/testflinger-agent-host-charm/requirements.txt
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/common.py
  agent/charms/testflinger-agent-host-charm/src/defaults.py
  agent/charms/testflinger-agent-host-charm/src/testflinger_client.py
  agent/charms/testflinger-agent-host-charm/tests/integration/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
  agent/charms/testflinger-agent-host-charm/tests/unit/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_common.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_client.py
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/errors.py
  agent/tests/test_client.py
  agent/tests/test_init.py
  agent/tests/test_status_handler.py
Due: Agent

feat(agent): add typed config to agent host charm
  agent/charms/testflinger-agent-host-charm/requirements.txt
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/common.py
  agent/charms/testflinger-agent-host-charm/src/config.py
Due: Agent

tests: update unit tests with typed config
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_common.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_config.py
Due: Agent

docs: improve testflinger agent host documentation (#924)
  agent/charms/testflinger-agent-host-charm/CONTRIBUTING.md
  agent/charms/testflinger-agent-host-charm/README.md
  docs/.custom_wordlist.txt
  docs/explanation/agents.rst
  docs/how-to/administer-agent-hosts/deploy-testflinger-agent-host.rst
  docs/how-to/administer-agent-hosts/index.rst
  docs/how-to/administer-agent-hosts/maintain-testflinger-agent-host.rst
  docs/how-to/index.rst
  docs/index.rst
Due: Agent

fix(agent): handle None response from retry exhaustion to prevent crashes
  agent/src/testflinger_agent/client.py
  agent/tests/test_client.py
Due: Agent

test(agent): add status_code branch tests and use @patch decorators
  agent/tests/test_client.py
Due: Agent

remove unecessary try except
  agent/charms/testflinger-agent-host-charm/requirements.txt
  agent/charms/testflinger-agent-host-charm/src/common.py
Due: Agent

add additional unit test for invalid base64
  agent/charms/testflinger-agent-host-charm/tests/unit/test_config.py
Due: Agent

add reviewer suggestions
  agent/charms/testflinger-agent-host-charm/src/common.py
  agent/charms/testflinger-agent-host-charm/src/config.py
Due: Agent

feat(server): add schema validation for allocate_data
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1.py
Due: Server

feat(agent): use typed_config in TF Agent Host Charm (#927)
  agent/charms/testflinger-agent-host-charm/requirements.txt
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/common.py
  agent/charms/testflinger-agent-host-charm/src/config.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_common.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_config.py
Due: Agent

Revert "feat(server): add schema validation for allocate_data"
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1.py
Due: Server

fix(agent): include global timeout during allocate phase
  agent/src/testflinger_agent/job.py
  agent/tests/test_job.py
Due: Agent

terraform: update terraform files for agent host
  agent/terraform/HACKING.md
  agent/terraform/README.md
  agent/terraform/main.tf
  agent/terraform/variables.tf
Due: Agent

add missing juju_access_secret resource and outputs.tf
  agent/terraform/main.tf
  agent/terraform/outputs.tf
Due: Agent

breaking: update terraform module to match CC008 Spec
  agent/terraform/README.md
  agent/terraform/locals.tf
  agent/terraform/main.tf
  agent/terraform/outputs.tf
  agent/terraform/providers.tf
  agent/terraform/terraform.tf
  agent/terraform/variables.tf
Due: Agent

update README
  agent/terraform/README.md
Due: Agent

add version tagging
  .github/workflows/agent-host-terraform-tags.yml
Due: none

update CONTRIBUTING.md with 0.1.0 deployment
  .github/workflows/agent-host-terraform-tags.yml
  agent/terraform/CONTRIBUTING.md
  agent/terraform/dev/.gitignore
  agent/terraform/dev/main.tf
  agent/terraform/dev/versions.tf
Due: Agent

update terraform files with 1.0.0 deployment
  agent/terraform/dev/main.tf
  agent/terraform/dev/terraform.tf
  agent/terraform/providers.tf
Due: Agent

minor nitpicks
  agent/terraform/CONTRIBUTING.md
  agent/terraform/dev/main.tf
Due: Agent

typo fix
  agent/terraform/README.md
Due: Agent

Remove fetching/listing of queues in reserve; accept any queue input.\n\nCo-authored-by: Copilot <223556219+Copilot@users.noreply.github.com>
  cli/testflinger_cli/__init__.py
Due: CLI

set global timeout checker at the beginning of the phase
  agent/src/testflinger_agent/job.py
  agent/tests/test_job.py
Due: Agent

add unit tests
  agent/src/testflinger_agent/job.py
  agent/tests/test_job.py
Due: Agent

devices: update allocate method
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
Due: Device Connectors

fix: longer timeout after power cycle
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

fix: longer timeout after power cycle (#932)
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

Removed forced retries for alloem
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
Due: Device Connectors

Using "provision_data" since it's more extended and clear
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
Due: Device Connectors

adding the robot retries as optional
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
Due: Device Connectors

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
