Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

change: power cycle the control host with zapper kvm
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

comment
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
Due: Device Connectors

Agent security updates (#916)
  agent/charms/testflinger-agent-host-charm/requirements.txt
  agent/uv.lock
  common/.python-version
  common/uv.lock
Due: Agent, Common

Change: power cycle the control host when using certain connectors (#920)
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
  device-connectors/tests/test_devices.py
Due: Device Connectors

add reviewer suggestions
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/consts.py
  cli/tests/test_admin_cli.py
  cli/tests/test_cli_auth.py
  common/src/testflinger_common/enums.py
  server/schemas/openapi.json
  server/src/testflinger/api/auth.py
  server/tests/conftest.py
  server/tests/test_enums.py
Due: CLI, Common, Server

typo fix on keys
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  agent/charms/testflinger-agent-host-charm/src/charm.py
Due: Agent

update unit tests
  agent/charms/testflinger-agent-host-charm/tests/unit/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
Due: Agent

breaking(server): only allow agents to get jobs
  server/pyproject.toml
  server/src/testflinger/api/v1.py
  server/uv.lock
Due: Server

tests: fix server unit tests to match agent restriction
  server/tests/conftest.py
  server/tests/test_v1.py
  server/tests/test_v1_authorization.py
  server/tests/test_v1_secrets.py
Due: Server

tests: add unit test for non auth headers
  server/tests/test_v1.py
Due: Server

breaking(agent): Require authentication on agent charm
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  agent/charms/testflinger-agent-host-charm/requirements.txt
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/common.py
  agent/charms/testflinger-agent-host-charm/src/defaults.py
  agent/charms/testflinger-agent-host-charm/src/testflinger_client.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_common.py
Due: Agent

feat: add handling for agent code to use refresh token
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/errors.py
Due: Agent

test: add unit and integration tests for agent authentication
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/defaults.py
  agent/charms/testflinger-agent-host-charm/src/testflinger_client.py
  agent/charms/testflinger-agent-host-charm/tests/integration/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_client.py
Due: Agent

update charm code to use obtained_at instead of expires_at
  agent/charms/testflinger-agent-host-charm/src/testflinger_client.py
  agent/charms/testflinger-agent-host-charm/tests/integration/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_client.py
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/errors.py
  agent/tests/test_client.py
Due: Agent

tests: add unit tests for agent code
  agent/tests/test_client.py
Due: Agent

add config option to define secret
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
Due: Agent

refactor: extract testflinger CLI setup to its own action
  .github/actions/submit/CONTRIBUTING.md
  .github/actions/submit/README.md
  .github/actions/submit/action.yaml
  .github/actions/testflinger-setup/action.yaml
  .github/workflows/submit-action-tags.yml
Due: none

docs: update README and CONTRIBUTING guides
  agent/charms/testflinger-agent-host-charm/CONTRIBUTING.md
  agent/charms/testflinger-agent-host-charm/README.md
Due: Agent

docs: update documentation with agent administration tasks
  docs/administration/how-to/deploy-testflinger-agent-host.rst
  docs/administration/how-to/index.rst
  docs/administration/how-to/maintain-testflinger-agent-host.rst
  docs/administration/index.rst
  docs/explanation/agents.rst
  docs/index.rst
Due: none

fixes
  agent/charms/testflinger-agent-host-charm/CONTRIBUTING.md
  agent/charms/testflinger-agent-host-charm/README.md
  docs/administration/how-to/deploy-testflinger-agent-host.rst
  docs/administration/how-to/index.rst
Due: Agent

fix spell checks
  docs/.custom_wordlist.txt
  docs/administration/how-to/maintain-testflinger-agent-host.rst
Due: none

chore(server): add agent as valid role for client_id (#919)
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/consts.py
  cli/tests/test_admin_cli.py
  cli/tests/test_cli_auth.py
  common/src/testflinger_common/enums.py
  server/schemas/openapi.json
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/src/testflinger/enums.py
  server/tests/conftest.py
  server/tests/test_enums.py
  server/tests/test_oidc.py
  server/tests/test_v1_authorization.py
Due: CLI, Common, Server

add a checkout in submit action
  .github/actions/submit/action.yaml
Due: none

fix zizmor
  .github/actions/submit/action.yaml
Due: none

reestructure administrator to be inside how-to
  docs/administration/how-to/index.rst
  docs/administration/index.rst
  docs/how-to/administer-agent-hosts/deploy-testflinger-agent-host.rst
  docs/how-to/administer-agent-hosts/index.rst
  docs/how-to/administer-agent-hosts/maintain-testflinger-agent-host.rst
  docs/how-to/index.rst
  docs/index.rst
Due: none

add suggestions made by reviewers
  docs/how-to/administer-agent-hosts/deploy-testflinger-agent-host.rst
  docs/how-to/administer-agent-hosts/maintain-testflinger-agent-host.rst
Due: none

fix title underline
  docs/how-to/administer-agent-hosts/maintain-testflinger-agent-host.rst
Due: none

fix other line lengths
  docs/how-to/administer-agent-hosts/deploy-testflinger-agent-host.rst
  docs/how-to/administer-agent-hosts/index.rst
Due: none

pin branch ref
  .github/actions/submit/action.yaml
Due: none

mimic snapcraft setup action
  .github/actions/submit/action.yaml
Due: none

fix output being printed multiple times
  .github/actions/submit/action.yaml
Due: none

nitpick, remove Waiting on output message if next fragment does not exist yet
  .github/actions/submit/action.yaml
Due: none

refactor(agent): modify unit test to function based for consistency with other components
  agent/tests/conftest.py
  agent/tests/test_agent.py
  agent/tests/test_client.py
  agent/tests/test_config.py
  agent/tests/test_handlers.py
  agent/tests/test_job.py
  agent/tests/test_status_handler.py
  agent/tests/test_stop_condition_checkers.py
Due: Agent

minor fixes
  .github/actions/submit/action.yaml
Due: none

modify how-to index
  docs/how-to/index.rst
Due: none

tests: additional unit tests for coverage
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/testflinger_client.py
  agent/charms/testflinger-agent-host-charm/tests/unit/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_client.py
  agent/tests/test_client.py
  agent/tests/test_init.py
  agent/tests/test_status_handler.py
Due: Agent

add suggestions made by reviewer
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/testflinger_client.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_client.py
Due: Agent

fix import order
  agent/charms/testflinger-agent-host-charm/src/charm.py
Due: Agent

add testflinger-setup README
  .github/actions/submit/action.yaml
  .github/actions/testflinger-setup/README.md
Due: none

feat(submit): include individual steps polling by phase
  .github/actions/submit/action.yaml
Due: none
