Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

use connect-expose for serve-expose
  .workshop/justfile
Due: none

feat(device-connector): add authentication mechanism for multi-device
  device-connectors/src/testflinger_device_connectors/devices/multi/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/multi/tfclient.py
Due: Device Connectors

feat(server): add a new role for multi device connectors
  common/src/testflinger_common/enums.py
  server/schemas/openapi.json
  server/src/testflinger/api/v1.py
  server/src/testflinger/tools/client_credentials_admin.py
  server/tests/permissions.json
Due: Common, Server

tests: add unit tests for device connector tfclient
  device-connectors/src/testflinger_device_connectors/devices/multi/tests/test_tfclient.py
Due: Device Connectors

chore(cli): add new multidevice enum
  cli/testflinger_cli/enums.py
Due: CLI

fix(device-connector): allow test phase to read job_list JSON file
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/multi/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/multi/multi.py
Due: Device Connectors

tests: fix server unit tests
  server/tests/conftest.py
  server/tests/permissions.json
Due: Server

feat: introduce 'orchestrator' role
  cli/testflinger_cli/enums.py
  common/src/testflinger_common/enums.py
  docs/reference/api-roles-table.txt
  docs/reference/api-roles.rst
  server/schemas/openapi.json
  server/scripts/generate_api_roles.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/tools/client_credentials_admin.py
  server/tests/conftest.py
  server/tests/permissions.json
Due: CLI, Common, Server

add suggestions made by copilot
  device-connectors/src/testflinger_device_connectors/devices/multi/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/multi/multi.py
  docs/reference/api-roles-table.txt
  server/schemas/openapi.json
  server/src/testflinger/api/v1.py
  server/tests/permissions.json
Due: Device Connectors, Server

change: when DUT failed to reboot set provision status to failed (#1334)
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/provision-image.sh
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/oem_autoinstall.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_oem_autoinstall.py
Due: Device Connectors

fix(submit): prefer jq apt package
  .github/actions/testflinger-setup/action.yaml
Due: none

fix(submit): prefer jq apt package (#1340)
  .github/actions/testflinger-setup/action.yaml
Due: none

increase integration readiness check
  server/charm/tests/integration/test_charm.py
Due: Server

tests: add unit tests for coverage
  device-connectors/src/testflinger_device_connectors/devices/multi/tests/test_multi.py
  device-connectors/src/testflinger_device_connectors/devices/multi/tests/test_multi_init.py
Due: Device Connectors

feat(cli): add job-events command
  cli/pyproject.toml
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/consts.py
  cli/testflinger_cli/helpers.py
  cli/uv.lock
Due: CLI

feat(server): allow server to also expose the phase as a key
  server/src/testflinger/api/schemas.py
  server/src/testflinger/events.py
Due: Server

feat(cli): allow specifying fields to display
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/consts.py
Due: CLI

tests: add unit tests for new command
  cli/tests/test_helpers.py
  cli/tests/test_job_events.py
Due: CLI

refactor(server): split statistics into a dedicated endpoint
  docs/reference/api-roles-table.txt
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/permissions.json
  server/tests/test_v1.py
Due: Server

chore: update charm libraries
  server/charm/lib/charms/grafana_k8s/v0/grafana_dashboard.py
  server/charm/lib/charms/prometheus_k8s/v0/prometheus_scrape.py
Due: Server

add more job states for display testing
  server/devel/create_sample_data.py
  server/devel/create_sample_users.py
  server/devel/sample_users.py
Due: Server

Add: `WEBHOOK_URLS` to support multiple webhook URLs.
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/event_emitter.py
  agent/tests/test_agent.py
  agent/tests/test_client.py
  docs/reference/job-schema.rst
  server/charm/charmcraft.yaml
  server/charm/src/charm.py
  server/charm/src/config.py
  server/charm/tests/unit/test_config.py
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/api/webhooks.py
  server/tests/conftest.py
  server/tests/test_v1.py
  server/tests/test_v1_authorization_roles.py
  server/tests/test_v1_webhooks.py
Due: Agent, Server

chore(server): add to paths to dockerignore
  server/.dockerignore
Due: Server

chore: remove devel as this is used by devs
  server/.dockerignore
Due: Server

chore: bump integration timeout
  server/charm/tests/integration/consts.py
  server/charm/tests/integration/test_charm.py
  server/charm/tests/integration/test_ingress_configurator.py
  server/charm/tests/integration/test_nginx_ingress.py
Due: Server

fix gitignore, fix create_sample_data to be aligned with v1 until v2 lands
  .gitignore
  server/devel/create_sample_data.py
  server/devel/sample_users.py
Due: Server

api layer changes to split v1/v2 for agents data
  docs/reference/api-roles-table.txt
  server/schemas/openapi.json
  server/src/testflinger/api/v2/__init__.py
  server/src/testflinger/api/v2/agents.py
  server/src/testflinger/api/v2/schemas.py
  server/src/testflinger/application.py
  server/src/testflinger/database.py
  server/tests/test_database.py
  server/tests/test_v1_authorization_roles.py
  server/tests/test_v1_v2_agent_mode.py
  server/tests/test_v2_agents.py
Due: Server

move v2 changes into create sample data now that the enums and api exist
  server/devel/create_sample_data.py
  server/devel/sample_users.py
Due: Server

fix tooltip hover for normies
  server/src/testflinger/templates/_macros.html
Due: Server

make waiting job chip a little more gray
  server/src/testflinger/static/assets/css/testflinger.css
Due: Server

feat(maas2): prepare unused non-OS disks for default storage
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
Due: Device Connectors

feat(maas2): prepare Ubuntu Core data disks after deployment
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_uc_storage.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/uc_storage.py
Due: Device Connectors

* Add Ubuntu 24.04 ARM64 using the existing multi-base charm platform configuration * Cover Jammy and Noble on both native architectures in CI and documentation
  .github/workflows/agent-tox.yml
  agent/charms/testflinger-agent-host-charm/CONTRIBUTING.md
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
Due: Agent

* Preserve upstream Jammy and Noble AMD64 behavior in ARM64 integration coverage * Document explicit multi-base pack commands and target-base selection
  agent/charms/testflinger-agent-host-charm/CONTRIBUTING.md
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
Due: Agent

* Pass the charm platform through a quoted environment variable to satisfy workflow security checks
  .github/workflows/agent-tox.yml
Due: none

* Skip charm-library label updates for read-only fork PR tokens while retaining library checks
  .github/workflows/agent-host-charm-check-libs.yml
Due: none

Add s390x support for the testflinger-agent-host charm Add s390x CI support via self-hosted runners
  .github/workflows/agent-host-charm-release.yml
  .github/workflows/agent-host-charm-sec-scan.yml
  .github/workflows/agent-tox.yml
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
Due: Agent

update noble-medium
  .github/workflows/agent-host-charm-release.yml
Due: none

test(maas2): cover storage and Ubuntu Core failure paths
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_uc_storage.py
Due: Device Connectors

test(maas2): cover UC storage safety and failure paths
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_uc_storage.py
Due: Device Connectors
