Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

add a little more detail to the output at the reserve stage
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
Due: Device Connectors

this never should have been committed
  HANDOFF.md
Due: none

apparently working
  server/devel/testflinger.yaml
Due: Server

refinements to the implementation
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/status_line.py
Due: CLI

incorporate comments from review
  agent/tests/conftest.py
  agent/tests/test_main_loop.py
Due: Agent

fix issues that were noted in GH issue #981
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/helpers.py
Due: CLI

pick a direction for --keys, will discuss
  cli/testflinger_cli/__init__.py
Due: CLI

Update unit tests
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/status_line.py
  cli/tests/conftest.py
  cli/tests/test_cli.py
  cli/tests/test_status_line.py
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
Due: CLI, Device Connectors

feat(server): add rotation mechanism for MongoDB CSFLE master key
  server/charm/charmcraft.yaml
  server/charm/src/charm.py
  server/charm/tests/unit/conftest.py
  server/pyproject.toml
  server/src/testflinger/secrets/__init__.py
  server/src/testflinger/tools/rotate_mongo_secrets_key.py
Due: Server

tests: add unit tests for new code
  server/charm/tests/unit/helpers.py
  server/charm/tests/unit/test_charm.py
  server/tests/test_rotate_mongo_secrets_key.py
Due: Server

user local:new for rewrapping DEK with new master key
  server/src/testflinger/secrets/__init__.py
  server/src/testflinger/tools/rotate_mongo_secrets_key.py
  server/tests/test_rotate_mongo_secrets_key.py
Due: Server

fix race condition
  server/charm/tests/integration/test_charm.py
  server/src/testflinger/secrets/__init__.py
  server/tests/test_mongo_store.py
Due: Server

fix formatting error
  server/tests/test_mongo_store.py
Due: Server

update Terraform module with encryption relation
  server/terraform/main.tf
  server/terraform/variables.tf
Due: Server

line lengths
  cli/testflinger_cli/__init__.py
Due: CLI

fix integration tests
  server/charm/tests/integration/test_nginx_ingress.py
  server/charm/tests/integration/test_traefik_ingress.py
Due: Server

mostly formatting; fixed crash when no agents available due to lack of arg in reserve sub-command
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/status_line.py
  cli/tests/test_cli.py
Due: CLI

add copilot suggestions
  server/charm/tests/unit/helpers.py
  server/src/testflinger/secrets/__init__.py
  server/src/testflinger/tools/rotate_mongo_secrets_key.py
  server/tests/test_mongo_store.py
Due: Server

add default empty string if no keyvault URI
  server/charm/src/charm.py
Due: Server

add a pin for setuptool_scm
  server/charm/requirements.txt
Due: Server

Revert "add a pin for setuptool_scm"
  server/charm/requirements.txt
Due: Server

fix line lengths
  cli/testflinger_cli/__init__.py
Due: CLI

style
  cli/testflinger_cli/__init__.py
Due: CLI

fix(charms): use binaries as a workaround for setuptool_scm cyclic dependency
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  server/charm/charmcraft.yaml
Due: Agent, Server

add missing binaries
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  server/charm/charmcraft.yaml
Due: Agent, Server

use PIP_CONSTRAINT
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  server/charm/charmcraft.yaml
Due: Agent, Server

set correct path for constraint file
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  agent/charms/testflinger-agent-host-charm/constraints.txt
  server/charm/charmcraft.yaml
  server/charm/constraints.txt
Due: Agent, Server

updates to the way that errors are handled when getting job data, added unit tests with proper mocking for all new features
  cli/pyproject.toml
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/status_line.py
  cli/tests/conftest.py
  cli/tests/test_cli.py
  cli/tests/test_get_job_data.py
  cli/tests/test_status_line.py
  cli/uv.lock
Due: CLI

style
  cli/tests/conftest.py
  cli/tests/test_status_line.py
Due: CLI

use src path
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  server/charm/charmcraft.yaml
Due: Agent, Server

fix default timeout value
  cli/testflinger_cli/__init__.py
Due: CLI

attempt with /etc/pip.conf
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  server/charm/charmcraft.yaml
Due: Agent, Server

one more attepmt
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  agent/charms/testflinger-agent-host-charm/constraints.txt
  server/charm/charmcraft.yaml
  server/charm/constraints.txt
Due: Agent, Server

add charmlibs
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
Due: Agent

fix the locks
  cli/testflinger_cli/status_line.py
Due: CLI

Apply suggestions from code review
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/helpers.py
Due: CLI

add tests and update cli params
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
  cli/tests/test_helpers.py
Due: CLI

updated the handling of the --image argument in order to have consistent handling, synchronized with the fix-reserve branch
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/helpers.py
  cli/tests/conftest.py
  cli/tests/test_helpers.py
Due: CLI

use job_dict directly instead of starting with yaml, output JSON instead of yaml, update handling of images, add/update tests
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/helpers.py
  cli/tests/conftest.py
  cli/tests/test_cli.py
  cli/tests/test_helpers.py
Due: CLI

sync with fix-reserve branch
  cli/tests/conftest.py
  cli/tests/test_cli.py
  cli/tests/test_helpers.py
Due: CLI

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
