Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

Fix format issues
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
Due: Agent

Add s390x Support for the Testflinger-agent-host charm (#1326)
  .github/workflows/agent-host-charm-release.yml
  .github/workflows/agent-host-charm-sec-scan.yml
  .github/workflows/agent-tox.yml
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
Due: Agent

swap sub for email
  server/src/testflinger/dev_signin.py
Due: Server

Enable native ARM64 builds and integration coverage for the agent-host charm (#1345)
  .github/workflows/agent-host-charm-check-libs.yml
  .github/workflows/agent-host-charm-release.yml
  .github/workflows/agent-host-charm-sec-scan.yml
  .github/workflows/agent-tox.yml
  agent/charms/testflinger-agent-host-charm/CONTRIBUTING.md
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
  agent/charms/testflinger-agent-host-charm/tox.ini
Due: Agent

chore: update charm libraries
  server/charm/lib/charms/grafana_k8s/v0/grafana_dashboard.py
  server/charm/lib/charms/prometheus_k8s/v0/prometheus_scrape.py
Due: Server

small commentary change
  common/src/testflinger_common/enums.py
Due: Common

api layer changes to split v1/v2 for agents data
  docs/reference/api-roles-table.txt
  server/schemas/openapi.json
  server/src/testflinger/api/v2/__init__.py
  server/src/testflinger/api/v2/agents.py
  server/src/testflinger/api/v2/schemas.py
  server/src/testflinger/application.py
  server/src/testflinger/database.py
  server/tests/test_database.py
  server/tests/test_v1_authorization_roles.py
  server/tests/test_v1_v2_agent_mode.py
  server/tests/test_v2_agents.py
Due: Server

move v2 changes into create sample data now that the enums and api exist
  server/devel/create_sample_data.py
  server/devel/sample_users.py
Due: Server

update the api to separate the commanded mode from the acheived and observed mode.
  server/schemas/openapi.json
  server/src/testflinger/api/v2/agents.py
  server/src/testflinger/api/v2/schemas.py
  server/src/testflinger/database.py
  server/tests/test_database.py
  server/tests/test_v2_agents.py
Due: Server

update database normalization for better ui display
  server/src/testflinger/database.py
Due: Server

update function name for commanded mode change
  server/src/testflinger/database.py
  server/tests/test_database.py
Due: Server

add the enums changes to the api branch
  .gitignore
  agent/uv.lock
  common/pyproject.toml
  common/src/testflinger_common/enums.py
  common/uv.lock
  server/schemas/openapi.json
  server/tests/test_enums.py
  server/uv.lock
Due: Agent, Common, Server

revert sketchy change
  common/uv.lock
Due: Common

add PATCH to allow for commanded mode to be admin only and require an existing agent upfront, while protecting the commanded mode from being changed by an agent role
  common/src/testflinger_common/enums.py
  docs/reference/api-roles-table.txt
  server/schemas/openapi.json
  server/src/testflinger/api/v2/agents.py
  server/src/testflinger/api/v2/schemas.py
  server/src/testflinger/database.py
  server/tests/test_enums.py
  server/tests/test_v1_v2_agent_mode.py
  server/tests/test_v2_agents.py
Due: Common, Server

rename v2 schema classes so that the openapi.json file has relevant names; revert create_sample_data.py so that the ui sample testing data is held off until the ui changes are added.
  server/devel/create_sample_data.py
  server/schemas/openapi.json
  server/src/testflinger/api/v2/agents.py
  server/src/testflinger/api/v2/schemas.py
Due: Server

.venv as a file vs .venv as a folder is a current issue that I am facing and ignoring it does not make it better
  .gitignore
Due: none

revise v2 schema, only admin can control agent mode
  docs/reference/api-roles-table.txt
  server/schemas/openapi.json
  server/src/testflinger/api/v2/agents.py
  server/tests/test_v2_agents.py
Due: Server

clarifiation of comments and roles
  server/schemas/openapi.json
  server/src/testflinger/api/v2/agents.py
  server/src/testflinger/api/v2/schemas.py
Due: Server

clarify schema comments and update database to support v1 agents' current behavior unknown->online
  server/src/testflinger/api/v2/schemas.py
  server/src/testflinger/database.py
  server/tests/test_v1_v2_agent_mode.py
  server/tests/test_v2_agents.py
Due: Server

fix(server): capped code snippet blocks and fixed scrolling behavior, refs #1324
  server/src/testflinger/static/assets/css/testflinger.css
  server/src/testflinger/templates/agent_detail.html
  server/src/testflinger/templates/job_detail.html
Due: Server

removed unused class from testflinger.css
  server/src/testflinger/static/assets/css/testflinger.css
Due: Server

format(server): ran formatting script to fix stylistic issues
  server/src/testflinger/templates/job_detail.html
Due: Server

chore(server): add to paths to dockerignore (#1343)
  server/.dockerignore
  server/charm/tests/integration/consts.py
  server/charm/tests/integration/test_charm.py
  server/charm/tests/integration/test_ingress_configurator.py
  server/charm/tests/integration/test_nginx_ingress.py
Due: Server

bugfix: cleanup DUT logs before running oemscript
  device-connectors/src/testflinger_device_connectors/data/muxpi/oemscript/recovery-from-iso.sh
Due: Device Connectors

taking care of xorg too
  device-connectors/src/testflinger_device_connectors/data/muxpi/oemscript/recovery-from-iso.sh
Due: Device Connectors

docs: add component architecture diagram
  docs/CONTRIBUTING.md
  docs/explanation/architecture.rst
  docs/images/testflinger_components.mmd
  docs/images/testflinger_components.svg
Due: none

fix spelling
  docs/.custom_wordlist.txt
Due: none

updated permissions.json to include v2 endpoints
  server/tests/permissions.json
Due: Server

implement generat_permissions.py to keep server/tests/permissions.json up to date and include the checks in the standard set
  .github/workflows/server-tox.yml
  server/justfile
  server/scripts/generate_permissions.py
  server/tests/permissions.json
  server/tox.ini
Due: Server

fix the formatting, restore old format
  server/scripts/generate_permissions.py
  server/tests/permissions.json
Due: Server

refactor of v1/v2 translation functions with added tests.
  common/src/testflinger_common/enums.py
  server/schemas/openapi.json
  server/src/testflinger/api/v1.py
  server/src/testflinger/api/v2/agents.py
  server/src/testflinger/api/v2/schemas.py
  server/src/testflinger/database.py
  server/tests/test_v1_authorization_roles.py
  server/tests/test_v1_v2_agent_mode.py
Due: Common, Server

refactor: do not use jsonify
  server/src/testflinger/api/v1.py
Due: Server

Stop repeating reservation expiry in CLI
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/status_line.py
  cli/tests/test_status_line.py
Due: CLI

fix(oem_autoinstall): set boot script in default-user-data to support GB300 efibootmgr listings
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/default-user-data
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/stock/default-user-data
Due: Device Connectors

change: ignore Ubuntu entry when on usb drive because internal storage partition is expected
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/default-user-data
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/stock/default-user-data
Due: Device Connectors

add: UT for set_boot script with efibootmgr output mocking
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_oem_autoinstall.py
Due: Device Connectors

fix: tests
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_oem_autoinstall.py
Due: Device Connectors

ci: fix zizmor findings
  .github/workflows/charm-update-libs.yml
  .github/workflows/cli-publish-snap.yml
Due: none

ci: also pin snapcore actions
  .github/workflows/cli-publish-snap.yml
Due: none

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
