Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

docs/tutorial: Clean up
  docs/tutorial/index.rst
Due: none

docs/tutorial: Change jammy to noble
  docs/tutorial/index.rst
Due: none

docs/tutorial: Add reference to `poll` and the website
  docs/tutorial/index.rst
Due: none

docs/how-to: Improve submit-job.rst
  docs/how-to/submit-job.rst
Due: none

docs/how-to: Fix typo in submit-job.rst
  docs/how-to/submit-job.rst
Due: none

docs/how-to: Add a "Reserve a device" guide
  docs/how-to/index.rst
  docs/how-to/reserve-job.rst
Due: none

fix(agent): add a validation for server availability
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/client.py
  agent/tests/test_agent.py
  agent/uv.lock
  common/pyproject.toml
  common/src/testflinger_common/enums.py
Due: Agent, Common

include uv lock for common module changes
  common/uv.lock
Due: Common

added unit test for testing server connectivity
  agent/tests/test_agent.py
Due: Agent

typo fix
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/client.py
  agent/tests/test_agent.py
Due: Agent

fix(cli): add setuptools_scm section
  cli/pyproject.toml
Due: CLI

feat(cli): initial commit for client-permissions
  cli/pyproject.toml
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/client.py
Due: CLI

include suggestions made by reviewer
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/client.py
  agent/tests/test_agent.py
Due: Agent

feat(cli): add get client_permissions command
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/client.py
Due: CLI

include suggestions made by reviewer
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/client.py
Due: Agent

feat(cli): add delete command for deleting client permissions
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/client.py
Due: CLI

reformat(cli): modify client.put to match correct POST request
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
Due: CLI

feat(cli): add logic for create/edit client_ids from cli
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/client.py
Due: CLI

feat: add server-side human-readable duration format support for reservation timeouts
  cli/testflinger_cli/__init__.py
  common/src/testflinger_common/duration.py
  common/src/testflinger_common/tests/__init__.py
  common/src/testflinger_common/tests/test_duration.py
  docs/reference/test-phases.rst
  server/pyproject.toml
  server/src/testflinger/api/schemas.py
  server/src/testflinger/tests/test_duration_schema.py
  server/uv.lock
Due: CLI, Common, Server

fix(cli): add relative root
  cli/pyproject.toml
Due: CLI

fix(agent): Bug fix for unhandled exception (#777)
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/job.py
  agent/tests/test_agent.py
  agent/uv.lock
  common/pyproject.toml
  common/src/testflinger_common/enums.py
  common/uv.lock
Due: Agent, Common

chore: update charm libraries
  server/charm/lib/charms/data_platform_libs/v0/data_interfaces.py
  server/charm/lib/charms/observability_libs/v0/juju_topology.py
  server/charm/lib/charms/prometheus_k8s/v0/prometheus_scrape.py
Due: Server

chore: update charm libraries
  agent/charms/testflinger-agent-host-charm/lib/charms/grafana_agent/v0/cos_agent.py
  agent/charms/testflinger-agent-host-charm/lib/charms/operator_libs_linux/v0/apt.py
Due: Agent

tests: moved all admin related commands to its own module
  cli/pyproject.toml
  cli/testflinger_cli/tests/test_admin_cli.py
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

tests: created fixtures for common authentication for admin commands
  cli/testflinger_cli/tests/test_admin_cli.py
Due: CLI

tests: added unit test for cli new commands
  cli/pyproject.toml
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/tests/test_admin_cli.py
Due: CLI

feat(cli): add additional request methods
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
Due: CLI

tests: added unit tests for request methods
  cli/testflinger_cli/tests/test_client.py
Due: CLI

fix: modify the error message returned from schema validation
  cli/testflinger_cli/client.py
  cli/testflinger_cli/tests/test_client.py
Due: CLI

tests: added unit test for connection timeout and error for additional methods
  cli/testflinger_cli/tests/test_client.py
Due: CLI

fix(oem_autoinstall): Stock user-data to prioritize raid storage before single drivers as target storage
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/stock/default-user-data
Due: Device Connectors

fix(oem_autoinstall): user-data to enable autologin
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/default-user-data
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/stock/default-user-data
Due: Device Connectors

feat: add human-readable duration format support for reservation timeout
  common/pyproject.toml
  common/src/testflinger_common/duration.py
  common/tests/__init__.py
  common/tests/test_duration.py
  common/uv.lock
  docs/reference/test-phases.rst
  server/pyproject.toml
  server/src/testflinger/api/schemas.py
  server/tests/test_v1.py
  server/uv.lock
Due: Common, Server

feat: add human-readable duration format support for reservation timeout
  agent/uv.lock
  common/pyproject.toml
  common/src/testflinger_common/duration.py
  common/tests/__init__.py
  common/tests/test_duration.py
  common/uv.lock
  docs/reference/test-phases.rst
  server/pyproject.toml
  server/src/testflinger/api/schemas.py
  server/tests/test_v1.py
  server/uv.lock
Due: Agent, Common, Server

feat(cli): add common error response handler for request based on reviewer suggestion
  cli/testflinger_cli/client.py
Due: CLI

fix(devices): prioritize ipv4 successfully booted devices
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
Due: Device Connectors

feat(cli): extend cli client module with additional methods (#780)
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/tests/test_client.py
Due: CLI

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
