Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

tests: reuse new fixtures in test_maas module
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/conftest.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
Due: Device Connectors

fix(security): bump trivy-action version to latest
  .github/workflows/agent-host-charm-release.yml
  .github/workflows/agent-host-charm-sec-scan.yml
  .github/workflows/cli-publish-snap.yml
  .github/workflows/cli-snap-sec-scan.yml
  .github/workflows/server-charm-release.yml
  .github/workflows/server-charm-sec-scan.yml
Due: none

updated list-agents help display, rules for mutual exclusivity of arguments, tests, and documentation
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
  docs/explanation/agents.rst
  docs/how-to/administer-agent-hosts/maintain-testflinger-agent-host.rst
  docs/tutorial/index.rst
Due: CLI

Updated implementation to move the validation of arguments into the argparsing, incl. mutually exclusivity and reworked logic for filtering
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/helpers.py
  cli/tests/test_cli.py
Due: CLI

update documentation in response to feedback
  docs/explanation/agents.rst
Due: none

add type hinting and docstrings, add testing for comma separated value parser, ensured that actually are constant as tests are run
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/helpers.py
Due: CLI

feat(devices): [maas] add support for ephemeral deployments
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
  server/src/testflinger/api/schemas.py
Due: Device Connectors, Server

tests: add unit tests for ephemeral deployments
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/conftest.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
Due: Device Connectors

Apply suggestion from @ajzobro
  docs/explanation/agents.rst
Due: none

add copilot recommendations
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
Due: Device Connectors

nitpick: default to deploy_node to jammy
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
Due: Device Connectors

updates to code based on review feedback
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/helpers.py
  cli/tests/test_helpers.py
Due: CLI

testflinger-setup: better ps6 runner detection
  .github/actions/testflinger-setup/action.yaml
Due: none

change: when possible (REST allows it), always power cycle the control host
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
  device-connectors/tests/test_devices.py
Due: Device Connectors

move everything into dedicated class
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/tests/test_devices.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
  device-connectors/tests/test_devices.py
Due: Device Connectors

Apply suggestion from @ajzobro
  cli/testflinger_cli/__init__.py
Due: CLI

unused variable
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/muxpi.py
  device-connectors/tests/test_devices.py
Due: Device Connectors

updates to documentation for agents, agent management, agent host management, etc. in light of new list-agents command and uses thereof
  agent/extra/docker/README.md
  cli/testflinger_cli/__init__.py
  docs/explanation/agents.rst
  docs/how-to/administer-agent-hosts/index.rst
  docs/how-to/administer-agent-hosts/maintain-testflinger-agent-host.rst
  docs/how-to/administer-agent-hosts/manage-agents.rst
  docs/how-to/index.rst
  docs/how-to/list-agents.rst
  docs/how-to/reserve-job.rst
  docs/how-to/submit-job.rst
Due: Agent, CLI

use argparser mutually exclusive subgroup for --distro and --image
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
Due: CLI

fix formatting
  cli/tests/test_cli.py
Due: CLI

feat: replace charm for uv as plugin
  server/charm/charmcraft.yaml
  server/charm/pyproject.toml
  server/charm/tox.ini
  server/charm/uv.lock
  server/pyproject.toml
  server/tox.ini
  server/uv.lock
Due: Server

update workflows
  .github/workflows/server-tox.yml
Due: none

include coverage report for charm
  .github/workflows/server-tox.yml
Due: none

remove requirements.txt
  server/charm/requirements.txt
Due: Server

update integration workflow run
  .github/workflows/server-tox.yml
Due: none

add pytest to integration
  server/charm/pyproject.toml
Due: Server

update uv lock
  server/charm/uv.lock
Due: Server

include requests in integration tests
  server/charm/pyproject.toml
  server/charm/uv.lock
Due: Server

update README and CONTRIBUTING guide
  server/charm/CONTRIBUTING.md
  server/charm/README.md
Due: Server

add copilot suggestions
  server/charm/CONTRIBUTING.md
  server/charm/README.md
  server/charm/pyproject.toml
Due: Server

new: allow using 'url' in zapper_iot when only one image is required
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/tests/test_zapper_iot.py
  server/src/testflinger/api/schemas.py
  server/tests/test_v1.py
Due: Device Connectors, Server

Add: ser2net zapper-iot
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/tests/test_zapper_iot.py
Due: Device Connectors

only one of url and urls is allowed
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/tests/test_zapper_iot.py
  server/src/testflinger/api/schemas.py
  server/tests/test_v1.py
Due: Device Connectors, Server

add graphic created with vhs tool along with documentation Makefile updates to regenerate the graphic e.g.: make vhs && make html && make serve
  docs/Makefile
  docs/how-to/submit-job.rst
  docs/images/submit-job.gif
  docs/submit-job.tape
Due: none

update listing_agents references.
  docs/how-to/administer-agent-hosts/manage-agents.rst
  docs/tutorial/index.rst
Due: none

fix references to new documentation pages
  docs/how-to/administer-agent-hosts/index.rst
Due: none

update tutorial to use a more realistic fake example, clarify list-agents headings
  docs/how-to/list-agents.rst
  docs/tutorial/index.rst
Due: none

Apply suggestions from code review
  docs/how-to/administer-agent-hosts/manage-agents.rst
  docs/how-to/list-agents.rst
Due: none

fix: extra time to validate poweroff
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/tests/test_devices.py
Due: Device Connectors

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
