Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

address pr comments
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
Due: Device Connectors

ruff
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
Due: Device Connectors

better name
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
Due: Device Connectors

updates for documentation generation failures
  docs/reference/job-schema.rst
Due: none

Add: busy loops on zapper and muxpi connectors
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
  device-connectors/tests/test_devices.py
Due: Device Connectors

update per finding in review, use flask.abort rather than returning a tuple
  server/src/testflinger/api/v1.py
Due: Server

added tests for agent cookies and to ensure that when a cookie is not present the agent will not crash out; heartbeat will request another cookie eventually
  agent/tests/test_client.py
Due: Agent

Add get_job_data() method to handle 401 auth errors with automatic retry
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/client.py
  agent/tests/test_agent.py
  agent/tests/test_client.py
Due: Agent

added tests
  device-connectors/tests/test_devices.py
Due: Device Connectors

Better coverage of new code
  agent/tests/test_agent.py
  agent/tests/test_client.py
Due: Agent

update openapi.json
  server/schemas/openapi.json
Due: Server

moved wait to provision function
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_zapper_oem.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/tests/test_zapper_iot.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
  device-connectors/tests/test_devices.py
Due: Device Connectors

restored missing test
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_zapper_oem.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/tests/test_zapper_iot.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

fix: logging messages
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
Due: Device Connectors

Update agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/agent.py
Due: Agent

apply suggestions from review; revise the tests needed due to agent logic changes
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/agent.py
  agent/tests/test_agent.py
Due: Agent

refactor(agent): restructure agent charm code to use modules for non event based functions
  .github/workflows/agent-tox.yml
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/common.py
  agent/charms/testflinger-agent-host-charm/src/supervisord.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_common.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_port_validation.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_supervisord.py
  agent/pyproject.toml
  agent/tox.ini
  agent/uv.lock
Due: Agent

address reviewer comments
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/supervisord.py
Due: Agent

fix unit test
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
Due: Agent

remove self from restart_agents()
  agent/charms/testflinger-agent-host-charm/src/supervisord.py
Due: Agent

revise string contatenation and use of HTTPStatus in place of numeric codes per review comments
  agent/src/testflinger_agent/agent.py
  cli/tests/test_cli.py
  cli/tests/test_client.py
Due: Agent, CLI

Update server/src/testflinger/api/schemas.py
  server/src/testflinger/api/schemas.py
Due: Server

fix: update the default release from xenial to jammy in maas.py resolves #318
  .gitignore
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
Due: Device Connectors

fix HTTPStatus enums and remaining f-strings in modified functions
  agent/tests/test_client.py
Due: Agent

formatting
  agent/tests/test_client.py
Due: Agent

add missing default and other typhints missing
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/common.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_common.py
Due: Agent

fix formatting error
  agent/charms/testflinger-agent-host-charm/tests/unit/test_common.py
Due: Agent

docs: add example on artifacts usage
  docs/reference/test-phases.rst
Due: none

add reviewer suggestion
  docs/reference/test-phases.rst
Due: none

Reboot control host before provisioning (#837)
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/cm3/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/dell_oemscript/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/dragonboard/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/fake_connector/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/hp_oemscript/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/lenovo_oemscript/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/multi/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/netboot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/noprovision/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_zapper_oem.py
  device-connectors/src/testflinger_device_connectors/devices/oemrecovery/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oemscript/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/tests/test_zapper_iot.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
  device-connectors/tests/test_devices.py
Due: Device Connectors

change: don't log docker error when removing container
  agent/charms/testflinger-agent-host-charm/src/tf-cmd-scripts/tf-cleanup
  agent/charms/testflinger-agent-host-charm/src/tf-cmd-scripts/tf-setup
Due: Agent

Replace sys.exit calls with custom exceptions for granular error handling in get_job_state
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/errors.py
  cli/tests/test_cli.py
Due: CLI

Filter excluded agents from availability check and enhance error messaging when no agents are available
  cli/testflinger_cli/__init__.py
Due: CLI

tests: migrate agent integration tests from pytest to jubilant
  .github/workflows/agent-tox.yml
  agent/charms/testflinger-agent-host-charm/tests/integration/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
  agent/pyproject.toml
  agent/tox.ini
  agent/uv.lock
Due: Agent

typo fix and zizmor fix
  .github/workflows/agent-tox.yml
  agent/tox.ini
Due: Agent

update to use HTTPStatus code
  agent/tests/test_client.py
Due: Agent

fix exec commands
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
Due: Agent

minor formatting
  cli/testflinger_cli/__init__.py
Due: CLI

docs: add example on artifacts usage (#881)
  docs/reference/test-phases.rst
Due: none

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
