Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

fix: Vault Store resilience when Vault goes down
  server/src/testflinger/secrets/__init__.py
  server/src/testflinger/secrets/vault.py
Due: Server

configure general oidc error handling
  server/src/testflinger/oidc/__init__.py
  server/src/testflinger/oidc/views.py
Due: Server

fix: generalize header rendering when oidc is enabled
  server/src/testflinger/application.py
  server/src/testflinger/templates/_header.html
Due: Server

docs: include OIDC reference in HACKING.md
  server/HACKING.md
Due: Server

feat(server): add set-admin-password action to charm
  server/charm/charmcraft.yaml
  server/charm/src/charm.py
  server/charm/tests/unit/test_charm.py
Due: Server

fix(server): add bcrypt for charm requirements
  server/charm/requirements.txt
Due: Server

fix(server): Retrieve information from remote databag instead of tf charm
  server/charm/src/charm.py
Due: Server

fix(server): add Pymongo for charm requirements
  server/charm/requirements.txt
Due: Server

fix(server): modify evaluation due to charm NotImplemented exception
  server/charm/src/charm.py
Due: Server

docs: add information about testflinger-admin in public documentation
  docs/explanation/agents.rst
  docs/how-to/create-admin-user.rst
  docs/how-to/index.rst
  docs/reuse/links.txt
Due: none

fix(server): remove print statements from charm unit tests
  server/charm/tests/unit/test_charm.py
Due: Server

added suggestions made by reviewer
  server/charm/src/charm.py
Due: Server

fix(cli): assign client_id to auth config for persistent login sessions
  cli/testflinger_cli/auth.py
Due: CLI

refactor(cli): remove authentication from CLI initialization
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/tests/test_cli_auth.py
Due: CLI

chore: improve coverage for the server changes
  server/tests/test_vault_store.py
Due: Server

Remove --all flag in favor of just updating --json
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

Fix test
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

[IQA-3167] Add flag for full agent data JSON output (#805)
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

chore: housekeeping
  server/docker-compose.yml
  server/src/testflinger/secrets/__init__.py
  server/src/testflinger/secrets/mongo.py
  server/uv.lock
Due: Server

chore: refine the store setup functions and improve test coverage
  server/src/testflinger/secrets/__init__.py
  server/tests/test_mongo_store.py
Due: Server

add suggestions made by reviewer
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/errors.py
  cli/testflinger_cli/tests/test_cli_auth.py
Due: CLI

move pytest_iam to dev environment
  server/pyproject.toml
  server/uv.lock
Due: Server

add auth error handling to cli
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/auth.py
Due: CLI

add suggestions made by reviewer
  server/src/testflinger/static/assets/js/filter.js
  server/src/testflinger/static/assets/js/navigation.js
  server/src/testflinger/templates/base.html
Due: Server

chore: refine store setup and add logging
  server/src/testflinger/secrets/__init__.py
Due: Server

chore: update dependencies
  server/pyproject.toml
  server/uv.lock
Due: Server

chore: add Mongo Master Key for local deployment
  server/docker-compose.yml
Due: Server

fix: remove rewrapping with new Master Key: still investigating
  server/src/testflinger/secrets/__init__.py
Due: Server

feat: (temporarily) add a secrets GET endpoint to test store
  server/src/testflinger/api/v1.py
Due: Server

feat(workflows): Introduce ability to release from feature branch
  .github/workflows/server-charm-release.yml
Due: none

fix(cli): resolve login issues caused by stored token (#808)
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/errors.py
  cli/testflinger_cli/tests/test_cli_auth.py
Due: CLI

[CERTTF-444] feat: update CLI to write and delete secrets (#802)
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/auth.py
  cli/tests/__init__.py
  cli/tests/conftest.py
  cli/tests/test_admin_cli.py
  cli/tests/test_autocomplete.py
  cli/tests/test_cli.py
  cli/tests/test_cli_auth.py
  cli/tests/test_client.py
  cli/tests/test_helpers.py
  cli/tests/test_secret.py
  cli/tox.ini
  server/src/testflinger/secrets/__init__.py
  server/src/testflinger/secrets/vault.py
  server/tests/test_vault_store.py
Due: CLI, Server

Create new endpoint for multi agent submission of child jobs
  device-connectors/src/testflinger_device_connectors/devices/multi/multi.py
  device-connectors/src/testflinger_device_connectors/devices/multi/tfclient.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_v1_authorization.py
Due: Device Connectors, Server

Formatting
  device-connectors/src/testflinger_device_connectors/devices/multi/tests/test_multi.py
  device-connectors/src/testflinger_device_connectors/devices/multi/tfclient.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_v1_authorization.py
Due: Device Connectors, Server

Add reservation phase to device connectors
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/multi/multi.py
  device-connectors/src/testflinger_device_connectors/devices/multi/tests/test_multi.py
  device-connectors/src/testflinger_device_connectors/devices/tests/test_devices.py
Due: Device Connectors

[CERTTF-441][CERTTF-444] Server handling of job containing secrets (#801)
  server/API.md
  server/pyproject.toml
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1_secrets.py
  server/tox.ini
  server/uv.lock
Due: Server
