Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

source dev users from the same place
  server/devel/create_sample_users.py
  server/devel/sample_users.py
  server/src/testflinger/dev_signin.py
  server/src/testflinger/oidc/views.py
  server/src/testflinger/templates/_header.html
Due: Server

Remove TF_DEV_AUTO_SIGNIN from docker-compose
  server/docker-compose.yml
Due: Server

consolidate the samle users into one python file and generate the rest of out testing data
  server/devel/dex-config.yaml
  server/devel/generate_sample_users.py
  server/devel/sample_users.py
  server/justfile
  server/src/testflinger/dev_signin.py
  server/src/testflinger/dev_signin_identities.py
  server/src/testflinger/static/assets/css/testflinger.css
  server/tests/test_dev_signin.py
Due: Server

add the env var to the docker compose file to expose the dev users menu
  server/docker-compose.yml
  server/src/testflinger/dev_signin_identities.py
Due: Server

chore(server): docker-compose override + `serve-exposed` for shared testing
  .workshop/justfile
  server/docker-compose.expose.yml
  server/justfile
Due: Server

Modify documentation for server testing configuration
  server/justfile
Due: Server

Clarify OIDC behavior in server start documentation
  .workshop/justfile
Due: none

Add TF_DEV_AUTO_SIGNIN environment variable
  server/docker-compose.expose.yml
Due: Server

Apply batched suggestions from code review
  server/docker-compose.expose.yml
Due: Server

chore(common): add AgentMode enum, deduplicate AgentState/JobState via TestPhase
  common/src/testflinger_common/enums.py
  server/tests/test_enums.py
Due: Common, Server

Refactor _extend_phase function signature
  common/src/testflinger_common/enums.py
Due: Common

trying to get the tests passing
  common/src/testflinger_common/enums.py
  server/tests/test_enums.py
Due: Common, Server

get the tests passing for the bottom of the stack
  agent/pyproject.toml
  agent/uv.lock
  server/tests/test_enums.py
Due: Agent, Server

feat(server): add job statistics on job submission
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

tests: add unit tests for statistics additions
  server/tests/test_database.py
  server/tests/test_v1.py
Due: Server

chore: repo-wide `clean` recipes + ruff config for common
  agent/charms/testflinger-agent-host-charm/justfile
  agent/justfile
  cli/justfile
  common/justfile
  common/pyproject.toml
  common/tests/test_duration.py
  device-connectors/justfile
  justfile
  server/charm/justfile
  server/justfile
  server/src/testflinger/application.py
Due: Agent, CLI, Common, Device Connectors, Server

allow for common to be editable with respect to the agent; added missing docstrings
  agent/pyproject.toml
  agent/uv.lock
  common/src/testflinger_common/enums.py
Due: Agent, Common

just format
  server/src/testflinger/templates/_agent_state_modal.html
Due: Server

feat(server): agent mode/state API with v1 backward compatibility
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
Due: Server

feat(server): agent mode UI — chips, modal, admin controls, demo seed
  server/devel/create_sample_data.py
  server/src/testflinger/static/assets/css/testflinger.css
  server/src/testflinger/templates/_agent_state_modal.html
  server/src/testflinger/templates/_agents_table.html
  server/src/testflinger/templates/_macros.html
  server/src/testflinger/templates/_modal.html
  server/src/testflinger/templates/agent_detail.html
  server/src/testflinger/templates/agents.html
  server/src/testflinger/templates/job_detail.html
  server/src/testflinger/templates/jobs.html
  server/src/testflinger/templates/queue_detail.html
  server/src/testflinger/views.py
  server/tests/test_views.py
Due: Server

move mongo use into database module
  server/src/testflinger/database.py
  server/src/testflinger/templates/_agent_state_modal.html
  server/src/testflinger/templates/_macros.html
  server/src/testflinger/templates/_modal.html
  server/src/testflinger/views.py
  server/tests/test_views.py
Due: Server

added provisioning stats endpoints to get data
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1.py
Due: Server

feat(server): add database get statistics by totals and buckets
  server/src/testflinger/database.py
  server/tests/test_database.py
Due: Server

feat(server): add GET endpoint for statistics
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
Due: Server

tests: add unit tests for statistics endpoint
  server/tests/conftest.py
  server/tests/permissions.json
  server/tests/test_database.py
  server/tests/test_v1.py
Due: Server

refactor: allow contributor to also get statistics
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/conftest.py
  server/tests/permissions.json
  server/tests/test_v1.py
Due: Server

chore: add schema and API roles docs changes
  docs/reference/api-roles-table.txt
  server/schemas/openapi.json
Due: Server

feat: add job statistics UI view
  server/src/testflinger/static/assets/css/testflinger.css
  server/src/testflinger/static/assets/js/tag_input.js
  server/src/testflinger/templates/_job_totals_table.html
  server/src/testflinger/templates/_nav_bar.html
  server/src/testflinger/templates/_users_table.html
  server/src/testflinger/templates/base.html
  server/src/testflinger/templates/statistics.html
  server/src/testflinger/templates/statistics_jobs.html
  server/src/testflinger/views.py
Due: Server

feat: add job buckets statistics
  server/src/testflinger/templates/_job_buckets_table.html
  server/src/testflinger/templates/statistics_jobs.html
  server/src/testflinger/views.py
Due: Server

refactor: nest filters
  server/src/testflinger/templates/statistics_jobs.html
  server/src/testflinger/views.py
Due: Server

tests: add unit tests for statistics page
  server/tests/test_views.py
Due: Server

fix: mount point existence check
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/oem_autoinstall.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_oem_autoinstall.py
Due: Device Connectors

fix: linting quote
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/oem_autoinstall.py
Due: Device Connectors

feat(submit): remove aproxy bypass
  .github/actions/testflinger-setup/README.md
  .github/actions/testflinger-setup/action.yaml
Due: none

docs(submit): update readme
  .github/actions/testflinger-setup/README.md
Due: none

feat(submit): remove aproxy bypass (#1323)
  .github/actions/testflinger-setup/README.md
  .github/actions/testflinger-setup/action.yaml
Due: none

refactor: format statistics as tabs
  server/src/testflinger/templates/_job_totals_table.html
  server/src/testflinger/templates/statistics_jobs.html
Due: Server

refactor: rename buckets to daily
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_database.py
  server/tests/test_v1.py
Due: Server
