Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

new: optional agent_ssh_access flag to indicate whether the agent will have access to the DUT after provisioning
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/tests/test_zapper_iot.py
Due: Device Connectors

better syntax
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
Due: Device Connectors

fix handles
  docs/reference/device-connector-types.rst
Due: none

[WIP] adding workshop and related files -- attempting to set up for server development, not working yet
  .gitignore
  .workshop/ai.yaml
  .workshop/dev.yaml
  justfile
Due: none

feat(oem_autoinstall): support 26.04 racoon provisioning (#1120)
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/default-user-data
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/provision-image.sh
Due: Device Connectors

update server validation
  server/src/testflinger/api/schemas.py
Due: Server

change: keep the DUT off while the control_host is being rebooted (#1131)
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/tests/test_zapper_iot.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
  device-connectors/tests/test_devices.py
  docs/reference/device-connector-conf.rst
  docs/reference/device-connector-types.rst
Due: Device Connectors

feat(server): YAML-render job sections, add Job YAML tab, highlight syntax
  server/devel/create_sample_data.py
  server/docker-compose.yml
  server/pyproject.toml
  server/src/testflinger/application.py
  server/src/testflinger/static/assets/css/pygments.css
  server/src/testflinger/templates/job_detail.html
  server/src/testflinger/views.py
  server/tests/test_views.py
  server/uv.lock
Due: Server

use envvars exclusively for testflinger auth handling to avoid secret exposure
  .github/actions/submit/action.yaml
Due: none

update the other files to also be aware of auth vars
  .github/actions/poll-multi/action.yaml
  .github/actions/queue-status/action.yaml
  .github/actions/submit/action.yaml
Due: none

check that both uname and pass are either both provided or that neigher are provided
  .github/actions/poll-multi/action.yaml
  .github/actions/queue-status/action.yaml
  .github/actions/submit/action.yaml
Due: none

apply feedback from review, use TESTFLINGER_SERVER env var to avoid needed to pass the server arg
  .github/actions/poll-multi/action.yaml
  .github/actions/queue-status/action.yaml
  .github/actions/submit/action.yaml
Due: none

bugfix: Use environment variables for GH submit action. (#1148)
  .github/actions/poll-multi/action.yaml
  .github/actions/queue-status/action.yaml
  .github/actions/submit/action.yaml
Due: none

new: flag to indicate whether the agent will have access to the DUT after provisioning (#1146)
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/tests/test_zapper_iot.py
  server/src/testflinger/api/schemas.py
Due: Device Connectors, Server

added helper function to allow modification of hosts file to be streamlined and exposed proper docker ports using workshops slots and plugs
  .workshop/dev.yaml
  justfile
Due: none

Fix stale docs URL in CLI auth warning
  cli/testflinger_cli/__init__.py
Due: CLI

feat(dev): add device flow to dex IDP
  server/devel/dex-config.yaml
  server/docker-compose.yml
Due: Server

feat(server): add endpoints for device flow authentication
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/application.py
  server/src/testflinger/database.py
  server/src/testflinger/oidc/__init__.py
  server/src/testflinger/oidc/api.py
  server/src/testflinger/oidc/helpers.py
  server/src/testflinger/oidc/views.py
  server/tests/test_oidc.py
Due: Server

tests: add unit tests for oidc api
  server/tests/conftest.py
  server/tests/test_oidc_api.py
Due: Server

feat(cli): add support for OIDC authentication
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/client.py
Due: CLI

tests: add cli tests for oidc flow
  cli/tests/conftest.py
  cli/tests/test_cli_auth.py
Due: CLI

chore(server-charm): remove client_secret as required param for OIDC
  server/charm/src/config.py
  server/charm/tests/unit/test_config.py
Due: Server

feat(server): include oidc routes in schema
  server/devel/openapi_app.py
  server/schemas/openapi.json
Due: Server

fix(agent-charm): flaky integration tests (#1142)
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
Due: Agent

tests: update integration tests to use Juju Factory (#1138)
  .github/workflows/server-tox.yml
  server/charm/tests/integration/conftest.py
  server/charm/uv.lock
Due: Server

add copilot review suggestions
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/auth.py
  cli/tests/test_cli_auth.py
  server/charm/src/config.py
  server/src/testflinger/database.py
  server/tests/test_oidc.py
  server/tests/test_oidc_api.py
Due: CLI, Server

fix: add missing fixture
  cli/tests/conftest.py
Due: CLI

Wrap submit, setup, provision in a retry loop
  .github/actions/submit/action.yaml
Due: none

Add max duration for provision step
  .github/actions/submit/action.yaml
Due: none

Fix handling of job id and poll exit code
  .github/actions/submit/action.yaml
Due: none

jq calls exit code 1 rather than null
  .github/actions/submit/action.yaml
Due: none

Improve logging for unexpected situations
  .github/actions/submit/action.yaml
Due: none

Update readme
  .github/actions/submit/README.md
  .github/actions/submit/action.yaml
Due: none

Improve input descriptions
  .github/actions/submit/README.md
  .github/actions/submit/action.yaml
Due: none

Remove provision timeout
  .github/actions/submit/README.md
  .github/actions/submit/action.yaml
Due: none

Clean up provision timeout leftovers from action
  .github/actions/submit/action.yaml
Due: none

Add whitespace for readability
  .github/actions/submit/action.yaml
Due: none

fix(server-charm): add pydantic validation to CSFLE master key
  server/charm/src/config.py
  server/charm/tests/unit/test_config.py
Due: Server

fix(server-charm): clear stored master key
  server/charm/src/charm.py
  server/charm/tests/unit/test_charm.py
Due: Server

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
