Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

chore: specify juju version as secrets is a requirement
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
Due: Agent

add unit tests for agent authentication
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
Due: Agent

tests: update integration test to match new behavior
  agent/charms/testflinger-agent-host-charm/src/defaults.py
  agent/charms/testflinger-agent-host-charm/tests/integration/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
Due: Agent

tests: add unit tests for testflinger_client
  agent/charms/testflinger-agent-host-charm/src/testflinger_client.py
  agent/charms/testflinger-agent-host-charm/tests/integration/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_client.py
Due: Agent

add jhack to trigger update-status
  .github/workflows/agent-tox.yml
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
Due: Agent

fix: use juju exec instead of jhack
  .github/workflows/agent-tox.yml
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
Due: Agent

fix set active status upon successful authentication
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
Due: Agent

feat: add handling for agent code to use refresh token
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/errors.py
Due: Agent

update charm code to use obtained_at instead of expires_at
  agent/charms/testflinger-agent-host-charm/src/testflinger_client.py
  agent/charms/testflinger-agent-host-charm/tests/integration/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_client.py
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/errors.py
  agent/tests/test_client.py
Due: Agent

tests: add unit tests for agent code
  agent/tests/test_client.py
Due: Agent

chore(cli): add files path to include section along with a fix env
  cli/pyproject.toml
  cli/tox.ini
Due: CLI

chore(devices): add files path to include section along with a fix env
  device-connectors/pyproject.toml
  device-connectors/tox.ini
Due: Device Connectors

chore(common): add files path to include section along with a fix env
  common/pyproject.toml
  common/tox.ini
Due: Common

chore(agent): add files path to include section along with a fix env
  agent/pyproject.toml
  agent/tox.ini
Due: Agent

chore(server): add files path to include section along with a fix env
  server/pyproject.toml
  server/tox.ini
Due: Server

Add user_template_update to schemas
  server/src/testflinger/api/schemas.py
Due: Server

zapper_oem to support runtime autoinstall generation method (#898)
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_zapper_oem.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/zapper_oem.py
  server/src/testflinger/api/schemas.py
Due: Device Connectors, Server

uv sync --upgrade
  device-connectors/uv.lock
Due: Device Connectors

uv sync --upgrade
  server/uv.lock
Due: Server

uv sync --upgrade
  agent/uv.lock
Due: Agent

uv sync --upgrade
  cli/uv.lock
Due: CLI

fix: update the default release from xenial to jammy in maas.py resolves #318
  .gitignore
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
Due: Device Connectors

[CHORE] update ruff config on remaining files that fail ruff check, update .gitignore to not track personal copilot agent data, local build folders, and vim swap files
  .gitignore
  agent/charms/testflinger-agent-host-charm/lib/charms/grafana_agent/v0/cos_agent.py
  docs/.sphinx/get_vale_conf.py
  docs/conf.py
Due: Agent

add reviewers suggestion
  .github/workflows/agent-tox.yml
  .github/workflows/cli-tox.yml
  .github/workflows/common-tox.yml
  .github/workflows/device-tox.yml
  .github/workflows/server-tox.yml
  CONTRIBUTING.md
  agent/pyproject.toml
  agent/tox.ini
  cli/pyproject.toml
  cli/tox.ini
  common/tox.ini
  device-connectors/tox.ini
  server/tox.ini
Due: Agent, CLI, Common, Device Connectors, Server

include format in tox default
  agent/tox.ini
  cli/tox.ini
  common/tox.ini
  device-connectors/tox.ini
  server/tox.ini
Due: Agent, CLI, Common, Device Connectors, Server

chore: format pyproject for all components (#901)
  .github/workflows/agent-tox.yml
  .github/workflows/cli-tox.yml
  .github/workflows/common-tox.yml
  .github/workflows/device-tox.yml
  .github/workflows/server-tox.yml
  CONTRIBUTING.md
  agent/pyproject.toml
  agent/tox.ini
  cli/pyproject.toml
  cli/tox.ini
  common/pyproject.toml
  common/tox.ini
  device-connectors/pyproject.toml
  device-connectors/tox.ini
  server/pyproject.toml
  server/tox.ini
Due: Agent, CLI, Common, Device Connectors, Server

fix(oem_autoinstall): Raise ProvisioningError instead of RecoveryError to avoid agent going offline
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/oem_autoinstall.py
Due: Device Connectors

moved common methods to single connector
  device-connectors/src/testflinger_device_connectors/devices/maas2/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_zapper_oem.py
  device-connectors/src/testflinger_device_connectors/devices/oemscript/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

Unplug USB stick before provisioning (#897)
  device-connectors/src/testflinger_device_connectors/devices/maas2/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oemscript/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

uv sync --upgrade; no CVEs detected after building snap and re-submitting for scanning
  cli/pyproject.toml
  cli/uv.lock
Due: CLI

chore: modify deprecated config-inline to buildkitd-config-inline
  .github/workflows/build-testflinger-testenv-container.yml
  .github/workflows/server-charm-release.yml
Due: none

feat(dev): added just to simplify local development of all components
  docs.just
  justfile
Due: none

docs: update contributing guides with just usage
  CONTRIBUTING.md
Due: none

updated tests to pass new inspections
  cli/tests/test_cli.py
Due: CLI

fix(cli): address cli security vulnerabilities (#904)
  cli/pyproject.toml
  cli/tests/test_cli.py
  cli/uv.lock
Due: CLI

fix(cli): use correct endpoint url for serial logs
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/tests/test_cli.py
  cli/tests/test_client.py
Due: CLI

oem_autoinstall update parameter name from user_template_update to update_user_data
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_zapper_oem.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/zapper_oem.py
  server/src/testflinger/api/schemas.py
Due: Device Connectors, Server

change: Only change the exception type without re-raise to keep things simple
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/oem_autoinstall.py
Due: Device Connectors

style: Fix ruff
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/oem_autoinstall.py
Due: Device Connectors
