Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

add auth bearer logic (#760)
  server/src/testflinger/api/auth.py
Due: Server

Modify CLI to support new logging scheme
  agent/src/testflinger_agent/job.py
  cli/pyproject.toml
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
Due: Agent, CLI

Fix bug in edge case
  agent/src/testflinger_agent/handlers.py
  agent/tests/test_status_handler.py
Due: Agent

refactor(agent): Modify agent status handling and remove tmp files (#752)
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/handlers.py
  agent/tests/test_agent.py
  agent/tests/test_agent_process.py
  agent/tests/test_status_handler.py
Due: Agent

fix: uncaught exception when agent does not exist
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

chore: update charm libraries
  agent/charms/testflinger-agent-host-charm/lib/charms/operator_libs_linux/v0/apt.py
Due: Agent

chore: update charm libraries
  server/charm/lib/charms/data_platform_libs/v0/data_interfaces.py
  server/charm/lib/charms/observability_libs/v0/juju_topology.py
Due: Server

fix: uncaught exception when agent does not exist (#764)
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

Refactor agent output handlers
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/handlers.py
  agent/src/testflinger_agent/job.py
  agent/tests/test_agent.py
  agent/tests/test_handlers.py
  agent/tests/test_job.py
  common/src/testflinger_common/enums.py
Due: Agent, Common

Refactor agent to send combined log fragments as results
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/handlers.py
  agent/src/testflinger_agent/job.py
  agent/tests/test_agent.py
  agent/tests/test_handlers.py
  agent/tests/test_job.py
  server/pyproject.toml
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/test_logging.py
  server/tests/test_results.py
  server/tests/test_v1.py
  server/uv.lock
Due: Agent, Server

Added logging handlers and changed logging endpoints for the server
  server/pyproject.toml
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/application.py
  server/src/testflinger/logs.py
  server/tests/test_logging.py
  server/tests/test_v1.py
  server/uv.lock
Due: Server

Rename Result schema to ResultGet
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
Due: Server

Add database functions to add results
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

Modify CLI to support new logging scheme
  agent/src/testflinger_agent/job.py
  cli/pyproject.toml
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/enums.py
  cli/testflinger_cli/tests/test_cli.py
  cli/testflinger_cli/tests/test_client.py
  cli/uv.lock
  common/src/testflinger_common/enums.py
Due: Agent, CLI, Common

Modify server dockerfile to use common
  server/Dockerfile
Due: Server

Add common module to testflinger server
  .github/workflows/server-charm-release.yml
  server/Dockerfile
  server/devel/docker-compose.override.yml
  server/pyproject.toml
Due: Server

Add uv lock file
  server/Dockerfile
  server/uv.lock
Due: Server

Add reservation phase to multi device connector
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/multi/multi.py
Due: Device Connectors

fix: exempt logo images from LFS
  docs/.gitattributes
  docs/.sphinx/_static/favicon.png
  docs/.sphinx/_static/tag.png
Due: none

add git-lfs to docs Makefile as dependency
  docs/Makefile
Due: none

update RTD build config to support lfs
  .readthedocs.yaml
Due: none

enable fail_on_warning during doc build
  .readthedocs.yaml
  docs/Makefile
Due: none

Move sphinx config to conf.py to match new version
  docs/conf.py
  docs/custom_conf.py
Due: none

Migrate files to extension-based starter-pack 1.2.0
  docs/.custom_wordlist.txt
  docs/.gitignore
  docs/.sphinx/_static/custom.css
  docs/.sphinx/_static/favicon.png
  docs/.sphinx/_static/furo_colors.css
  docs/.sphinx/_static/github_issue_links.css
  docs/.sphinx/_static/github_issue_links.js
  docs/.sphinx/_static/header-nav.js
  docs/.sphinx/_static/header.css
  docs/.sphinx/_static/tag.png
  docs/.sphinx/_templates/base.html
  docs/.sphinx/_templates/footer.html
  docs/.sphinx/_templates/header.html
  docs/.sphinx/_templates/page.html
  docs/.sphinx/get_vale_conf.py
  docs/.sphinx/metrics/build_metrics.py
  docs/.sphinx/metrics/source_metrics.sh
  docs/.sphinx/pa11y.json
  docs/.sphinx/requirements.txt
  docs/.sphinx/update_sp.py
  docs/.sphinx/version
  docs/reuse/substitutions.txt
  docs/reuse/substitutions.yaml
Due: none

Update Makefile from latest starter-pack
  docs/Makefile
Due: none

use new spelling check and clean up old wordlist
  .github/workflows/documentation_checks.yml
  docs/.sphinx/spellingcheck.yaml
  docs/.wordlist.txt
  docs/reference/cli-config.rst
  docs/reference/device-connector-conf.rst
  docs/reference/job-schema.rst
  docs/reference/test-phases.rst
  docs/reference/testflinger-agent-conf.rst
Due: none

update docs contributing guide
  CONTRIBUTING.md
  docs/CONTRIBUTING.md
  docs/README.rst
  docs/conf.py
Due: none

format and minor updates on index homepage
  docs/index.rst
Due: none

fix more spelling
  docs/.custom_wordlist.txt
  docs/how-to/search-job.rst
  docs/reference/device-connector-types.rst
  docs/reference/maas_storage.rst
  docs/reference/testflinger-agent-conf.rst
Due: none

oem_autointall: Add default user-data and grub.cfg for stock provisioning (#751)
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/provision-image.sh
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/stock/default-grub.cfg
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/stock/default-meta-data
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/stock/default-user-data
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_zapper_oem.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/zapper_oem.py
Due: Device Connectors

add tests
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/tests/test_serial_logger.py
Due: Device Connectors

ruff-it
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/tests/test_serial_logger.py
Due: Device Connectors

Modify agent charm configuration of grafana
  agent/charms/testflinger-agent-host-charm/src/charm.py
Due: Agent

feat(server): Add logic for client_permissions endpoint in the API (get, create, edit, delete)
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

fix(server): Modify edit permission to retrieve client_id from endpoint
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

feat(server): Add unit tests for new functionality
  server/tests/test_v1_authorization.py
Due: Server

Use operator-libs-linux passwd
  agent/charms/testflinger-agent-host-charm/src/charm.py
Due: Agent

Add uv lock file
  server/Dockerfile
  server/docker-compose.yml
  server/uv.lock
Due: Server

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
