Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
component_management:
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
    - component_id: server
      name: Server
      paths: [server/**]

docs: add badges to readmes
  README.md
  agent/README.md
  cli/README.md
  common/README.md
  device-connectors/README.md
  server/README.md
Due: Agent, CLI, Common, Device Connectors, Server

ci: add coverage export and upload to codecov (#735)
  .github/workflows/agent-host-charm-release.yml
  .github/workflows/agent-tox.yml
  .github/workflows/build-testflinger-testenv-container.yml
  .github/workflows/cli-publish-snap.yml
  .github/workflows/cli-tox.yml
  .github/workflows/device-tox.yml
  .github/workflows/server-charm-release.yml
  .github/workflows/server-tox.yml
  README.md
  agent/README.md
  agent/tox.ini
  cli/.gitignore
  cli/README.md
  cli/tox.ini
  codecov.yaml
  common/README.md
  device-connectors/.gitignore
  device-connectors/README.md
  device-connectors/tox.ini
  server/.gitignore
  server/README.md
  server/tox.ini
Due: Agent, CLI, Common, Device Connectors, Server

oem_autoinstall: Clarify error messages for provision_data
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/zapper_oem.py
Due: Device Connectors

use cm3-installer-http11 to support downloading with HTTPS URL
  device-connectors/src/testflinger_device_connectors/devices/cm3/cm3.py
Due: Device Connectors

feat: major and minor patterns
  .github/actions/submit/action.yaml
  .github/workflows/submit-action-tags.yml
Due: none

feat: test version increment
  .github/actions/submit/action.yaml
Due: none

feat: major and minor patterns
  .github/workflows/submit-action-tags.yml
Due: none

breaking(submit): commit to test action versioning
  .github/actions/submit/action.yaml
Due: none

feat: add action to update submit action version file
  .github/workflows/submit-action-add-version.yaml
Due: none

feat: use `changed` output
  .github/workflows/submit-action-add-version.yaml
Due: none

feat: get version tag
  .github/workflows/submit-action-add-version.yaml
Due: none

feat: update PR
  .github/workflows/submit-action-add-version.yaml
Due: none

fix: refine PR update
  .github/workflows/submit-action-add-version.yaml
Due: none

chore: create tag
  .github/workflows/submit-action-tags.yml
Due: none

test triggering
  .github/actions/submit/action.yaml
Due: none

Created class with the generalized methods for testflinger cli authentication
  cli/pyproject.toml
  cli/testflinger_cli/auth.py
  cli/uv.lock
Due: CLI

Removed auth references from CLI and instead reference to auth module
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/auth.py
Due: CLI

Added custom errors and modify JWT decoding
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/errors.py
Due: CLI

Remove logger reference from Auth module
  cli/testflinger_cli/auth.py
Due: CLI

Modify default user for legacy client_id's
  cli/testflinger_cli/auth.py
Due: CLI

Modify UT to use environmental variables
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

Includes a refresh_authentication method
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/errors.py
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

Improve auth error messages
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
Due: CLI

Supress errors if retrying expired token
  cli/testflinger_cli/auth.py
Due: CLI

Include unit tests for getting user roles
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

feat: introduce workflow for auto-tagging submit action when merging to main
  .github/actions/submit/action.yaml
  .github/workflows/submit-action-tags.yml
Due: none

feat(submit): test versioning
  .github/workflows/submit-action-tags.yml
Due: none

chore: apply to main
  .github/workflows/submit-action-tags.yml
Due: none

docs(submit): add CONTRIBUTING instructions
  .github/actions/submit/CONTRIBUTING.md
Due: none

Add additional Unit Tests for custom errors
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

fix: zizmor
  .github/workflows/submit-action-tags.yml
Due: none

Remove unecessary lines
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

fix: restore submit action
  .github/actions/submit/action.yaml
Due: none

f
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  agent/charms/testflinger-agent-host-charm/src/charm.py
Due: Agent

f
  agent/charms/testflinger-agent-host-charm/src/charm.py
Due: Agent

Set limits for coverage reports
  codecov.yaml
Due: none

Added codecov.yaml in *-tox.yml workflows
  .github/workflows/agent-tox.yml
  .github/workflows/cli-tox.yml
  .github/workflows/common-tox.yml
  .github/workflows/device-tox.yml
  .github/workflows/server-tox.yml
Due: none

Lower the limits for Agent and Device Connector to match current results
  codecov.yaml
Due: none

(CI): Set limits for coverage reports (#739)
  .github/workflows/agent-tox.yml
  .github/workflows/cli-tox.yml
  .github/workflows/common-tox.yml
  .github/workflows/device-tox.yml
  .github/workflows/server-tox.yml
  codecov.yaml
Due: none

Added suggestions made by reviewer
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/auth.py
Due: CLI
