Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

fix(server): Modify endpoint for creating new client_id and modify tests accordingly
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1_authorization.py
Due: Server

doc(server): Document changes in API reference
  server/API.md
Due: Server

chore: update charm libraries
  server/charm/lib/charms/data_platform_libs/v0/data_interfaces.py
  server/charm/lib/charms/observability_libs/v0/juju_topology.py
  server/charm/lib/charms/prometheus_k8s/v0/prometheus_scrape.py
Due: Server

Refactor agent output handlers
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/handlers.py
  agent/src/testflinger_agent/job.py
  agent/tests/test_agent.py
  agent/tests/test_handlers.py
  agent/tests/test_job.py
  common/src/testflinger_common/enums.py
Due: Agent, Common

Added logging handlers and changed logging endpoints for the server
  server/pyproject.toml
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/application.py
  server/src/testflinger/logs.py
  server/tests/test_logging.py
  server/tests/test_v1.py
  server/uv.lock
Due: Server

Refactor agent to send combined log fragments as results
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/handlers.py
  agent/src/testflinger_agent/job.py
  agent/tests/test_agent.py
  agent/tests/test_handlers.py
  agent/tests/test_job.py
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/test_logging.py
  server/tests/test_results.py
  server/tests/test_v1.py
Due: Agent, Server

Add database functions to add results
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

Rename Result schema to ResultGet
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
Due: Server

Modify CLI to support new logging scheme
  agent/src/testflinger_agent/job.py
  cli/pyproject.toml
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/enums.py
  cli/testflinger_cli/tests/test_cli.py
  cli/testflinger_cli/tests/test_client.py
  cli/uv.lock
  common/src/testflinger_common/enums.py
Due: Agent, CLI, Common

Add reservation phase to multi device connector
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/multi/multi.py
Due: Device Connectors

remove unused doc scripts: metrics and update
  docs/.sphinx/metrics/build_metrics.py
  docs/.sphinx/metrics/source_metrics.sh
  docs/.sphinx/update_sp.py
  docs/Makefile
Due: none

fix(docs): check out files from git-lfs during docs build (#767)
  .readthedocs.yaml
  docs/.gitattributes
  docs/.sphinx/_static/favicon.png
  docs/.sphinx/_static/tag.png
  docs/Makefile
Due: none

temp
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/multi/multi.py
  device-connectors/src/testflinger_device_connectors/devices/multi/tests/test_multi.py
  device-connectors/src/testflinger_device_connectors/devices/tests/test_devices.py
Due: Device Connectors

feat(server): Add logic for client_permissions endpoint in the API (get, create, edit, delete)
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

feat(server): Add unit tests for new functionality
  server/tests/test_v1_authorization.py
Due: Server

fix(server): Modify edit permission to retrieve client_id from endpoint
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

docs(server): added the modifications to the API.md suggested by reviewer
  server/API.md
Due: Server

feat(server): added hierarchy logic suggested by reviewer
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1_authorization.py
Due: Server

fix(server): include comment in individual agent view
  server/src/testflinger/templates/agent_detail.html
Due: Server

change: make serial-logger log an error only once (#761)
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/tests/test_serial_logger.py
Due: Device Connectors

fix(server): include comment in individual agent view (#773)
  server/src/testflinger/templates/agent_detail.html
Due: Server

feat: add server-side human-readable duration format support for reservation timeouts
  cli/testflinger_cli/__init__.py
  common/src/testflinger_common/duration.py
  common/src/testflinger_common/tests/__init__.py
  common/src/testflinger_common/tests/test_duration.py
  docs/reference/test-phases.rst
  server/pyproject.toml
  server/src/testflinger/api/schemas.py
  server/src/testflinger/tests/test_duration_schema.py
  server/uv.lock
Due: CLI, Common, Server

feat(cli): add --jobs flag to queue-status command for job status summary
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/tests/test_cli.py
  docs/tutorial/index.rst
Due: CLI

fix markdown linting config file
  docs/.sphinx/.pymarkdown.json
  docs/CONTRIBUTING.md
Due: none

feat(server): add client permissions related endpoints (#771)
  server/API.md
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_v1_authorization.py
Due: Server

fix(server): prevent client_id to be created from restricted-queue endpoint
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_v1_authorization.py
Due: Server

Docs(infra): migrate Sphinx docs starter-pack to latest extension (#768)
  .github/workflows/documentation_checks.yml
  CONTRIBUTING.md
  docs/.custom_wordlist.txt
  docs/.gitignore
  docs/.sphinx/.pymarkdown.json
  docs/.sphinx/_static/custom.css
  docs/.sphinx/_static/favicon.png
  docs/.sphinx/_static/furo_colors.css
  docs/.sphinx/_static/github_issue_links.css
  docs/.sphinx/_static/github_issue_links.js
  docs/.sphinx/_static/header-nav.js
  docs/.sphinx/_static/header.css
  docs/.sphinx/_static/tag.png
  docs/.sphinx/_templates/base.html
  docs/.sphinx/_templates/footer.html
  docs/.sphinx/_templates/header.html
  docs/.sphinx/_templates/page.html
  docs/.sphinx/get_vale_conf.py
  docs/.sphinx/pa11y.json
  docs/.sphinx/requirements.txt
  docs/.sphinx/spellingcheck.yaml
  docs/.sphinx/version
  docs/.wordlist.txt
  docs/CONTRIBUTING.md
  docs/Makefile
  docs/README.rst
  docs/conf.py
  docs/custom_conf.py
  docs/how-to/search-job.rst
  docs/index.rst
  docs/reference/cli-config.rst
  docs/reference/device-connector-conf.rst
  docs/reference/device-connector-types.rst
  docs/reference/job-schema.rst
  docs/reference/maas_storage.rst
  docs/reference/test-phases.rst
  docs/reference/testflinger-agent-conf.rst
  docs/reuse/substitutions.txt
  docs/reuse/substitutions.yaml
Due: none

chore: update charm libraries
  agent/charms/testflinger-agent-host-charm/lib/charms/operator_libs_linux/v0/apt.py
Due: Agent

feat(server): add set-admin-password action to charm
  server/charm/charmcraft.yaml
  server/charm/src/charm.py
  server/charm/tests/unit/test_charm.py
Due: Server

fix(server): add bcrypt for charm requirements
  server/charm/requirements.txt
Due: Server

fix(server): add Pymongo for charm requirements
  server/charm/requirements.txt
Due: Server

fix(server): Retrieve information from remote databag instead of tf charm
  server/charm/src/charm.py
Due: Server

fix(server): modify evaluation due to charm NotImplemented exception
  server/charm/src/charm.py
Due: Server

docs: add information about testflinger-admin in public documentation
  docs/explanation/agents.rst
  docs/how-to/create-admin-user.rst
  docs/how-to/index.rst
  docs/reuse/links.txt
Due: none

fix(server): remove print statements from charm unit tests
  server/charm/tests/unit/test_charm.py
Due: Server

fix(agent): Bug fix for unhandled exception
  agent/src/testflinger_agent/job.py
Due: Agent
