Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

Create new endpoint for multi agent submission of child jobs
  device-connectors/src/testflinger_device_connectors/devices/multi/multi.py
  device-connectors/src/testflinger_device_connectors/devices/multi/tests/test_multi.py
  device-connectors/src/testflinger_device_connectors/devices/multi/tfclient.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_v1_authorization.py
Due: Device Connectors, Server

Add reservation phase to device connectors
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/multi/multi.py
  device-connectors/src/testflinger_device_connectors/devices/multi/tests/test_multi.py
  device-connectors/src/testflinger_device_connectors/devices/tests/test_devices.py
Due: Device Connectors

fix: modify relation data retrieval to be compatible with newer MongoDb channels
  server/charm/src/charm.py
Due: Server

feat(server): add general oidc integration (#806)
  server/HACKING.md
  server/devel/dex-config.yaml
  server/docker-compose.yml
  server/pyproject.toml
  server/src/testflinger/application.py
  server/src/testflinger/database.py
  server/src/testflinger/oidc/__init__.py
  server/src/testflinger/oidc/views.py
  server/src/testflinger/static/assets/css/testflinger.css
  server/src/testflinger/static/assets/js/navigation.js
  server/src/testflinger/templates/_header.html
  server/src/testflinger/templates/base.html
  server/tests/conftest.py
  server/tests/test_oidc.py
  server/uv.lock
Due: Server

chore: update charm libraries
  agent/charms/testflinger-agent-host-charm/lib/charms/grafana_agent/v0/cos_agent.py
  agent/charms/testflinger-agent-host-charm/lib/charms/operator_libs_linux/v0/apt.py
Due: Agent

feat(server): introduce secrets store based on CSFLE in MongoDB
  server/docker-compose.yml
  server/pyproject.toml
  server/src/testflinger/api/v1.py
  server/src/testflinger/secrets/__init__.py
  server/src/testflinger/secrets/mongo.py
  server/tests/test_mongo_store.py
  server/tests/test_v1_secrets.py
  server/tests/test_vault_store.py
  server/uv.lock
Due: Server

chore: rename environment variable for mongo secrets master key
  server/docker-compose.yml
  server/src/testflinger/secrets/__init__.py
  server/tests/test_mongo_store.py
Due: Server

chore(server): include TESTFLINGER_SECRETS_MASTER_KEY in charm
  server/charm/charmcraft.yaml
  server/charm/src/charm.py
Due: Server

fix(server): typo and remove commented-out code
  server/src/testflinger/secrets/__init__.py
Due: Server

feat(server): add flag to release server charm from branch
  .github/workflows/server-charm-release.yml
Due: none

fix(server): zizmor checks on server charm release workflow
  .github/workflows/server-charm-release.yml
Due: none

fix(server): update terraform config
  server/terraform/main.tf
  server/terraform/variables.tf
Due: Server

fix(server): how to override Docker image
  .github/workflows/server-charm-release.yml
Due: none

fix(server): typo in terraform config
  server/terraform/main.tf
Due: Server

fix: use the default database for the data encryption keys
  server/pyproject.toml
  server/src/testflinger/secrets/__init__.py
Due: Server

fix: use the default database for the data encryption keys
  server/pyproject.toml
  server/src/testflinger/secrets/__init__.py
  server/uv.lock
Due: Server

feat(agent): handle jobs with secrets
  agent/pyproject.toml
  agent/src/testflinger_agent/job.py
  agent/src/testflinger_agent/masking.py
  agent/src/testflinger_agent/runner.py
  agent/tests/test_job.py
  agent/tests/test_masking.py
  agent/tests/test_runner.py
  agent/tox.ini
  agent/uv.lock
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
Due: Agent, Device Connectors

chore: add comments to permission changes
  .github/workflows/agent-host-charm-check-libs.yml
  .github/workflows/agent-host-charm-release.yml
  .github/workflows/build-testflinger-testenv-container.yml
  .github/workflows/charm-update-libs.yml
  .github/workflows/server-charm-check-libs.yml
  .github/workflows/server-charm-release.yml
  .github/workflows/submit-action-tags.yml
Due: none

ci: update checkout action
  .github/workflows/agent-host-charm-check-libs.yml
  .github/workflows/agent-host-charm-release.yml
  .github/workflows/agent-tox.yml
  .github/workflows/build-testflinger-testenv-container.yml
  .github/workflows/charm-promote.yml
  .github/workflows/cli-publish-snap.yml
  .github/workflows/cli-tox.yml
  .github/workflows/common-tox.yml
  .github/workflows/device-tox.yml
  .github/workflows/documentation_checks.yml
  .github/workflows/server-charm-check-libs.yml
  .github/workflows/server-charm-release.yml
  .github/workflows/server-tox.yml
  .github/workflows/submit-action-tags.yml
  .github/workflows/validate-workflows.yml
Due: none

ci: update setup-buildx-action
  .github/workflows/build-testflinger-testenv-container.yml
  .github/workflows/server-charm-release.yml
Due: none

ci: update setup-uv action
  .github/workflows/agent-tox.yml
  .github/workflows/cli-tox.yml
  .github/workflows/common-tox.yml
  .github/workflows/device-tox.yml
  .github/workflows/server-tox.yml
  .github/workflows/validate-workflows.yml
Due: none

ci: update build-push-action action
  .github/workflows/build-testflinger-testenv-container.yml
  .github/workflows/server-charm-release.yml
Due: none

ci: update login-action action
  .github/workflows/build-testflinger-testenv-container.yml
  .github/workflows/server-charm-release.yml
Due: none

ci: update workflows to new zizmor recommendations (#810)
  .github/workflows/agent-host-charm-check-libs.yml
  .github/workflows/agent-host-charm-release.yml
  .github/workflows/agent-tox.yml
  .github/workflows/build-testflinger-testenv-container.yml
  .github/workflows/charm-promote.yml
  .github/workflows/charm-update-libs.yml
  .github/workflows/cli-publish-snap.yml
  .github/workflows/cli-tox.yml
  .github/workflows/common-tox.yml
  .github/workflows/device-tox.yml
  .github/workflows/documentation_checks.yml
  .github/workflows/server-charm-check-libs.yml
  .github/workflows/server-charm-release.yml
  .github/workflows/server-tox.yml
  .github/workflows/submit-action-tags.yml
  .github/workflows/validate-workflows.yml
Due: none

chore(server): remove temporary GET endpoint for secrets
  server/src/testflinger/api/v1.py
Due: Server

chore(server): add encryption algorithm argument to MongoStore
  server/src/testflinger/secrets/mongo.py
  server/tests/test_mongo_store.py
Due: Server

chore(server): catch specific errors when decoding master key
  server/src/testflinger/secrets/__init__.py
  server/tests/test_mongo_store.py
Due: Server

[CERTTF-719] feat(server): introduce secrets store based on CSFLE in MongoDB (#809)
  .github/workflows/server-charm-release.yml
  server/charm/charmcraft.yaml
  server/charm/src/charm.py
  server/docker-compose.yml
  server/pyproject.toml
  server/src/testflinger/secrets/__init__.py
  server/src/testflinger/secrets/mongo.py
  server/terraform/main.tf
  server/terraform/variables.tf
  server/tests/test_mongo_store.py
  server/tests/test_v1_secrets.py
  server/tests/test_vault_store.py
  server/uv.lock
Due: Server

feat(agent): handle jobs containing secrets
  agent/pyproject.toml
  agent/src/testflinger_agent/job.py
  agent/src/testflinger_agent/masking.py
  agent/src/testflinger_agent/runner.py
  agent/tests/test_job.py
  agent/tests/test_masking.py
  agent/tests/test_runner.py
  agent/tox.ini
  agent/uv.lock
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
Due: Agent, Device Connectors
