Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

feat(api): add api doc to restricted queues endpoints
  server/src/testflinger/api/v1.py
Due: Server

feat(api): add api doc for client perm and secrect endpoints
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
Due: Server

feat(api): mark legacy output endpoints as deprecated
  server/src/testflinger/api/v1.py
Due: Server

split server and client changes due to discussion in PR #853
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/helpers.py
  cli/tests/test_cli.py
  cli/tests/test_helpers.py
  docs/how-to/index.rst
  docs/how-to/view-agent-status.rst
Due: CLI

split server and client changes due to discussion in PR #853
  server/HACKING.md
  server/devel/create_sample_data.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/src/testflinger/templates/agent_detail.html
  server/src/testflinger/views.py
  server/tests/test_views.py
Due: Server

Update server/src/testflinger/api/v1.py
  server/src/testflinger/api/v1.py
Due: Server

revert changes to the api that are unrelated to this issue
  server/src/testflinger/api/v1.py
Due: Server

ci: add stale.yml
  .github/workflows/stale.yml
Due: none

docs: update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

restore docs dir, this effort has no changes to docs/
  docs/.custom_wordlist.txt
Due: none

ci: Add workflow to mark old PRs and Issues as stale (#860)
  .github/workflows/stale.yml
  CONTRIBUTING.md
Due: none

enforce default list for optional exclude_agents
  server/src/testflinger/api/schemas.py
Due: Server

improve test coverage
  server/tests/test_views.py
Due: Server

Update cli/tests/test_cli.py
  cli/tests/test_cli.py
Due: CLI

updated per review comments and to increase test coverage
  server/src/testflinger/api/v1.py
  server/tests/test_v1.py
Due: Server

Apply suggestions from code review - uvx commands
  CONTRIBUTING.md
  server/scripts/generate_openapi_schema.py
Due: Server

docs(server): add OpenAPI spec generation and validation workflow (#852)
  .github/workflows/server-tox.yml
  CONTRIBUTING.md
  docs/.custom_wordlist.txt
  docs/.sphinx/_static/swagger-custom.css
  docs/conf.py
  docs/explanation/agents.rst
  docs/reference/device-connector-types.rst
  docs/reference/index.rst
  docs/reference/openapi.rst
  docs/reference/test-phases.rst
  docs/reference/testflinger-agent-conf.rst
  docs/reference/testflinger-server-conf.rst
  docs/reuse/links.txt
  server/devel/openapi_app.py
  server/schemas/openapi.json
  server/scripts/generate_openapi_schema.py
  server/src/testflinger/application.py
  server/tox.ini
Due: Server

update the cron run time to just before 12 UTC
  .github/workflows/stale.yml
Due: none

updated line lengths and ran uvx ruff format to correct style in server directory
  server/devel/openapi_app.py
  server/scripts/generate_openapi_schema.py
  server/tests/test_views.py
Due: Server

move job queue length check to schema and remove dead code to improve coverage
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1.py
Due: Server

updated schema
  server/schemas/openapi.json
Due: Server

chore: bump rust version in Charmcraft files
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  server/charm/charmcraft.yaml
Due: Agent, Server

add custom regex for renovate bot
  renovate.json
  renovate.json5
Due: none

remove unused import
  server/src/testflinger/api/v1.py
Due: Server

chore: bump rust toolchain to latest version (#864)
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  renovate.json
  renovate.json5
  server/charm/charmcraft.yaml
Due: Agent, Server

renovate: include dependency checks removed by enabledManagers
  renovate.json5
Due: none

chore: fix format and linting
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
Due: Server

chore: update api spec json
  server/schemas/openapi.json
Due: Server

renovate: include dependency checks removed by enabledManagers (#865)
  renovate.json5
Due: none

fix docstring
  server/tests/test_views.py
Due: Server

fix(cli): modify incorrect return type
  cli/testflinger_cli/__init__.py
Due: CLI

include delay for network errors and add test to add coverage
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
Due: CLI

add backoff at the client module instead
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/tests/test_cli.py
Due: CLI

fix unit test
  cli/tests/test_cli.py
Due: CLI

fix(cli): modify incorrect return type (#869)
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/tests/test_cli.py
Due: CLI

Reboot control_host before provisioning if it's not reachable
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
Due: Device Connectors

Change: adapt all connectors to run the pre-provisioning hook first
  device-connectors/src/testflinger_device_connectors/devices/cm3/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/dell_oemscript/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/dragonboard/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/fake_connector/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/hp_oemscript/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/lenovo_oemscript/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/multi/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/netboot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/noprovision/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oemrecovery/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oemscript/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
Due: Device Connectors

Re-arranged in functions for clarity
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
Due: Device Connectors

fixup! Reboot control_host before provisioning if it's not reachable
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
Due: Device Connectors

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
