Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

Add SSE reconnect backoff to control host connector
  device-connectors/src/testflinger_device_connectors/devices/control_host/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/control_host/tests/test_control_host.py
Due: Device Connectors

Add SSE resume support to control host connector
  device-connectors/src/testflinger_device_connectors/devices/control_host/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/control_host/tests/test_control_host.py
Due: Device Connectors

Trim redundant inline comments in control host connector
  device-connectors/src/testflinger_device_connectors/devices/control_host/__init__.py
Due: Device Connectors

Improve control host SSE event parsing
  device-connectors/src/testflinger_device_connectors/devices/control_host/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/control_host/tests/test_control_host.py
Due: Device Connectors

add oidc links
  docs/index.rst
Due: none

Refactor control host SSE payload handling
  device-connectors/src/testflinger_device_connectors/devices/control_host/__init__.py
Due: Device Connectors

added unit tests; fixed logging bug
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
Due: Device Connectors

fix(server): reduce slowness when validating client_id and secret_key pair (#1259)
  server/src/testflinger/api/auth.py
  server/tests/test_v1_authorization.py
Due: Server

change maas retry timing to fail fast, I don't think there is any benefit to waiting so long!
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
Due: Device Connectors

move the ip checking around and change how it's done, update tests in response
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
  device-connectors/src/testflinger_device_connectors/devices/tests/test_devices.py
Due: Device Connectors

fix(server): use default access token expiration
  server/src/testflinger/api/v1.py
Due: Server

Control host SSE logs improvements (#1261)
  device-connectors/src/testflinger_device_connectors/devices/control_host/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/control_host/tests/test_control_host.py
Due: Device Connectors

temporarily add more reasons
  server/src/testflinger/api/auth.py
Due: Server

add a leeway
  server/src/testflinger/api/auth.py
Due: Server

feat(server-charm): add configurable leeway
  server/charm/charmcraft.yaml
  server/charm/src/charm.py
  server/charm/src/config.py
  server/src/testflinger/api/auth.py
Due: Server

tests: add tests for testing leeway and jwt error messages
  server/src/testflinger/api/auth.py
  server/tests/test_v1_authorization.py
Due: Server

Apply suggestions from code review
  docs/explanation/authentication.rst
Due: none

fix(server): addresss access_token validation issues (#1262)
  server/charm/charmcraft.yaml
  server/charm/src/charm.py
  server/charm/src/config.py
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1_authorization.py
Due: Server

Docs/auth flows and detail (#1161)
  docs/.custom_wordlist.txt
  docs/conf.py
  docs/explanation/authentication.rst
  docs/how-to/authentication.rst
Due: none

updates to the cli to improve the folder naming and creation; updates to the monitoring for tokens to allow for better testing
  cli/testflinger_cli/auth.py
Due: CLI

grammar
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
Due: Device Connectors

updates to the tests after changing the way that refresh tokens are handled
  cli/testflinger_cli/auth.py
  cli/tests/test_cli_auth.py
Due: CLI

make tests pass and update the server uv.lock file
  server/src/testflinger/views.py
  server/tests/test_views.py
  server/uv.lock
Due: Server

Fix/auth tweaks (#1260)
  cli/testflinger_cli/auth.py
  cli/tests/test_cli_auth.py
Due: CLI

add references for OIDC
  docs/reference/juju-oidc-config.rst
Due: none

docs: add OIDC how-to, reference and explanation (#1254)
  docs/explanation/index.rst
  docs/explanation/oidc-auth.rst
  docs/how-to/administer-server/maintain-testflinger-server.rst
  docs/reference/index.rst
  docs/reference/juju-oidc-config.rst
Due: none

test to see if the deployment information can even be fetched
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
Due: Device Connectors

maas command fix
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
Due: Device Connectors

Apply suggestions from code review
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
Due: Device Connectors

fix tests
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
Due: Device Connectors

Feature/dev maas more detail (#1257)
  .workshop/justfile
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
  device-connectors/src/testflinger_device_connectors/devices/tests/test_devices.py
Due: Device Connectors

add a note about slow startup to the workshop test file
  .workshop/test_workshop_actions.py
Due: none

reduce this change to just adding the search bar
  agent/src/testflinger_agent/agent.py
  server/devel/create_dev_admin.py
  server/devel/create_sample_data.py
  server/devel/dex-config.yaml
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/src/testflinger/templates/job_detail.html
  server/src/testflinger/templates/jobs.html
  server/src/testflinger/views.py
  server/tests/test_v1.py
  server/tests/test_views.py
Due: Agent, Server

Apply suggestions from code review
  server/src/testflinger/templates/jobs.html
Due: Server

ignore the name of this branch, things change. The filter is the purpose, the fields are not
  server/src/testflinger/templates/jobs.html
Due: Server

update the data used for testing to include job submitter; updated web pages to use the "Submitted By" label instead.
  server/devel/create_sample_data.py
  server/devel/create_sample_users.py
  server/devel/sample_users.py
  server/justfile
  server/src/testflinger/templates/_agents_table.html
  server/src/testflinger/templates/agent_detail.html
  server/src/testflinger/templates/job_detail.html
  server/src/testflinger/templates/jobs.html
  server/src/testflinger/templates/queue_detail.html
Due: Server

Feat/filter jobs my (#1264)
  server/src/testflinger/templates/jobs.html
Due: Server

docs: migrate docs hosting site to ubuntu.com/docs (#1127)
  docs/.sphinx/_static/overwrite_links.js
  docs/.sphinx/_templates/footer.html
  docs/.sphinx/_templates/header.html
  docs/conf.py
Due: none
