Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

fix: Add unit tests for oem_autoinstall
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_oem_autoinstall.py
Due: Device Connectors

oem_autoinstall update parameter name from user_template_update to update_user_data (#910)
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_zapper_oem.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/zapper_oem.py
  server/src/testflinger/api/schemas.py
Due: Device Connectors, Server

fix(oem_autoinstall): Raise ProvisioningError instead of RecoveryError to avoid agent going offline (#902)
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/oem_autoinstall.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_oem_autoinstall.py
Due: Device Connectors

Chore: mock HTTP request to HPE Repo
  device-connectors/src/testflinger_device_connectors/fw_devices/HPE/tests/test_HPE.py
Due: Device Connectors

fix(cli): use correct endpoint url for serial logs (#909)
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/tests/test_cli.py
  cli/tests/test_client.py
Due: CLI

remove jsonschema and dependencies as it is no longer used, per review feedback
  device-connectors/pyproject.toml
  device-connectors/uv.lock
Due: Device Connectors

lock in version for python to allow tests to be run with correct version
  common/.python-version
Due: Common

updates to address versions of libraries for the charm build
  server/charm/charmcraft.yaml
  server/charm/requirements.txt
  server/tests/test_v1_secrets.py
  server/uv.lock
Due: Server

update versions of python libraries within and during charm building
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  agent/charms/testflinger-agent-host-charm/requirements.txt
  agent/uv.lock
  common/uv.lock
Due: Agent, Common

added pip to setuptools update for good measure; does not affect overall scan results, however
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
Due: Agent

added pip to setuptools update for good measure; does not affect overall scan results, however
  server/charm/charmcraft.yaml
Due: Server

minor updates to allow for slower process creation
  agent/tests/test_agent_process.py
Due: Agent

Apply suggestion from @ajzobro
  agent/tests/test_main_loop.py
Due: Agent

when unit tests run, an empty dir is left behind
  device-connectors/.gitignore
Due: Device Connectors

Device connector security updates (#914)
  device-connectors/.gitignore
  device-connectors/pyproject.toml
  device-connectors/uv.lock
Due: Device Connectors

Update agent/charms/testflinger-agent-host-charm/requirements.txt
  agent/charms/testflinger-agent-host-charm/requirements.txt
Due: Agent

remove unneccessary pip/setuptool install during charm build
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
Due: Agent

we only need to use requirements.txt to lock revisions during charm build and also needed to lock urllib3
  server/charm/charmcraft.yaml
  server/charm/requirements.txt
  server/schemas/openapi.json
Due: Server

ci: run agent tests on device-connectors modifications
  .github/workflows/agent-tox.yml
  agent/uv.lock
Due: Agent

Server security updates (#917)
  server/charm/requirements.txt
  server/schemas/openapi.json
  server/tests/test_v1_secrets.py
  server/uv.lock
Due: Server

breaking(agent): Require authentication on agent charm
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  agent/charms/testflinger-agent-host-charm/requirements.txt
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/common.py
  agent/charms/testflinger-agent-host-charm/src/defaults.py
  agent/charms/testflinger-agent-host-charm/src/testflinger_client.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_common.py
Due: Agent

test: add unit and integration tests for agent authentication
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/defaults.py
  agent/charms/testflinger-agent-host-charm/src/testflinger_client.py
  agent/charms/testflinger-agent-host-charm/tests/integration/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_client.py
Due: Agent

feat: add handling for agent code to use refresh token
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/errors.py
Due: Agent

tests: add unit tests for agent code
  agent/tests/test_client.py
Due: Agent

update charm code to use obtained_at instead of expires_at
  agent/charms/testflinger-agent-host-charm/src/testflinger_client.py
  agent/charms/testflinger-agent-host-charm/tests/integration/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_client.py
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/errors.py
  agent/tests/test_client.py
Due: Agent

breaking(server): only allow agents to get jobs
  common/src/testflinger_common/enums.py
  server/pyproject.toml
  server/src/testflinger/api/v1.py
  server/src/testflinger/enums.py
  server/uv.lock
Due: Common, Server

tests: add unit test for non auth headers
  server/tests/test_v1.py
Due: Server

tests: fix server unit tests to match agent restriction
  server/schemas/openapi.json
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/schemas.py
  server/src/testflinger/database.py
  server/tests/conftest.py
  server/tests/test_enums.py
  server/tests/test_oidc.py
  server/tests/test_v1.py
  server/tests/test_v1_authorization.py
  server/tests/test_v1_secrets.py
Due: Server

temp: fix uv lock
  agent/uv.lock
Due: Agent

chore(server): add agent as valid role for client_id
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/consts.py
  common/src/testflinger_common/enums.py
  server/schemas/openapi.json
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/src/testflinger/enums.py
  server/tests/conftest.py
  server/tests/test_enums.py
  server/tests/test_oidc.py
  server/tests/test_v1_authorization.py
Due: CLI, Common, Server

ci: run agent tests on device-connectors modifications (#918)
  .github/workflows/agent-tox.yml
  agent/uv.lock
Due: Agent

add config option to define secret
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
Due: Agent

made reboot control host function private
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/tests/test_devices.py
Due: Device Connectors

add: simple rest client
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
Due: Device Connectors

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
