Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

Apply suggestions from code review
  cli/testflinger_cli/__init__.py
Due: CLI

Fix shell command filter status in tutorial (#1215)
  docs/tutorial/index.rst
Due: none

add search to job page, but need to tweak more
  server/src/testflinger/oidc/views.py
  server/src/testflinger/templates/jobs.html
  server/src/testflinger/views.py
Due: Server

add section for installing workshopwq
  CONTRIBUTING.md
Due: none

linting
  server/src/testflinger/templates/agent_detail.html
Due: Server

docs: add OIDC how-to, reference and explanation
  docs/explanation/index.rst
  docs/explanation/oidc-auth.rst
  docs/how-to/administer-server/maintain-testflinger-server.rst
  docs/reference/index.rst
  docs/reference/oidc-config.rst
Due: none

copilot: add review suggestions
  docs/explanation/oidc-auth.rst
  docs/how-to/administer-server/maintain-testflinger-server.rst
  docs/reference/oidc-config.rst
Due: none

Potential fix for pull request finding
  .workshop/justfile
Due: none

More generic control host connectors and related setup (#1239)
  .github/CODEOWNERS
  device-connectors/src/testflinger_device_connectors/data/control_host_kvm/user-data-oem
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/control_host/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/control_host/tests/test_control_host.py
  device-connectors/src/testflinger_device_connectors/devices/control_host_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/control_host_iot/parser.py
  device-connectors/src/testflinger_device_connectors/devices/control_host_iot/tests/test_control_host_iot.py
  device-connectors/src/testflinger_device_connectors/devices/control_host_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/control_host_kvm/tests/test_control_host_kvm.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/control_host_oem.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_control_host_oem.py
  device-connectors/src/testflinger_device_connectors/devices/oemrecovery/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oemscript/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/tests/test_devices.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/tests/test_devices.py
  server/src/testflinger/api/schemas.py
Due: Device Connectors, Server

Add pre-test hook that sets up the control host for the test phase
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/tests/test_devices.py
Due: Device Connectors

Remove zapper connector shims
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/tests/test_devices.py
Due: Device Connectors

Drop zapper compatibility fields
  device-connectors/src/testflinger_device_connectors/devices/control_host/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/control_host_oem.py
Due: Device Connectors

Rename control host provision tests
  server/tests/test_v1.py
Due: Server

cleanup new test
  device-connectors/src/testflinger_device_connectors/devices/control_host_kvm/tests/test_control_host_kvm.py
Due: Device Connectors

heuristics and cmd manipulation to clean muxpi up
  device-connectors/src/testflinger_device_connectors/devices/muxpi/muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
Due: Device Connectors

add suggestions made by reviewer
  docs/explanation/oidc-auth.rst
  docs/how-to/administer-server/maintain-testflinger-server.rst
Due: none

fix spelling
  docs/how-to/administer-server/maintain-testflinger-server.rst
Due: none

Add workshop development files (#1144)
  .gitignore
  .workshop/dev.yaml
  .workshop/justfile
  .workshop/test_workshop_actions.py
  CONTRIBUTING.md
  justfile
  server/justfile
Due: Server

no intent to change CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

update to match feat/add-client-id-to-web
  server/src/testflinger/oidc/views.py
  server/src/testflinger/static/assets/js/filter.js
  server/src/testflinger/templates/agent_detail.html
Due: Server

update to latest workshop justfile
  .workshop/justfile
Due: none

updated the oidc auth flows documentation
  docs/explanation/authentication.rst
Due: none

add reviewer suggestions
  docs/explanation/oidc-auth.rst
  docs/reference/oidc-config.rst
Due: none

rename oidc-config to juju-oidc-config
  docs/explanation/oidc-auth.rst
  docs/how-to/administer-server/maintain-testflinger-server.rst
  docs/reference/index.rst
  docs/reference/juju-oidc-config.rst
Due: none

time to test it out
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
Due: Device Connectors

Feat/table sort (#1252)
  .workshop/justfile
  server/src/testflinger/static/assets/js/filter.js
  server/src/testflinger/templates/_agents_table.html
  server/src/testflinger/templates/agent_detail.html
  server/src/testflinger/templates/jobs.html
  server/src/testflinger/templates/queue_detail.html
  server/src/testflinger/templates/queues.html
Due: Server

address some copilot coments
  device-connectors/src/testflinger_device_connectors/devices/muxpi/muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
Due: Device Connectors

docs: update to use existing rtd address
  docs/.sphinx/_static/overwrite_links.js
  docs/conf.py
Due: none

ci: pin charming actions to stable
  .github/workflows/agent-host-charm-check-libs.yml
  .github/workflows/agent-host-charm-release.yml
  .github/workflows/charm-promote.yml
  .github/workflows/server-charm-check-libs.yml
  .github/workflows/server-charm-release.yml
Due: none

ci: pin charming actions to stable (#1258)
  .github/workflows/agent-host-charm-check-libs.yml
  .github/workflows/agent-host-charm-release.yml
  .github/workflows/charm-promote.yml
  .github/workflows/server-charm-check-libs.yml
  .github/workflows/server-charm-release.yml
Due: none

docs: reorganize home page structure
  docs/index.rst
Due: none

fix(server): reduce slowness on secret key validation
  server/src/testflinger/api/auth.py
Due: Server

tests: extend existing unit test to check hash rounds
  server/tests/test_v1_authorization.py
Due: Server

Apply suggestions from code review
  docs/explanation/authentication.rst
Due: none

Apply suggestions from code review
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
Due: Device Connectors

When the workshop state is 'Off' our justfile recipe wasn't launching it
  .workshop/justfile
Due: none

add comment on HASH_ROUNDS implication
  server/src/testflinger/api/auth.py
Due: Server

docs: restructure home page
  docs/index.rst
Due: none
