Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

chore: add accidentaly removed comments
  .github/actions/submit/action.yaml
Due: none

chore: update README
  README.md
Due: none

add reviewer suggestion
  .github/actions/submit/action.yaml
Due: none

fix(agent): increase chunk size
  agent/src/testflinger_agent/handlers.py
Due: Agent

fix unit tests
  agent/tests/test_handlers.py
  agent/tests/test_job.py
Due: Agent

fix(oem_autoinstall): Update Chrome public key before apt update in user-data (Bugfix)
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/default-user-data
Due: Device Connectors

change(oem_autoinstall): Move rdp config after install in runcmd for consistency
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/default-user-data
Due: Device Connectors

add(oem_autoinstall): user-data to update Chrome public key before apt update and setup rdp (Bugfix) (#949)
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/default-user-data
Due: Device Connectors

fix(agent): increase chunk size for serial data write (#952)
  agent/src/testflinger_agent/handlers.py
  agent/tests/test_handlers.py
  agent/tests/test_job.py
Due: Agent

refactor(submit): modify phase polling to match CLI (#944)
  .github/actions/submit/action.yaml
  README.md
Due: none

Update authlib version to resolve CVE-2026-28802
  server/pyproject.toml
  server/uv.lock
Due: Server

the grep cannot parse all valid yaml file format, change to use python
  .github/actions/submit/action.yaml
Due: none

fix(submit): use yq instead of grep for getting phases
  .github/actions/submit/action.yaml
  .github/actions/testflinger-setup/action.yaml
Due: none

fix: not really waiting until control host goes down
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/tests/test_devices.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

fix(submit): use yq instead of grep for getting phases (#956)
  .github/actions/submit/action.yaml
  .github/actions/testflinger-setup/action.yaml
Due: none

updated docstring
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
Due: Device Connectors

fix: not really waiting until control host goes down (#957)
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/tests/test_devices.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

change: migrate from rpyc to rest APIs
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

Add set_ubuntu_boot for image provision that mkae sure second boot would not boot to usb
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/default-user-data
Due: Device Connectors

Add set_ubuntu_boot for image provision in oem_autoinstall (#958)
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/default-user-data
Due: Device Connectors

one at time
  .github/workflows/cli-publish-snap.yml
Due: none

refactor(agent-charm): move methods to charm utilities (#935)
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/charm_utils.py
  agent/charms/testflinger-agent-host-charm/src/config.py
  agent/charms/testflinger-agent-host-charm/tests/unit/conftest.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm_utils.py
Due: Agent

fix(agent-charm): set ActiveStatus on secret update
  agent/charms/testflinger-agent-host-charm/src/charm.py
Due: Agent

fix(docs): update secret creation with correct key
  docs/how-to/administer-agent-hosts/deploy-testflinger-agent-host.rst
Due: none

tests: add unit test for secret changed
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
Due: Agent

fix(agent-charm): set ActiveStatus on_secret_changed (#960)
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
  docs/how-to/administer-agent-hosts/deploy-testflinger-agent-host.rst
Due: Agent

avoid cleanup in MAAS
  device-connectors/src/testflinger_device_connectors/devices/maas2/__init__.py
Due: Device Connectors

fix(submit): add a wait for completion step
  .github/actions/submit/action.yaml
Due: none

fix(submit): add a wait for completion step (#962)
  .github/actions/submit/action.yaml
Due: none

implement list-agents sub command
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/tests/test_cli.py
Due: CLI

breaking(terraform-agent): update files for agent host deployment (#929)
  .github/workflows/agent-host-terraform-tags.yml
  agent/terraform/CONTRIBUTING.md
  agent/terraform/README.md
  agent/terraform/dev/.gitignore
  agent/terraform/dev/main.tf
  agent/terraform/dev/terraform.tf
  agent/terraform/locals.tf
  agent/terraform/main.tf
  agent/terraform/outputs.tf
  agent/terraform/providers.tf
  agent/terraform/terraform.tf
  agent/terraform/variables.tf
Due: Agent

Add trivy scanning for snaps and charms
  .github/workflows/agent-host-charm-sec-scan.yml
  .github/workflows/cli-publish-snap.yml
  .github/workflows/cli-snap-sec-scan.yml
  .github/workflows/server-charm-release.yml
  .github/workflows/server-charm-sec-scan.yml
Due: none

Add trivy scanning for snaps and charms
  .github/workflows/agent-host-charm-release.yml
  .github/workflows/agent-host-charm-sec-scan.yml
  .github/workflows/cli-publish-snap.yml
  .github/workflows/cli-snap-sec-scan.yml
  .github/workflows/server-charm-release.yml
  .github/workflows/server-charm-sec-scan.yml
Due: none

update commite hash and version comment for the upload sarif action
  .github/workflows/agent-host-charm-release.yml
  .github/workflows/agent-host-charm-sec-scan.yml
  .github/workflows/cli-snap-sec-scan.yml
  .github/workflows/server-charm-release.yml
  .github/workflows/server-charm-sec-scan.yml
Due: none

Integrate security scanning into GitHub Actions workflows (#946)
  .github/workflows/agent-host-charm-release.yml
  .github/workflows/agent-host-charm-sec-scan.yml
  .github/workflows/cli-publish-snap.yml
  .github/workflows/cli-snap-sec-scan.yml
  .github/workflows/server-charm-release.yml
  .github/workflows/server-charm-sec-scan.yml
Due: none

add updated from fix-reserve branch
  cli/testflinger_cli/__init__.py
Due: CLI

Add bandit scanner workflow.
  .github/workflows/device-connectors-scan.yml
Due: none

Update bandit scanner workflow, as the original option had out-dated dependencies.
  .github/workflows/device-connectors-scan.yml
Due: none

Update bandit scanner workflow, forgot the path
  .github/workflows/device-connectors-scan.yml
Due: none

Update title, add concurency limits
  .github/workflows/device-connectors-scan.yml
Due: none

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
