Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

fix: change logic for selecting OCI image when releasing server charm
  .github/workflows/server-charm-release.yml
Due: none

fix: change logic for selecting OCI image when releasing server charm (#815)
  .github/workflows/server-charm-release.yml
Due: none

chore(device): improve coverage
  device-connectors/tests/test_runtest.py
  device-connectors/tox.ini
Due: Device Connectors

fix: mock GET
  agent/tests/test_job.py
Due: Agent

chore(device): improve coverage
  device-connectors/tests/test_runtest.py
Due: Device Connectors

feat(server): add charm set-admin-password action (#776)
  docs/explanation/agents.rst
  docs/how-to/create-admin-user.rst
  docs/how-to/index.rst
  docs/reuse/links.txt
  server/charm/charmcraft.yaml
  server/charm/requirements.txt
  server/charm/src/charm.py
  server/charm/tests/unit/test_charm.py
Due: Server

fix(devices): include `src` in tests
  device-connectors/tox.ini
Due: Device Connectors

feat(server): Impose ordering between server roles
  server/src/testflinger/enums.py
  server/tests/test_enums.py
Due: Server

chore: replace calls to `auth.check_role_hierarchy`
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/v1.py
Due: Server

refactor(server): Specify an ordering between roles (#817)
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/enums.py
  server/tests/test_enums.py
Due: Server

feat(cli): add update command for client-permissions
  cli/testflinger_cli/admin.py
  cli/tests/test_admin_cli.py
Due: CLI

feat(server): server change modification to allow client secret to be rotated
  cli/testflinger_cli/__init__.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1.py
  server/tests/test_v1_authorization.py
Due: CLI, Server

fix tests and modify logic for set
  cli/testflinger_cli/admin.py
  cli/tests/test_admin_cli.py
  cli/tests/test_cli.py
Due: CLI

tests: add unit test for missing client_id in JSON data
  cli/tests/test_admin_cli.py
Due: CLI

typo fixes
  cli/testflinger_cli/admin.py
Due: CLI

typo fix
  cli/testflinger_cli/admin.py
Due: CLI

docs: update docs to match new command
  docs/how-to/manage-client-permissions.rst
Due: none

tests: improve coverage
  cli/tests/test_admin_cli.py
  server/tests/test_v1_authorization.py
Due: CLI, Server

refactor(server): Remove POST client-permissions endpoint for preferred PUT for both creation and update
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_v1_authorization.py
Due: Server

reformat(cli): use only PUT for setting client permissions
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/client.py
  cli/tests/test_admin_cli.py
Due: CLI

minor improvement
  cli/testflinger_cli/admin.py
Due: CLI

docs: Modify docs to match set command
  cli/testflinger_cli/client.py
  docs/how-to/manage-client-permissions.rst
Due: CLI

chore: update charm libraries
  agent/charms/testflinger-agent-host-charm/lib/charms/grafana_agent/v0/cos_agent.py
  agent/charms/testflinger-agent-host-charm/lib/charms/operator_libs_linux/v0/apt.py
Due: Agent

chore: simplify `client-credentials` PUT endpoint
  server/src/testflinger/api/v1.py
Due: Server

Remove unnecessary annotations
  .github/actions/submit/action.yaml
Due: none

fix(server): abort queue status request if queue does not exist
  server/src/testflinger/api/v1.py
  server/tests/test_v1.py
Due: Server

fix(cli): indicate proper fail reason for when queue does not exist
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
Due: CLI

handle other http errors
  cli/testflinger_cli/__init__.py
Due: CLI

added modifications suggested by reviewer
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/client.py
  cli/tests/test_admin_cli.py
  cli/tests/test_cli.py
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_v1.py
  server/tests/test_v1_authorization.py
Due: CLI, Server

typo fix
  server/src/testflinger/api/v1.py
Due: Server

update: add exception handling for sshpass command timeout.
  device-connectors/src/testflinger_device_connectors/devices/muxpi/muxpi.py
Due: Device Connectors

update: add few tests for muxpi.py
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
Due: Device Connectors

update: update the format.
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
Due: Device Connectors

update: fix for format check.
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
Due: Device Connectors

update: fix format.
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
Due: Device Connectors

update: fix to pass ruff check.
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
Due: Device Connectors

update: correct iteration timing.
  device-connectors/src/testflinger_device_connectors/devices/muxpi/tests/test_muxpi.py
Due: Device Connectors

Apply suggestions from code review
  .github/actions/submit/action.yaml
Due: none

Explicitly log job id but not as annotation
  .github/actions/submit/action.yaml
Due: none

Add annotation with job id if job failed
  .github/actions/submit/action.yaml
Due: none
