Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

feat(server): add a validation existance to secrets on submission
  server/src/testflinger/api/v1.py
  server/src/testflinger/secrets/mongo.py
  server/src/testflinger/secrets/store.py
  server/src/testflinger/secrets/vault.py
Due: Server

test: fix server tests
  server/src/testflinger/api/v1.py
  server/src/testflinger/secrets/mongo.py
  server/src/testflinger/secrets/store.py
  server/src/testflinger/secrets/vault.py
  server/tests/test_mongo_store.py
  server/tests/test_v1_secrets.py
  server/tests/test_vault_store.py
Due: Server

feat(server): add lazy index creation for mongodb
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/secrets/mongo.py
  server/src/testflinger/secrets/store.py
  server/src/testflinger/secrets/vault.py
  server/tests/test_mongo_store.py
  server/tests/test_v1_secrets.py
Due: Server

got them passing, had to change how loggers are passed and when they are initialized
  common/src/testflinger_common/enums.py
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/application.py
  server/src/testflinger/owasp/__init__.py
  server/tests/test_owasp_logging.py
Due: Common, Server

adapt to use split endpoints
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/tests/test_zapper_iot.py
Due: Device Connectors

fix(agent): modify path mount for docker container
  agent/charms/testflinger-agent-host-charm/src/tf-cmd-scripts/tf-test
  agent/src/testflinger_agent/client.py
Due: Agent

break out client permissions into such a way that a null or missing client id will not function as a request for all client ids
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

remove dead code, and make a few small tweaks
  server/src/testflinger/api/auth.py
  server/src/testflinger/owasp/views.py
  server/tests/test_v1_authorization.py
Due: Server

change: update schema validation to check for 1 attachment + DRY
  server/src/testflinger/api/schemas.py
  server/tests/test_v1.py
Due: Server

no more sorting, just get first
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
Due: Device Connectors

fix(submit): be sure we call the snap yq command
  .github/actions/submit/action.yaml
Due: none

fix(submit): be sure we call the snap yq command (#1034)
  .github/actions/submit/action.yaml
Due: none

fix(agent): copy artifacts directory from container to rundir
  agent/charms/testflinger-agent-host-charm/src/tf-cmd-scripts/tf-test
  agent/tests/test_client.py
Due: Agent

fix: resolve mypy type errors in cli/testflinger_cli/auth.py
  cli/testflinger_cli/auth.py
Due: CLI

fix(agent): add missing attachment directory to bind mount
  agent/charms/testflinger-agent-host-charm/src/tf-cmd-scripts/tf-test
Due: Agent

add copilot suggestions
  agent/charms/testflinger-agent-host-charm/src/tf-cmd-scripts/tf-test
  agent/tests/test_client.py
Due: Agent

more complete endpoint coverage
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/oidc/views.py
  server/src/testflinger/owasp/__init__.py
  server/src/testflinger/secrets/__init__.py
  server/tests/test_owasp_logging.py
Due: Server

add reviewer suggestions to docstrings
  agent/tests/test_client.py
Due: Agent

preserve exit code from container execution
  agent/charms/testflinger-agent-host-charm/src/tf-cmd-scripts/tf-test
Due: Agent

simplified attachment finder
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
Due: Device Connectors

feat(cli): add arguments to match server expiration feauture
  cli/testflinger_cli/__init__.py
  cli/tests/test_secret.py
Due: CLI

docs: update documentation with new secrets arguments
  docs/how-to/use-secrets.rst
  docs/reference/secrets.rst
Due: none

chore: move things outside try except block
  server/src/testflinger/secrets/mongo.py
Due: Server

Apply copilot suggestions from code review
  server/pyproject.toml
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

Properly test env vars
  server/tests/test_owasp_logging.py
Due: Server

feat(server): complete implementation for VaultStore
  server/src/testflinger/secrets/vault.py
  server/tests/test_vault_store.py
Due: Server

add copilot review suggestions
  cli/testflinger_cli/__init__.py
  docs/how-to/use-secrets.rst
  docs/reference/secrets.rst
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/secrets/mongo.py
  server/src/testflinger/secrets/vault.py
  server/tests/test_mongo_store.py
  server/tests/test_v1_secrets.py
Due: CLI, Server

ci: allow unit tests to run on github-hosted runners
  .github/workflows/agent-tox.yml
  .github/workflows/cli-tox.yml
  .github/workflows/common-tox.yml
  .github/workflows/device-tox.yml
  .github/workflows/server-tox.yml
Due: none

ci: allow charm unit tests to run on github-hosted runners
  .github/workflows/agent-tox.yml
  .github/workflows/server-tox.yml
Due: none

feat(server): add a return with expiration datetime
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/secrets/mongo.py
  server/src/testflinger/secrets/store.py
  server/src/testflinger/secrets/vault.py
  server/tests/test_v1_secrets.py
Due: Server

feat(cli): provide user feedback on the expiration date
  cli/testflinger_cli/__init__.py
  cli/tests/test_secret.py
Due: CLI

cli: account for single use secrets in print
  cli/testflinger_cli/__init__.py
  cli/tests/test_secret.py
Due: CLI

Fix Reserve Job documentation page
  docs/how-to/reserve-job.rst
Due: none

Fix Reserve Job documentation page (#1040)
  docs/how-to/reserve-job.rst
Due: none

more test fixes
  cli/tests/test_cli.py
  common/src/testflinger_common/enums.py
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/oidc/views.py
  server/tests/conftest.py
  server/tests/test_enums.py
  server/tests/test_owasp_logging.py
  server/tests/test_results.py
  server/tests/test_v1.py
  server/tests/test_v1_secrets.py
  server/uv.lock
Due: CLI, Common, Server

fix(cli/auth): resolve mypy errors in cli/testflinger_cli/auth.py (#1028)
  cli/testflinger_cli/auth.py
Due: CLI

ci: allow unit tests to run on github-hosted runners (#1038)
  .github/workflows/agent-tox.yml
  .github/workflows/cli-tox.yml
  .github/workflows/common-tox.yml
  .github/workflows/device-tox.yml
  .github/workflows/server-tox.yml
Due: none

fix(agent): tf-test modify bind mounts in container (#1036)
  agent/charms/testflinger-agent-host-charm/src/tf-cmd-scripts/tf-test
  agent/src/testflinger_agent/client.py
  agent/tests/test_client.py
Due: Agent
