Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

Modify documentation for server testing configuration
  server/justfile
Due: Server

Remove TF_DEV_AUTO_SIGNIN from docker-compose
  server/docker-compose.yml
Due: Server

Add TF_DEV_AUTO_SIGNIN environment variable
  server/docker-compose.expose.yml
Due: Server

source dev users from the same place
  server/devel/create_sample_users.py
  server/devel/sample_users.py
  server/src/testflinger/dev_signin.py
  server/src/testflinger/oidc/views.py
  server/src/testflinger/templates/_header.html
Due: Server

refactor(ci): use GH self-repository syntax (#1307)
  .github/actions/queue-status/action.yaml
  .github/actions/submit/action.yaml
Due: none

added suggestions made by reviewer
  .kb/architecture.md
  .kb/testing.md
  AGENTS.md
  agent/AGENTS.md
  cli/AGENTS.md
  common/AGENTS.md
  device-connectors/AGENTS.md
  docs/AGENTS.md
  server/AGENTS.md
Due: Agent, CLI, Common, Device Connectors, Server

Apply batched suggestions from code review
  server/src/testflinger/database.py
Due: Server

resolve duplicate functions per review
  server/src/testflinger/database.py
Due: Server

remove _id from job data fetch
  server/src/testflinger/database.py
Due: Server

removed get_job_data in favor of a singular database function for job data sans logs
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

update comment to indicate why we have additional checking in place
  server/src/testflinger/database.py
Due: Server

check proper timestamp characteristis, per review feedback
  server/tests/test_v1.py
Due: Server

use a valid job state, clean up a TODO
  agent/src/testflinger_agent/client.py
  agent/tests/test_client.py
Due: Agent

docs: adopt new home page structure
  docs/index.rst
Due: none

Refactor _extend_phase function signature
  common/src/testflinger_common/enums.py
Due: Common

Refactor/use database module (#1292)
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/src/testflinger/views.py
  server/tests/test_v1.py
  server/tests/test_views.py
Due: Server

add additional agent rules as per reviewer suggestion
  AGENTS.md
Due: none

add python rule
  AGENTS.md
Due: none

Apply batched suggestions from code review
  server/docker-compose.expose.yml
Due: Server

ci(docs): add API roles table check in doc workflow
  .github/workflows/documentation_checks.yml
Due: none

Address review comments
  docs/reference/api-roles.rst
  server/scripts/generate_api_roles.py
Due: Server

formatting & linting
  server/scripts/generate_api_roles.py
  server/scripts/generate_openapi_schema.py
Due: Server

improve docstrings for role-related functions
  server/scripts/generate_api_roles.py
Due: Server

ci(server): include scripts directory in ruff linting path
  server/pyproject.toml
Due: Server

format cleanup
  docs/index.rst
Due: none

docs(server): generate the API role-permission table from OpenAPI spec (#1305)
  .github/workflows/documentation_checks.yml
  .github/workflows/server-tox.yml
  CONTRIBUTING.md
  docs/reference/api-roles-table.txt
  docs/reference/api-roles.rst
  server/.pre-commit-config.yaml
  server/justfile
  server/pyproject.toml
  server/scripts/generate_api_roles.py
  server/scripts/generate_openapi_schema.py
  server/tox.ini
Due: Server

chore(common): add AgentMode enum, deduplicate AgentState/JobState via TestPhase
  common/src/testflinger_common/enums.py
  server/tests/test_enums.py
Due: Common, Server

feat(server): add backend changes to store job events
  common/src/testflinger_common/enums.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/src/testflinger/events.py
Due: Common, Server

tests: add unit tests for new events module
  server/tests/test_events.py
Due: Server

tests: add unit tests for database module
  server/tests/test_database.py
Due: Server

refactor(server): remove sorting from db insertion
  server/src/testflinger/database.py
  server/tests/test_database.py
Due: Server

tests: add an extend results unit tests
  server/tests/test_results.py
Due: Server

remove unused param
  server/src/testflinger/events.py
Due: Server

add review suggestions
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/src/testflinger/events.py
Due: Server

add copilot suggestions
  server/src/testflinger/events.py
  server/tests/test_database.py
Due: Server

remove job started event as per review suggestion
  common/src/testflinger_common/enums.py
  server/src/testflinger/events.py
  server/tests/test_events.py
  server/tests/test_results.py
Due: Common, Server

add reviewer suggestions
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_events.py
  server/tests/test_results.py
Due: Server

remove index breaking change
  server/src/testflinger/database.py
Due: Server

trying to get the tests passing
  common/src/testflinger_common/enums.py
  server/tests/test_enums.py
Due: Common, Server

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
