Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

fix imports, and fix the server code to capture the roles we were trying to use.
  server/schemas/openapi.json
  server/scripts/generate_openapi_schema.py
  server/src/testflinger/api/auth.py
Due: Server

shorten the retries and increase the debug output
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
Due: Device Connectors

update test to match the new default retries
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
Due: Device Connectors

Copilot want's explicit behavior
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
Due: Device Connectors

formatting
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
Due: Device Connectors

the numbher is 3
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
Due: Device Connectors

Fix/dev maas2 retry bug (#1269)
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
Due: Device Connectors

more recovery steps when stuck releasing
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
Due: Device Connectors

add tests and maybe some more tests
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
Due: Device Connectors

Potential fix for pull request finding
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
Due: Device Connectors

Feat/device maas better recovery (#1271)
  device-connectors/src/testflinger_device_connectors/devices/maas2/maas2.py
  device-connectors/src/testflinger_device_connectors/devices/maas2/tests/test_maas.py
Due: Device Connectors

chore: update charm libraries
  agent/charms/testflinger-agent-host-charm/lib/charms/grafana_agent/v0/cos_agent.py
Due: Agent

chore: update charm libraries (#1273)
  agent/charms/testflinger-agent-host-charm/lib/charms/grafana_agent/v0/cos_agent.py
Due: Agent

chore(agent): bump typing-extensions to 4.16
  agent/uv.lock
Due: Agent

test(server): cover TEMPLATES_AUTO_RELOAD opt-in in create_flask_app
  server/tests/test_app.py
Due: Server

feat(server): copy job YAML, Job YAML tab, syntax-highlighted job definition (#1147)
  server/devel/create_sample_data.py
  server/docker-compose.yml
  server/pyproject.toml
  server/src/testflinger/application.py
  server/src/testflinger/static/assets/css/pygments.css
  server/src/testflinger/static/assets/css/testflinger.css
  server/src/testflinger/static/assets/js/clipboard.js
  server/src/testflinger/templates/base.html
  server/src/testflinger/templates/job_detail.html
  server/src/testflinger/views.py
  server/tests/test_app.py
  server/tests/test_views.py
  server/uv.lock
Due: Server

restore some of the information from API.md into the docstrings so that they are picked up and used in the openapi spec
  server/schemas/openapi.json
  server/scripts/generate_openapi_schema.py
  server/src/testflinger/api/v1.py
Due: Server

enhancements to include active job information for the agent and to speed up the agent listing
  server/src/testflinger/database.py
  server/src/testflinger/templates/_agents_table.html
  server/src/testflinger/templates/agent_detail.html
  server/src/testflinger/views.py
  server/tests/test_views.py
Due: Server

update openapi.rst file to include required authorized roles
  docs/reference/openapi.rst
Due: none

fix spelling-related issues identified in github spelling check
  docs/.custom_wordlist.txt
  docs/explanation/authentication.rst
Due: none

feat/update api docs generation (#1171)
  docs/.custom_wordlist.txt
  docs/explanation/authentication.rst
  docs/reference/openapi.rst
  server/API.md
  server/README.md
  server/schemas/openapi.json
  server/scripts/generate_openapi_schema.py
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/v1.py
Due: Server

fix formatting/linting errors; update the sample data to be more realistic and for better screenshots
  server/devel/create_sample_data.py
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/templates/agent_detail.html
  server/src/testflinger/templates/job_detail.html
  server/src/testflinger/views.py
Due: Server

fix formatting/linting errors; update the sample data to be more realistic and for better screenshots
  server/src/testflinger/views.py
Due: Server

add agent maintenance mode and associated controls.
  agent/charms/testflinger-agent-host-charm/justfile
  agent/justfile
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/handlers.py
  agent/tests/test_agent.py
  agent/tests/test_init.py
  agent/tests/test_status_handler.py
  cli/justfile
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/client.py
  cli/tests/test_admin_cli.py
  common/justfile
  common/pyproject.toml
  common/src/testflinger_common/enums.py
  common/tests/test_duration.py
  device-connectors/justfile
  justfile
  server/charm/justfile
  server/justfile
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/application.py
  server/src/testflinger/oidc/views.py
  server/src/testflinger/static/assets/css/testflinger.css
  server/src/testflinger/templates/_agent_state_modal.html
  server/src/testflinger/templates/_agents_table.html
  server/src/testflinger/templates/_macros.html
  server/src/testflinger/templates/_modal.html
  server/src/testflinger/templates/agent_detail.html
  server/src/testflinger/templates/job_detail.html
  server/src/testflinger/templates/jobs.html
  server/src/testflinger/templates/queue_detail.html
  server/src/testflinger/views.py
  server/tests/test_enums.py
  server/tests/test_v1.py
  server/tests/test_views.py
Due: Agent, CLI, Common, Device Connectors, Server

format fix
  server/src/testflinger/views.py
Due: Server

docs: add agent navigation guidance
  .kb/agents.md
  .kb/architecture.md
  .kb/testing.md
  AGENTS.md
  agent/AGENTS.md
  cli/AGENTS.md
  common/AGENTS.md
  device-connectors/AGENTS.md
  docs/AGENTS.md
  server/AGENTS.md
Due: Agent, CLI, Common, Device Connectors, Server

Apply suggestions from code review
  server/src/testflinger/templates/_agents_table.html
  server/src/testflinger/templates/agent_detail.html
Due: Server

Potential fix for pull request finding
  server/src/testflinger/templates/queue_detail.html
Due: Server

no double return patjh
  server/src/testflinger/views.py
Due: Server

Update server/tests/test_v1.py
  server/tests/test_v1.py
Due: Server

remove human rule as per review suggestion
  .kb/testing.md
Due: none

updated to remove job id from agent on job completion
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_v1.py
Due: Server

updates per peer review; moved functions to database module and refined the data which is fetched
  agent/src/testflinger_agent/agent.py
  server/devel/create_sample_users.py
  server/devel/dex-config.yaml
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/src/testflinger/views.py
Due: Agent, Server

add endpoint to return basic status information without large sets of data
  agent/src/testflinger_agent/client.py
  agent/tests/test_agent.py
  cli/testflinger_cli/client.py
  cli/tests/test_cli.py
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
Due: Agent, CLI, Server

Update agent to use pathlib for paths, addresses syntax/type warnings
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/client.py
  agent/src/testflinger_agent/job.py
  agent/src/testflinger_agent/runner.py
  agent/tests/test_agent.py
Due: Agent

changes for review comments
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

implement feedback from review
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/job.py
  agent/src/testflinger_agent/runner.py
Due: Agent

updates per peer review
  server/src/testflinger/api/schemas.py
  server/tests/permissions.json
  server/tests/test_results.py
Due: Server

Feat/add client id to web (#1253)
  .workshop/justfile
  .workshop/test_workshop_actions.py
  agent/src/testflinger_agent/agent.py
  server/devel/create_dev_admin.py
  server/devel/create_sample_data.py
  server/devel/create_sample_users.py
  server/devel/dex-config.yaml
  server/devel/sample_users.py
  server/justfile
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/src/testflinger/templates/_agents_table.html
  server/src/testflinger/templates/agent_detail.html
  server/src/testflinger/templates/job_detail.html
  server/src/testflinger/templates/jobs.html
  server/src/testflinger/templates/queue_detail.html
  server/src/testflinger/views.py
  server/tests/test_v1.py
  server/tests/test_views.py
Due: Agent, Server

always the schema
  server/schemas/openapi.json
Due: Server

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
