Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

Add annotation for testflinger failure reason
  .github/actions/submit/action.yaml
Due: none

Fix bash if syntax
  .github/actions/submit/action.yaml
Due: none

Add phase to make annotation more understandable
  .github/actions/submit/action.yaml
Due: none

When not polling add job id as notice
  .github/actions/submit/action.yaml
Due: none

fix(cli): fail job submission early if queue not specified in job
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
Due: CLI

add suggestion made by reviewer
  cli/testflinger_cli/admin.py
Due: CLI

Always print testflinger job id as a notice
  .github/actions/submit/action.yaml
Due: none

Remove job id from other annotations
  .github/actions/submit/action.yaml
Due: none

[CERTTF-443] feat(agent): Secret handling in agents (#813)
  agent/pyproject.toml
  agent/src/testflinger_agent/job.py
  agent/src/testflinger_agent/masking.py
  agent/src/testflinger_agent/runner.py
  agent/tests/test_job.py
  agent/tests/test_masking.py
  agent/tests/test_runner.py
  agent/tox.ini
  agent/uv.lock
  device-connectors/src/testflinger_device_connectors/devices/__init__.py
  device-connectors/tests/test_runtest.py
  device-connectors/tox.ini
Due: Agent, Device Connectors

Use phase name from json result
  .github/actions/submit/action.yaml
Due: none

Github Action: Refactor annotations (#819)
  .github/actions/submit/action.yaml
Due: none

feat(cli/server): improve creation and update of client permissions (#816)
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/client.py
  cli/tests/test_admin_cli.py
  docs/how-to/manage-client-permissions.rst
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/tests/test_v1_authorization.py
Due: CLI, Server

feat(cli): add a connectivity check to fail fast if server is not accesible
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/errors.py
  cli/tests/conftest.py
  cli/tests/test_cli.py
Due: CLI

refactor(cli): remove inconsistent 404s used as health checks
  cli/testflinger_cli/__init__.py
Due: CLI

feat(cli): add response handling for specific VPN errors
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/errors.py
  cli/tests/test_cli.py
  cli/tests/test_cli_auth.py
Due: CLI

fix: Restore network settings in default-user-data for stock
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/stock/default-user-data
Due: Device Connectors

add recommendations made by reviewer
  cli/testflinger_cli/client.py
  cli/testflinger_cli/errors.py
  cli/tests/test_cli.py
  cli/tests/test_cli_auth.py
Due: CLI

fix: Restore network settings in default-user-data for stock (#825)
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/stock/default-user-data
Due: Device Connectors

Add preset support for zapper kvm
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
Due: Device Connectors

Add test and ruff it
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

ruff test
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

Fix retries --> robot_retries
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
Due: Device Connectors

Added logging redesign documentation
  docs/how-to/index.rst
  docs/how-to/retrieve-logs.rst
  docs/reference/test-phases.rst
  server/API.md
Due: Server

Add all other provisioning data as well when we use preset
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
  device-connectors/test.json
Due: Device Connectors

Update the device connect command in readme, fix rtd links and add a note pointing to testflinger agent configs
  device-connectors/README.md
Due: Device Connectors

Add instruction for getting information on each provision type
  device-connectors/README.md
Due: Device Connectors

Add SECURITY.md consistent with Cert Org security policy CERTTF-736
  SECURITY.md
Due: none

Update urllib3 dependency version for testflinger-cli. Fixes CERTTF-739
  cli/uv.lock
Due: CLI

fix(server): abort queue status request if queue does not exist (#820)
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/errors.py
  cli/tests/test_cli.py
  cli/tests/test_cli_auth.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1.py
Due: CLI, Server

delete useless file
  device-connectors/test.json
Due: Device Connectors

Update readme
  device-connectors/README.md
Due: Device Connectors

Update readme with device connector
  device-connectors/README.md
Due: Device Connectors

Add provision cmd
  device-connectors/README.md
Due: Device Connectors

Update device-connectors/README.md
  device-connectors/README.md
Due: Device Connectors

fix(cli): clarify queue position messaging
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
Due: CLI

fix(cli): clarify queue position messaging (#793)
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
Due: CLI

Update device connectors readme (#827)
  device-connectors/README.md
Due: Device Connectors

Add get_credentials and add autoinstall conf case for preset
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

Update device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
Due: Device Connectors

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
