Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

Modified Unit Tests to include additional calls to endpoint
  agent/tests/test_agent.py
Due: Agent

Rebased and fix failing UT
  agent/src/testflinger_agent/client.py
  agent/tests/test_agent.py
Due: Agent

change: Set usb first boot order via user-data script instead of provision-image.sh
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/default-user-data
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/provision-image.sh
Due: Device Connectors

Change: pass part of TF configuration to provision API (#733)
  device-connectors/src/testflinger_device_connectors/devices/zapper/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper/tests/test_zapper.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/tests/test_zapper_iot.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_kvm/tests/test_zapper_kvm.py
Due: Device Connectors

fix(CI): added carryforward under flag_management level (#742)
  codecov.yaml
Due: none

fix: Add unit tests
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_zapper_oem.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/zapper_oem.py
Due: Device Connectors

fix: update unit tests
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_zapper_oem.py
Due: Device Connectors

fix(cli): YAML representer for multi-line blocks
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/helpers.py
  cli/testflinger_cli/tests/test_helpers.py
Due: CLI

Add: grafana dashboard to server charm definition (#728)
  server/charm/src/grafana_dashboards/dashboard.json.tmpl
Due: Server

Disable fail-fast for charm-update-libs.yml
  .github/workflows/charm-update-libs.yml
Due: none

Disable fail-fast for charm-update-libs.yml (#643)
  .github/workflows/charm-update-libs.yml
Due: none

chore: additional docstring line
  cli/testflinger_cli/helpers.py
Due: CLI

fix(cli): YAML representer for multi-line blocks (#743)
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/helpers.py
  cli/testflinger_cli/tests/test_helpers.py
Due: CLI

Add charm libs for observability
  agent/charms/testflinger-agent-host-charm/lib/charms/grafana_agent/v0/cos_agent.py
  agent/charms/testflinger-agent-host-charm/lib/charms/prometheus_k8s/v0/prometheus_scrape.py
Due: Agent

Added charm code to add metrics endpoints to prometheus scrape interface
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  agent/charms/testflinger-agent-host-charm/requirements.txt
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/templates/testflinger-agent.supervisord.conf.j2
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
Due: Agent

Added Unit Test for testing admin cli
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

Created admin cli initial command.
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/client.py
Due: CLI

Rebased and fix issues
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

Included decorator to determine if user is authorised to perform admin cli action
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/auth.py
  cli/testflinger_cli/errors.py
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

Modify logic for changing status if agent under test
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/client.py
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

Included params for client_id and secret key
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/admin.py
Due: CLI

Added enums for Agent Status
  common/pyproject.toml
  common/src/testflinger_common/enums.py
  common/uv.lock
Due: Common

Include agent lock file
  agent/uv.lock
Due: Agent

fix: Load config as dict when init zapper device
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/__init__.py
Due: Device Connectors

feat(common): Added enums for Agent Status (#745)
  agent/uv.lock
  common/pyproject.toml
  common/src/testflinger_common/enums.py
  common/uv.lock
Due: Agent, Common

Initial approach for agent status without tmp files
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/client.py
Due: Agent

Included maintenance for offlining a device
  agent/src/testflinger_agent/agent.py
Due: Agent

Remove all tmp files references
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/client.py
  agent/tests/test_agent.py
  agent/tests/test_agent_process.py
Due: Agent

Included comments when setting an agent state
  agent/src/testflinger_agent/agent.py
Due: Agent

Added restart handler to validate if agent is pending a restart.
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/handlers.py
Due: Agent

Added RestartHandler
  agent/src/testflinger_agent/agent.py
  agent/tests/test_agent.py
Due: Agent

fix: disable offline flag after changing status to allow recovery
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/handlers.py
Due: Agent

Modified Unit Tests to include additional calls to endpoint
  agent/src/testflinger_agent/client.py
  agent/tests/test_agent.py
Due: Agent

Generalize AgentStatusHandler to monitor if offline or restart is needed
  agent/src/testflinger_agent/__init__.py
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/handlers.py
Due: Agent

Added suggestions made by reviewer
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/admin.py
  cli/testflinger_cli/errors.py
  cli/testflinger_cli/tests/test_cli.py
Due: CLI

fix: emit error if only one auth arg is passed
  .github/actions/submit/action.yaml
Due: none

Add grafana agent relation
  agent/charms/testflinger-agent-host-charm/charmcraft.yaml
  agent/charms/testflinger-agent-host-charm/lib/charms/prometheus_k8s/v0/prometheus_scrape.py
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/tests/integration/test_charm_integration.py
Due: Agent

refactor(server): Moved all auth logic from v1.py to new module auth.py
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

Added logging for non 404 error if exception found during execution
  cli/testflinger_cli/admin.py
Due: CLI

oem_autoinstall: Add zapper related keys in provisioning data (#717)
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/default-user-data
  device-connectors/src/testflinger_device_connectors/data/oem_autoinstall/provision-image.sh
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_zapper_oem.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/zapper_oem.py
  server/src/testflinger/api/schemas.py
Due: Device Connectors, Server

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
