Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

make updates to redundant content
  docs/explanation/agents.rst
  docs/how-to/administer-agent-hosts/maintain-testflinger-agent-host.rst
Due: none

added gif and all the tools used to create it, updated status line behavior with respect to printing duplicate status lines, when to print previous status duration information
  cli/testflinger_cli/__init__.py
  cli/testflinger_cli/status_line.py
  cli/tests/test_status_line.py
  docs/images/submit-job.gif
  docs/submit-job.demo.yaml
  docs/submit-job.tape
Due: CLI

remove mistakenly left-in dead-code
  docs/how-to/submit-job.rst
Due: none

chore(deps): update pyproject for cli and server
  cli/pyproject.toml
  cli/uv.lock
  server/pyproject.toml
  server/uv.lock
Due: CLI, Server

fix tests after format changes
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
Due: CLI

breaking(terraform-server): update testflinger terraform module
  server/terraform/.gitignore
  server/terraform/README.md
  server/terraform/cloud-init.yaml
  server/terraform/locals.tf
  server/terraform/main.tf
  server/terraform/outputs.tf
  server/terraform/providers.tf
  server/terraform/terraform.tf
  server/terraform/variables.tf
Due: Server

add uncomitted change
  server/terraform/CONTRIBUTING.md
Due: Server

dev: update development modules
  server/terraform/CONTRIBUTING.md
  server/terraform/README.md
  server/terraform/dev/.gitignore
  server/terraform/dev/cloud-init.yaml
  server/terraform/dev/main.tf
  server/terraform/dev/terraform.tf
  server/terraform/dev/variables.tf
Due: Server

ci: add workflow for tagging terraform module
  .github/workflows/server-terraform-tags.yml
Due: none

add copilot suggestions
  server/terraform/CONTRIBUTING.md
  server/terraform/README.md
  server/terraform/dev/variables.tf
  server/terraform/outputs.tf
Due: Server

ci: update TICS workflow to include server charm coverage
  .github/workflows/tics.yml
Due: none

dev: change kebab-case for snake_case
  server/terraform/CONTRIBUTING.md
  server/terraform/dev/main.tf
Due: Server

tics: manually install charmlibs dependencies
  .github/workflows/tics.yml
Due: none

remove validation from connector side
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/__init__.py
  device-connectors/src/testflinger_device_connectors/devices/zapper_iot/tests/test_zapper_iot.py
Due: Device Connectors

fix(submit): allow submit to be called by nested composite actions
  .github/actions/queue-status/action.yaml
  .github/actions/submit/action.yaml
Due: none

Add release and identifier labels to phase_duration metric.
  agent/src/testflinger_agent/agent.py
  agent/src/testflinger_agent/metrics.py
  agent/src/testflinger_agent/os_release.py
  agent/tests/test_agent.py
  agent/tests/test_os_release.py
Due: Agent

updates to the comments to keep them under 79 char, updates to the use of the word 'completed with' from 'complete with'
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
Due: CLI

refactored headings
  docs/explanation/agents.rst
Due: none

formatting
  docs/explanation/agents.rst
Due: none

add reviewer comments
  server/terraform/dev/main.tf
  server/terraform/dev/terraform.tf
  server/terraform/variables.tf
Due: Server

add .mp4 to .gitattributes
  docs/.gitattributes
Due: none

add large file
  docs/CONTRIBUTING.md
  docs/images/submit-job.mp4
Due: none

apply fix from reveiw
  cli/testflinger_cli/__init__.py
Due: CLI

Apply suggestions from code review
  cli/testflinger_cli/__init__.py
  docs/submit-job.demo.yaml
Due: CLI

fixed testing errors, restored original variable/key names
  cli/testflinger_cli/__init__.py
  cli/tests/test_cli.py
Due: CLI

add reference to make vhs command for documentation upkeep
  docs/CONTRIBUTING.md
Due: none

fix issues with documentation linking, heading-levels, e.g.: Restarting an Agent Host Charm
  docs/how-to/administer-agent-hosts/maintain-testflinger-agent-host.rst
  docs/how-to/administer-agent-hosts/manage-agents.rst
Due: none

feat(server): add config for webhook auth on charm
  server/charm/charmcraft.yaml
  server/charm/src/charm.py
Due: Server

feat(server): update server code to use webhook config values from charm
  server/schemas/openapi.json
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

feat(charm): add typed config to validate configuration
  server/charm/charmcraft.yaml
  server/charm/pyproject.toml
  server/charm/src/charm.py
  server/charm/src/config.py
  server/charm/tests/unit/test_config.py
  server/charm/uv.lock
Due: Server

tests: add and update unit tests for webhook status update
  server/tests/test_v1.py
Due: Server

tmp remove
  server/src/testflinger/api/helpers.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1.py
Due: Server

chore: update WEBHOOK_URL to WEBHOOK_ENDPOINT
  server/charm/src/charm.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1.py
Due: Server

fix: subpath of server webhook
  server/src/testflinger/api/v1.py
  server/tests/test_v1.py
Due: Server

add copilot suggestions
  server/charm/charmcraft.yaml
  server/charm/tests/unit/test_config.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

revert back to webhook_url approach
  server/charm/charmcraft.yaml
  server/charm/src/charm.py
  server/charm/src/config.py
  server/charm/tests/unit/test_config.py
Due: Server

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
