Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: agent
      name: Agent
      paths: [agent/**]
      statuses:
        - type: project
          target: 69%
    - component_id: cli
      name: CLI
      paths: [cli/**]
    - component_id: common
      name: Common
      paths: [common/**]
    - component_id: device
      name: Device Connectors
      paths: [device-connectors/**]
      statuses:
        - type: project
          target: 49%
        - type: patch
          target: 60%
    - component_id: server
      name: Server
      paths: [server/**]

nitpick
  agent/charms/testflinger-agent-host-charm/src/charm.py
Due: Agent

copilot: add review suggestions
  agent/charms/testflinger-agent-host-charm/src/common.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_common.py
Due: Agent

add format
  agent/charms/testflinger-agent-host-charm/tests/unit/test_common.py
Due: Agent

chore(deps): update idna transient dependency to 3.18 [security] (#1159)
  agent/charms/testflinger-agent-host-charm/uv.lock
  agent/uv.lock
  cli/uv.lock
  device-connectors/uv.lock
  server/charm/uv.lock
  server/uv.lock
Due: Agent, CLI, Device Connectors, Server

--no-verify
  server/tests/test_v1_nosql_injection.py
Due: Server

fix(agent-charm): reauthenticate on secret change (#1184)
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/common.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_charm.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_common.py
Due: Agent

feat(server/cli): add email for the "owner" of a client id (#1183)
  cli/testflinger_cli/admin.py
  cli/tests/test_admin_cli.py
  server/schemas/openapi.json
  server/src/testflinger/api/auth.py
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1_authorization.py
Due: CLI, Server

fix(server): add RefreshTokenIn schema
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
Due: Server

tests: update existing tests
  server/tests/test_owasp_logging.py
  server/tests/test_v1_authorization.py
Due: Server

tests: add unit tests for new code
  server/tests/test_v1_authorization.py
Due: Server

fix(server): add input validation to agents/queues
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1.py
Due: Server

fix(server): add schema validation to images endpoint
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/tests/test_v1.py
Due: Server

update schema
  server/schemas/openapi.json
Due: Server

chore: update charm libraries (#1105)
  server/charm/lib/charms/grafana_k8s/v0/grafana_dashboard.py
  server/charm/lib/charms/prometheus_k8s/v0/prometheus_scrape.py
Due: Server

Update /metrics port to it's own port, port 9090, such that it can be served privately in the juju environment without being exposed to the internet
  server/charm/charmcraft.yaml
  server/charm/src/charm.py
  server/src/testflinger/application.py
  server/src/testflinger/views.py
  server/tests/test_app.py
Due: Server

quick fix to update the default TTL from 7 days to 14 days (#1136)
  server/src/testflinger/database.py
  server/tests/test_database.py
Due: Server

fix(agent-charm): do not modify venv in place
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/defaults.py
  agent/charms/testflinger-agent-host-charm/src/testflinger_source.py
Due: Agent

tests: update testflinger source unit tests
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_source.py
Due: Agent

chore: update charm libraries
  server/charm/lib/charms/data_platform_libs/v0/data_interfaces.py
  server/charm/lib/charms/grafana_k8s/v0/grafana_dashboard.py
  server/charm/lib/charms/prometheus_k8s/v0/prometheus_scrape.py
  server/charm/lib/charms/traefik_k8s/v2/ingress.py
Due: Server

modify order of operations
  agent/charms/testflinger-agent-host-charm/src/testflinger_source.py
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_source.py
Due: Agent

ci: use github-hosted runners
  .github/workflows/agent-host-charm-check-libs.yml
  .github/workflows/agent-host-charm-release.yml
  .github/workflows/agent-tox.yml
  .github/workflows/server-charm-check-libs.yml
  .github/workflows/server-charm-release.yml
  .github/workflows/server-tox.yml
Due: none

fix(server): add dex to testflinger compose service deps
  server/docker-compose.yml
Due: Server

chore(agent): add concierge.yaml for agent host
  agent/charms/testflinger-agent-host-charm/concierge.yaml
Due: Agent

docs: update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: update justfiles to modular layout
  agent/charms/testflinger-agent-host-charm/justfile
  agent/justfile
  cli/justfile
  common/justfile
  device-connectors/justfile
  docs.just
  docs/justfile
  justfile
  server/charm/justfile
  server/justfile
Due: Agent, CLI, Common, Device Connectors, Server

docs(server): add just recipes to contribution guide
  server/HACKING.md
Due: Server

ci: use just in workflows
  .github/workflows/agent-tox.yml
  .github/workflows/cli-tox.yml
  .github/workflows/common-tox.yml
  .github/workflows/device-tox.yml
  .github/workflows/server-tox.yml
Due: none

chore: add pre-commit hooks
  .pre-commit-config.yaml
  agent/.pre-commit-config.yaml
  agent/charms/testflinger-agent-host-charm/.pre-commit-config.yaml
  cli/.pre-commit-config.yaml
  common/.pre-commit-config.yaml
  device-connectors/.pre-commit-config.yaml
  docs/.pre-commit-config.yaml
  justfile
  server/.pre-commit-config.yaml
  server/charm/.pre-commit-config.yaml
Due: Agent, CLI, Common, Device Connectors, Server

docs: add pre-commit setup to contribution guide
  CONTRIBUTING.md
Due: none

chore: convert charm makefiles to just recipes
  agent/charms/testflinger-agent-host-charm/Makefile
  agent/charms/testflinger-agent-host-charm/justfile
  server/charm/Makefile
  server/charm/justfile
Due: Agent, Server

fix: apply copilot suggestions
  .github/workflows/server-tox.yml
  CONTRIBUTING.md
  docs/.pre-commit-config.yaml
  docs/justfile
  server/HACKING.md
Due: Server

fix(agent): update agent host charm concierge
  agent/charms/testflinger-agent-host-charm/concierge.yaml
Due: Agent

chore(server): detach testflinger deployment
  server/justfile
Due: Server

chore: use pack instead of charm recipe name
  agent/charms/testflinger-agent-host-charm/justfile
  server/charm/justfile
Due: Agent, Server

lint fix
  agent/tests/test_agent.py
Due: Agent

copilot: add review suggestions
  server/src/testflinger/api/schemas.py
  server/tests/test_v1.py
Due: Server

copilot: add logging for malformed refresh
  server/src/testflinger/api/v1.py
  server/tests/test_owasp_logging.py
Due: Server

updated icons and accessibility text
  docs/.sphinx/_static/swagger-custom.css
  docs/.sphinx/_static/table-roles.css
  docs/conf.py
  docs/reference/api-roles.rst
  docs/reference/index.rst
Due: none

fix for link checks and spelling
  docs/reference/api-roles.rst
  docs/reference/index.rst
Due: none

avoid cleanup in MAAS
  device-connectors/src/testflinger_device_connectors/devices/maas2/__init__.py
Due: Device Connectors
