Repository canonical/testflinger: changes, and which Codecov flags are due for each by the changed paths.
All: Agent, CLI, Common, Device Connectors, Server

tests: add unit tests for v1 module
  server/tests/test_v1.py
Due: Server

feat(server): add API to get agent events
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

feat(server-charm): add variable to manage agent limit
  server/charm/charmcraft.yaml
  server/charm/src/charm.py
  server/charm/src/config.py
Due: Server

feat(server): add UI changes to include events in agent detail view
  server/schemas/openapi.json
  server/src/testflinger/static/assets/css/testflinger.css
  server/src/testflinger/templates/_agent_activity.html
  server/src/testflinger/templates/agent_detail.html
  server/src/testflinger/views.py
Due: Server

tests: add unit tests for views module
  server/tests/test_views.py
Due: Server

feat(server): add backend changes to store job events
  common/src/testflinger_common/enums.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/src/testflinger/events.py
Due: Common, Server

tests: add unit tests for database module
  server/tests/test_database.py
Due: Server

tests: add an extend results unit tests
  server/tests/test_results.py
Due: Server

tests: add unit tests for new events module
  server/tests/test_events.py
Due: Server

refactor(server): remove sorting from db insertion
  server/src/testflinger/database.py
  server/tests/test_database.py
Due: Server

add copilot suggestions
  server/src/testflinger/events.py
  server/tests/test_database.py
Due: Server

Apply batched suggestions from code review
  .github/actions/submit/action.yaml
Due: none

chore: update charm libraries
  agent/charms/testflinger-agent-host-charm/lib/charms/grafana_agent/v0/cos_agent.py
Due: Agent

adjustments to copilot's work
  server/src/testflinger/api/schemas.py
  server/src/testflinger/database.py
  server/src/testflinger/providers.py
  server/tests/conftest.py
  server/tests/test_v1.py
Due: Server

fix(agent): make the agent to acquire the lock instead
  agent/charms/testflinger-agent-host-charm/src/charm.py
  agent/charms/testflinger-agent-host-charm/src/testflinger_source.py
  agent/charms/testflinger-agent-host-charm/src/tf-cmd-scripts/tf-allocate
  agent/charms/testflinger-agent-host-charm/src/tf-cmd-scripts/tf-cleanup
  agent/charms/testflinger-agent-host-charm/src/tf-cmd-scripts/tf-firmware-update
  agent/charms/testflinger-agent-host-charm/src/tf-cmd-scripts/tf-provision
  agent/charms/testflinger-agent-host-charm/src/tf-cmd-scripts/tf-reserve
  agent/charms/testflinger-agent-host-charm/tests/unit/test_testflinger_source.py
  agent/src/testflinger_agent/__init__.py
  agent/tests/test_init.py
Due: Agent

allow for sharing of exposed docker container for testing
  .workshop/justfile
  server/docker-compose.expose.yml
  server/justfile
Due: Server

Typer MVP with 3 commands
  cli/pyproject.toml
  cli/testflinger_cli/cli.py
  cli/testflinger_cli/commands/__init__.py
  cli/testflinger_cli/commands/jobs.py
  cli/testflinger_cli/commands/results.py
  cli/uv.lock
Due: CLI

move the handling of the future state of maintenance to the maintenance mode ticket with the hopes that this one gets implmented first
  agent/src/testflinger_agent/agent.py
  agent/tests/test_agent.py
Due: Agent

revise the solution per review feedback
  server/src/testflinger/database.py
  server/src/testflinger/views.py
  server/tests/test_v1.py
  server/tests/test_views.py
Due: Server

updates based on review feedback
  server/src/testflinger/api/schemas.py
  server/src/testflinger/database.py
  server/tests/test_v1.py
Due: Server

Apply batched suggestions from code review
  agent/src/testflinger_agent/agent.py
Due: Agent

revised per review comments
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/src/testflinger/views.py
Due: Server

change: Call prepare-storage.sh after iso and configs were verified. Make it best offer function, so that failure won't affect existing provision flow
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/oem_autoinstall.py
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_oem_autoinstall.py
Due: Device Connectors

fix: lint ut
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_oem_autoinstall.py
Due: Device Connectors

fix: UT coverage
  device-connectors/src/testflinger_device_connectors/devices/oem_autoinstall/tests/test_oem_autoinstall.py
Due: Device Connectors

add review suggestions
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/src/testflinger/events.py
Due: Server

remove unused param
  server/src/testflinger/events.py
Due: Server

fix(agent): use enum instead of hardcode string
  agent/src/testflinger_agent/client.py
Due: Agent

fix unit test
  agent/tests/test_client.py
Due: Agent

refactor(server): use enums for JobState
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
  server/src/testflinger/views.py
  server/tests/test_v1.py
Due: Server

add timezone awareness to test harness by default
  server/tests/conftest.py
Due: Server

update tests
  agent/tests/test_agent.py
Due: Agent

remove job started event as per review suggestion
  common/src/testflinger_common/enums.py
  server/src/testflinger/events.py
  server/tests/test_events.py
  server/tests/test_results.py
Due: Common, Server

feat(server): add API endpoint to retrieve job events
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
  server/src/testflinger/api/v1.py
  server/src/testflinger/database.py
Due: Server

tests: add unit tests for job events GET
  server/tests/permissions.json
  server/tests/test_v1.py
Due: Server

add copilot suggestion
  server/src/testflinger/database.py
Due: Server

use marshmallow datetime
  server/schemas/openapi.json
  server/src/testflinger/api/schemas.py
Due: Server

update test to match intended behavior
  agent/tests/test_agent.py
Due: Agent

feat: Add script to generate API roles table in docs
  docs/reference/api-roles-table.txt
  docs/reference/api-roles.rst
  server/scripts/generate_api_roles.py
Due: Server

feat: Add API role doc checks and generation to CI
  .github/workflows/server-tox.yml
  CONTRIBUTING.md
  server/.pre-commit-config.yaml
  server/justfile
  server/tox.ini
Due: Server

Path conditions:
  Agent: any of: agent/**
  CLI: any of: cli/**
  Common: any of: common/**
  Device Connectors: any of: device-connectors/**
  Server: any of: server/**
